.ClinicalBadge {
  border-radius: 2px;
  color: $gray-lighter;
  height: 50px;
  padding: 3px 5px;
  position: relative;
  width: 32px;

  &.Transparent {
    border: solid 1px #C9CDCE;
    color: #ccc;
  }

  &-label {
    bottom: 5px;
    font-size: 12px;
    left: 50%;
    min-height: 16px;
    position: absolute;
    transform: translateX(-50%);
  }

  .icon {
    font-size: 14px;
    left: 50%;
    position: absolute;
    top: 10px;
    transform: translateX(-50%);
  }

}

.PatientHabitsContainer {

  height: 50px;

  >.OSInline {
    display: inline-block;
    vertical-align: middle;
  }

}