.ClinicalBadge {
	border: 1px solid $light-grey;
	border-radius: 2px;
	color: $mid-light-grey;
	height: 50px;
	padding: 3px 5px;
	position: relative;
	width: 32px;

	&.ColorZetaBG {
		border: none;
		color: $regular-beta;
	}

	&.ColorLightRedBG {
		border: none;
		color: $regular-red;
	}

	&.ColorLightGreenBG {
		border: none;
		color: $regular-green;
	}

	&-label {
		font-size: $font-size-small;
	}

	.icon {
		font-size: $font-size-heading3;
	}
}

.PatientHabitsContainer {
	display: flex;
	gap: $sapphire-sizes--xsmall;

	> .OSInline {
		display: inline-block;
		vertical-align: middle;
	}
}
