.LayoutBase--sideMenu .LayoutBase-MainMenu {
	bottom: 0;
	top: 0;
	width: calc(100% - 40px);
}

.LayoutBase--sideMenu .LayoutBase-header {
	top: 0;
}

.LayoutBase--sideMenu .LayoutBase-spacer {
	min-height: 44px;
}

.LayoutBase--sideMenu .LayoutBase-topfixedcontent .ManageQueueContainer {
	margin: 16px;
	margin-top: 24px;
	opacity: 1;
	position: absolute;
	-webkit-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
	width: calc(100% - 32px);
}
.LayoutBase--sideMenu .LayoutBase-topfixedcontent .ManageQueueContainer--closed {
	opacity: 0;
}
.LayoutBase--sideMenu .LayoutBase-topfixedcontent .ManageQueueContainer .Columns .Column > div {
	height: 90px;
}

.LayoutBase--sideMenu .LayoutBase-subLayoutContent {
	padding-top: 100px;
}

.LayoutBase--sideMenu.LayoutBase--withTabs .LayoutBase-spacer {
	display: none;
}

.LayoutBase--sideMenu.LayoutBase--withTabs .LayoutBase-MainMenu {
	height: 0;
	position: absolute;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.LayoutBase--sideMenu.LayoutBase--withTabs
	.LayoutBase-MainContent
	.FullScreenTabsWrapper
	.FullScreenTabsWrapper_Container.Dashboard {
	height: 60px;
	padding-left: 60px;
}
.LayoutBase--sideMenu.LayoutBase--withTabs
	.LayoutBase-MainContent
	.FullScreenTabsWrapper
	.FullScreenTabsWrapper_Container.Dashboard
	.TabWrapper {
	height: 55px;
	line-height: calc(55px - 5px);
	padding: 0 30px;
}

.LayoutBase--sideMenu.LayoutBase--withTabs .SideMenu__Title {
	color: #fff;
}

.LayoutBase--sideMenu.LayoutBase--withTabs .SideMenu__PageTitle {
	display: none;
}

.LayoutBase--sideMenu .PatientDetailsLayout.hasHeader .LayoutBase-spacer {
	min-height: 80px;
}
