.TabularScroll-left {
	max-width: 230px;
}

.TabularScroll-center {
	overflow-x: hidden;
}

.TopScrollWrapper {
	height: 20px;
	overflow-x: scroll;
	overflow-y: hidden;
	visibility: hidden;
	width: 0;
}

.TabularScroll-center-table {
	overflow-x: scroll;
	overflow-y: hidden;
	width: fit-content;
}

table - > remove the inline width .TabularScroll .TabularScroll-center td {
	display: inline-block;
	padding: 3px 6px;
	width: 125px;
}

.TabularScroll-left,
.TabularScroll-right {
	flex-basis: 100%;
	font-weight: 700;
	min-width: 200px;
	padding-top: 21px;
}

.TabularScroll table {
	width: auto !important;
}

.TabularScroll tr {
	width: 100px;
}

.TabularScroll .TabularScroll-center td {
	width: 100px;
}

.TabularScroll-center {
	flex-basis: unset;
}

.TabularScroll-left {
	max-width: 230px;
}
