.PanelContainer {
	&.Confirm {
		.PanelMessage {
			font-size: $font-size-normal;
			margin-bottom: 30px;
		}

		.PanelActions {
			.ButtonLink {
				&.Is_Default {
					padding: 0;
				}
			}
		}
	}

	.PanelTitle {
		.PanelContainer {
			&.Confirm {
				.PanelTitle {
					font-family: $font-family-latin-bold;
					font-size: $font-size-heading3;
					margin-bottom: 20px;
				}
			}
		}
	}
}
