.modalPopup {
	@include flex-center-total;

	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 20;

	&.Open {
		display: flex;

		&.showclose {
			.modalPopup_close {
				cursor: pointer;
				display: inline-block;
				font-family: $font-family-latin-bold;
				font-size: 1em;
				max-width: 15px;
				position: absolute;
				right: 30px;
				top: 30px;
			}
		}

		.modalPopup_container {
			@include shadow-large;

			background-color: $regular-white;
			border-radius: $border-radius-medium;
			display: block;
			max-height: 80%;
			min-width: 250px;
			overflow: auto;
			padding: $sapphire-sizes--medium;
			position: fixed;
			width: auto;
			z-index: 60;
		}

		.modalPopup_close {
			display: none;
		}

		.modalPopup_title {
			color: $dark-grey;
			font-family: $font-family-latin-bold;
			font-size: 25px;
			margin-bottom: 20px;
			text-align: center;

			&:empty {
				content: '\00a0';
			}
		}

		.modalPopup_content {
			height: 100%;
			text-align: center;
		}

		.modalPopup_div {
			background: rgba(0, 0, 0, 0.3);
			height: 100%;
			left: 0;
			overflow: none;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 50;
		}

		.modalPopup_actions {
			margin-top: $sapphire-sizes--medium;
			text-align: right;
		}
	}
}

.CustomModalPopup {
	margin: -16px;

	&__Header {
		align-items: center;
		border-bottom: 1px solid $light-grey;
		display: inline-flex;
		font-size: 14px;
		justify-content: space-between;
		padding: $sapphire-sizes--large;
		width: 100%;
	}

	&__Content {
		padding: $sapphire-sizes--large;
	}
}
