.modalPopup {
	display: none;

	&.Open {
		display: block;

		&.showclose {
			.modalPopup_close {
				cursor: pointer;
				display: inline-block;
				font-family: $font-family-latin-bold;
				font-size: $font-size-small;
				max-width: 15px;
				position: absolute;
				right: 10px;
				top: 5px;
			}
		}

		.modalPopup_container {
			background-color: $regular-white;
			display: block;
			left: 50%;
			max-height: 80%;
			min-width: 250px;
			overflow: auto;
			padding: 10px 15px;
			position: fixed;
			top: 50%;
			transform: translate(-50%, -50%);
			width: auto;
			z-index: 60;
		}

		.modalPopup_close {
			display: none;
		}

		.modalPopup_title {
			color: $dark-grey;
			font-family: $font-family-latin-bold;
			font-size: 25px;
			margin-bottom: 20px;
			text-align: center;

			&:empty {
				content: '\00a0';
			}
		}

		.modalPopup_content {
			color: $dark-grey;
			font-size: $font-size-heading3;
			height: 100%;
			margin-bottom: 20px;
			text-align: center;
		}

		.modalPopup_div {
			background: rgba(0, 0, 0, 0.3);
			height: 100%;
			left: 0;
			overflow: none;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 50;
		}

		.modalPopup_actions {
			text-align: right;
		}
	}
}
