body.PanelById.PanelOpened {
	overflow: hidden;
	position: static;
}

.PanelById {
	-servicestudio-height: auto !important;
	-servicestudio-position: relative !important;
	-servicestudio-width: 100% !important;

	.Panel {
		-servicestudio-display: block !important;
		display: none;
		-servicestudio-margin: 0 auto !important;
		-servicestudio-position: relative !important;
	}

	.PanelBackground {
		background-image: radial-gradient(
			circle at 50% 100%,
			rgba(0, 0, 0, 0.05),
			rgba(0, 0, 0, 0.2)
		);
		bottom: 0;
		color: #252525;
		-servicestudio-display: none !important;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		transition: all 0.14s ease;
		z-index: 20;
	}
	.PanelContainer {
		background: $sapphire-white;
		border: solid 1px $light-grey;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
		-servicestudio-display: block !important;
		display: none;
		left: 50%;
		max-width: 800px;
		overflow: visible !important;
		padding: 30px 20px;
		position: fixed;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -50%);
		-servicestudio-width: 1500px !important;
		width: 100%;
		-servicestudio-z-index: 0;
		z-index: 101;
	}

	.PanelContainer.done {
		bottom: 0;
	}
	.PanelTitle {
		color: $dark-blue;
		font-family: $font-family-bold;
		font-size: $font-size-heading3;
		margin-bottom: 20px;
	}

	.PanelMessage {
		font-size: 13px;
		margin-bottom: 20px;

		.CheckboxInput {
			margin-top: 10px;
		}
	}
}

.desktop {
	&.hd {
		.PanelById {
			.PanelContainer {
				max-height: 700px;
				top: 50%;
			}
		}
	}

	&.small {
		.PanelById {
			.PanelContainer {
				max-height: 600px;
				overflow-y: auto;
				top: 50%;
			}
		}
		.PanelContainer {
			max-height: 487px;
			overflow-y: auto;
			top: 60%;
		}
	}
}

.Panel .PanelContainer {
	-servicestudio--webkit-transform: translate(0, 0) !important;
	-servicestudio-height: 100% !important;
	-servicestudio-left: 0 !important;
	-servicestudio-position: relative !important;
	-servicestudio-top: 0 !important;
	-servicestudio-width: 100% !important;
}
