.BigInput {
	&,
	input,
	select {
		font-size: 24px;
		height: 45px;
		-servicestudio-margin-left: 100px;
		width: 100%;
	}

	div {
		-servicestudio-margin-bottom: 40px;
		-servicestudio-white-space: nowrap;
		-servicestudio-width: 100%;
	}
}
