.Button.ButtonDefault,
.Button.Is_Default,
a.ButtonDefault,
a.Button.Is_Default,
input.Button,
a.Button {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    border: 1px solid color(primary-dark);
    border-radius: 2px;
    background-color: color(primary);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    height: 3rem;
    font-family: 'globerbold';
    font-size: 1.2rem;
    line-height: 3rem;
    min-width: 10rem;
    text-decoration: none;
    white-space: nowrap;
}

.isTouch .Button.ButtonDefault,
.isTouch .Button.Is_Default,
.isTouch a.ButtonDefault,
.isTouch a.Button.Is_Default,
.isTouch input.Button,
.isTouch a.Button {
    font-size: 22px !important;
    line-height: 50px;
    height: 50px;
}

.isTouch a.Button:focus,
.isTouch a.Button:active,
.isTouch a.Button:hover:active {
    line-height: 50px;
    height: 50px;
    font-size: 22px !important;
}

.isTouch a.Button.Third:focus,
.isTouch a.Button.Third:active,
.isTouch a.Button.Third:hover:active,
.isTouch a.Button.Second:focus,
.isTouch a.Button.Second:active,
.isTouch a.Button.Second:hover:active {
    line-height: 50px;
    height: 50px;
    font-size: 22px !important;
}

.Button.ButtonDefault:active,
.Button.Is_Default:active,
a.ButtonDefault:active,
a.Button.Is_Default:active,
input.Button:active,
a.Button:active {
    border: 1px solid color(primary);
    background-color: color(primary-light);
    text-decoration: none;
}

.Button.ButtonDefault:focus,
.Button.Is_Default:focus,
a.ButtonDefault:focus,
a.Button.Is_Default:focus,
input.Button:focus,
a.Button:focus,
.desktop a.Button:focus {
    border: 1px solid color(primary);
    background: linear-gradient(180deg, color(primary-lighter) 0%, color(primary-light) 100%);
    box-shadow: inset 0 2px 0 0 color(primary-lighter), 0 0 0 2px #FFFFFF, 0 0 1px 3px color(primary-lighter);
    text-decoration: none;
}

input.Button:active,
input.Button:hover,
input.Button:hover:active,
a.Button:hover,
a.Button:hover:active,
.desktop a.Button:hover,
.desktop a.Button:hover:active,
.desktop .Button.ButtonDefault:hover,
.desktop .Button.Is_Default:hover,
.desktop .Button.ButtonDefault:hover:active,
.desktop .Button.Is_Default:hover:active {
    border: 1px solid color(primary);
    background: linear-gradient(180deg, color(primary-lighter) 0%, color(primary-light) 100%);
    box-shadow: inset 0 2px 0 0 rgba(26, 120, 154, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
}

a.Button.Small,
.Button.Small {
    min-width: 76px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
    line-height: 24px;
    text-decoration: none;
}

a.Button.Small:hover,
a.Button.Small:hover:active,
desktop a.Button.Small:hover,
.desktop a.Button.Small:hover:active,
a.Button.Small:focus,
.desktop a.Button.Small:focus {
    min-width: 76px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
    line-height: 24px;
    text-decoration: none;
}

/*******/

input.Button.Second,
a.Button.Second {
    background: linear-gradient(180deg, color(secondary) 0%, color(secondary-light) 100%);
    border: 1px solid color(secondary-dark);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

a.Button.Second:before {
    color: #fff;
}

input.Button.Second:focus,
a.Button.Second:focus {
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 1px 3px #7BB2BF;
    border: 1px solid #0A939C;
    border-radius: 2px;
    border-radius: 2px;
    background: color(secondary-light);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

input.Button.Second:hover,
input.Button.Second:hover:active,
a.Button.Second:hover,
.desktop a.Button.Second:hover,
a.Button.Second:hover:active,
.desktop a.Button.Second:hover:active {
    background: color(secondary-light);
    border-radius: 2px;
    border: 1px solid color(secondary);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

input.Button.Second:active,
a.Button.Second:active {
    background-color: #0DB7C2;
    border-radius: 2px;
    border: 1px solid #0A939C;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

input.Button.Second[disabled],
a.Button.Second[disabled],
a.Button.Second:disabled {
    border: 1px solid #9EC0C2;
    border-radius: 2px;
    background: #BFD2D3;
    font-size: 14px;
    color: #6FA0A3;
    font-weight: bold;
    text-decoration: none;
}

input.Button.Second[disabled]:before,
a.Button.Second[disabled]:before,
a.Button.Second:disabled:before {
    color: #6FA0A3;
}

input.Button.Third,
a.Button.Third,
a.Button.Cancel {
    border: 1px solid #C8D8DC;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    color: #262626;
    text-decoration: none;
}

input.Button.Third:before,
a.Button.Third:before,
a.Button.Cancel:before {
    color: #262626;
}

input.Button.Third:hover,
input.Button.Third:active:hover,
a.Button.Third:hover,
a.Button.Third:active:hover,
.desktop a.Button.Third:hover,
.desktop a.Button.Third:active:hover,
a.Button.Cancel:hover,
a.Button.Cancel:active:hover,
.desktop a.Button.Cancel:hover,
.desktop a.Button.Cancel:active:hover {
    border: 1px solid #C8D8DC;
    border-radius: 2px;
    background: #EFF4F6;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    color: #262626;
    text-decoration: none;
}

input.Button.Third:focus,
a.Button.Third:focus,
a.Button.Cancel:focus {
    border: 2px solid color(secondary-darker);
    border-radius: 2px;
    background: #FFFFFF;
    box-shadow: 0 0 6px 0 #7BB2BF;
    color: #262626;
    text-decoration: none;
    line-height: 35px;
}

input.Button.Third:active,
a.Button.Third:active,
a.Button.Cancel:active {
    border: 1px solid #DAE0E4;
    border-radius: 2px;
    background-color: #DDE9EE;
    color: #0D1D22;
    text-decoration: none;
}

input.Button.Third[disabled],
a.Button.Third[disabled],
a.Button.Third:disabled,
a.Button.Cancel:disabled,
a.Button.Cancel[disabled] {
    border: 1px solid #DCDDDD;
    border-radius: 2px;
    background-color: #E9E9E9;
    color: #B1B5B6;
    text-decoration: none;
}

input.Button.Third[disabled]:before,
a.Button.Third[disabled]:before,
a.Button.Third:disabled:before,
a.Button.Cancel:disabled:before,
a.Button.Cancel[disabled]:before {
    color: #B1B5B6;
}

a.Button.Third.Small {
    font-size: 12px;
}

a.Button.Second.Small,
a.Button.Third.Small,
a.Button.Second.Small:hover,
a.Button.Third.Small:hover,
a.Button.Second.Small:focus,
a.Button.Third.Small:focus,
a.Button.Second.Small:active,
a.Button.Third.Small:active,
a.Button.Second.Small:active:hover,
a.Button.Third.Small:active:hover {
    font-size: 12px;
    line-height: 25px;
}


/*Button IsDefault Cancel*/
.Button.Is_Default.Cancel,
 a.Button.Is_Default.Cancel {
    border: 1px solid #0E4056;
    background-color: #295A6E;
    color:#fff;
}
.Button.Is_Default.Small.Cancel{
   min-width: 76px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
    line-height: 24px;
    text-decoration: none;
}
a.Button.Second.Small.Cancel:focus:before,
a.Button.Second.Small.Cancel:hover:before,
a.Button.Second.Small.Cancel:before,
a.Button.Second.Small.Cancel,
.Button.Is_Default.Cancel:before,
a.Button.Is_Default.Cancel:before {
    content: "\e60c";
    color: #fff;
}
a.Button.Is_Default.Cancel:hover{
    border: 1px solid #255569;
    background: linear-gradient(180deg, #00698E 0%, #006185 100%);
    box-shadow: inset 0 2px 0 0 rgba(26, 120, 154, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
}
a.Button.Is_Default.Cancel:focus{
    box-shadow: inset 0 2px 0 0 rgba(26, 120, 154, 0.5), 0 0 0 2px #FFFFFF, 0 0 1px 3px #7BB2BF;
}
a.Button.Is_Default.Cancel:hover:active,
a.Button.Is_Default.Cancel:active{
    border: 1px solid #255569;
    background-color: #00729B;
    text-decoration: none;
    color:#fff;
}


a.Button.Second.Small.Cancel:hover{
        background: linear-gradient(180deg, #0EBEC8 0%, #0CB3BF 100%);
}
a.Button.Second.Small.Cancel:focus{
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 1px 3px #7BB2BF;
    border: 1px solid #0A939C;
    border-radius: 2px;
    border-radius: 2px;
    background: linear-gradient(180deg, #0EBEC8 0%, #0CB3BF 100%);
    font-size: 14px;
    color: #fff;
}



.tablet.portrait a.Button.Third.Small:active,
.tablet.portrait a.Button.Third.Small:focus,
.tablet.portrait a.Button.Third.Small:hover {
    line-height: 18px;
}


.tablet.portrait a.Button.Third.Small:hover:active {
    line-height: 12px;
}


.tablet.portrait a.Button.Second.Small:hover,
.tablet.portrait a.Button.Second.Small:active {
    line-height: 18px;
}


.ie8 .Button,
.ie8 a.Button {
    border-bottom-width: 1px;
}

.Button.Link,
a.Button.Link {
    color: color(secondary-darker);
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    box-shadow: none;
    border: none;
    font-weight: bold;
}

.desktop .Button.Link:hover,
.desktop a.Button.Link:hover,
a.Button.Link:hover,
.Button.Link:hover,
a.Button.Link:active,
.Button.Link:active,
.a.Button.Link.active,
.Button.Link.active,
.Button.Link:focus,
a.Button.Link:focus {
    color: color(secondary-darker);
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    box-shadow: none;
    border: none;
    text-decoration: underline;

}

a.Button.Link[disabled],
.Button.Link:disabled {
    color: #B1B5B6;
    font-weight: bold;
    font-size: 14px;
    background: transparent;
    box-shadow: none;
    border: none;
    text-decoration: none;
}

/* Styles for Disabled Buttons  */
.Button[disabled],
.Button:disabled,
.Button.Is_Default[disabled],
.Button.ButtonDefault[disabled],
.Button.Is_Default:disabled,
.Button.ButtonDefault:disabled,
.Button.Danger[disabled],
.Button.Danger:disabled,
.Button.Success[disabled],
.Button.Success:disabled {
    background-color: #a4c6d2;
    background-image: none;
    border-color: #79b0c6;
    box-shadow: none;
    color: #4a9bbc;
    cursor: default;
    text-shadow: none;
}

body a.Button[disabled]:before,
body a.Button:disabled:before {
    color: #4a9bbc;
    opacity: .45;
}


.Panel__Actions .Button,
.Section_Actions .Button {
    font-size: 11px;
    height: 26px;
    line-height: 24px;
    min-width: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

a.Button.Big.Is_Default,
a.Button.Big:hover:active,
a.Button.Big:active,
.Button.Big {
    font-size: 30px;
    height: 50px;
    line-height: 44px;
    min-width: 55px;
    padding-left: 15px;
    padding-right: 15px;
}

.ButtonBig .ButtonGroup_button.active {
    background-color: #0da2aa;
    color: #fff;
}

a.Button.Big:hover {
    border: 1px solid color(primary);
    background: linear-gradient(180deg, color(primary-lighter) 0%, color(primary-light) 100%);
    box-shadow: inset 0 2px 0 0 rgba(26, 120, 154, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    font-size: 30px;
    height: 50px;
    line-height: 44px;
    min-width: 55px;
    padding-left: 15px;
    padding-right: 15px;
}

a.Button.Big:focus {
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 1px 3px #7BB2BF;
    border: 1px solid #0A939C;
    border-radius: 2px;
    border-radius: 2px;
    background: linear-gradient(180deg, #0EBEC8 0%, #0CB3BF 100%);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    height: 50px;
    line-height: 44px;
    min-width: 55px;
    padding-left: 15px;
    padding-right: 15px;
}

.Button.Icon {
    min-width: inherit;
}

a.Button.XBig:hover:active,
a.Button.XBig:focus,
a.Button.XBig:active,
a.Button.XBig,
a.Button.Second.XBig,
a.Button.Second.XBig:hover,
a.Button.Second.XBig:hover:active {
    font-size: 24px;
    height: 50px;
    line-height: 0;
    min-width: 206px;
    padding: 40px 10px;
    border-radius: 4px !important;
}


/*For when is only icon in button*/
.desktop a.Button.Icon:hover:active,
a.Button.Icon:hover:active,
a.Button.Icon:active,
a.Button.Icon[disabled]:hover,
a.Button.Icon:hover {
    min-width: inherit !important;
}

.Button.Icon span.fa {
    margin: 0;
}

.Button.Loading:before,
.Button.Loading[disabled]:before,
.Button.Loading:disabled:before {
    background-image: url(/SilkUIFramework/img/loading_lisbon_white.gif?57934&58326&58328&201984&202697&301693&82460);
    background-size: 16px 16px;
    content: "";
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: middle;
    width: 16px;
}

.Button.Is_Default.Loading:before,
.Button.Is_Default.Loading[disabled]:before,
.Button.Is_Default.Loading:disabled:before,
.Button.ButtonDefault.Loading:before,
.Button.ButtonDefault.Loading[disabled]:before,
.Button.ButtonDefault.Loading:disabled:before {
    background-image: url(/SilkUIFramework/img/loading_lisbon_white.gif?57934&58326&58328&201984&202697&301693&82460);
}

.Button.Small.Loading:before {
    margin-top: 4px;
}

.Button.Loading.Icon:before {
    margin-right: 0;
}

.Button.Loading span.fa {
    display: none;
}

/* Responsive Context **************************/
.phone .Button,
.tablet .Button,
.phone a.Button,
.tablet a.Button {
    height: 36px;
    line-height: 34px;
    text-decoration: none;
}

.tablet.portrait a.Button {
    height: auto;
    min-width: 110px;
    line-height: 18px;
    padding: 6px;
    white-space: pre-line;
}


.phone input.Button:focus,
.tablet input.Button:focus,
.phone input.Button,
.tablet input.Button {
    height: 37px;
    line-height: 37px;
}

.phone .Button.Small,
.tablet .Button.Small {
    height: 26px;
    line-height: 26px;
}

.Button.twoLines {
    border-radius: 2px;
    border: 1px solid #C8D8DC;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    font-weight: normal;
    height: auto;
    line-height: 15px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}

a.Button.twoLines:before {
    line-height: 5px;
    margin-top: 12px;
}

a.Button.twoLines:focus {
    font-weight: normal;
    height: auto;
    line-height: 15px;
}

a.Button.twoLines:hover:active {
    font-weight: normal;
    height: auto;
    line-height: 15px;
}

a.Button.twoLines:hover {
    font-weight: normal;
    height: auto;
    line-height: 15px;
    text-decoration: none;
}


a.Button.twoLines {
    padding-right: 10px;
}

a.Button.twoLines>div {
    text-align: right;
}

.tablet.landscape a.Button.twoLines {
    font-weight: normal;
    height: auto;
    line-height: 15px;
    text-decoration: none;
}

.FA a.Button.twoLines>div,
.AR a.Button.twoLines>div {
    text-align: left;
}

.FA a.Button.DoctorUnit:before,
.AR a.Button.DoctorUnit:before {
    margin-left: 0.8333rem;
    margin-right: auto;
}

/* Scaffolding buttons */
a.ActionAdd,
a.ActionAdd:link,
a.ActionAdd:visited,
a.ActionEdit,
a.ActionEdit:link,
a.ActionEdit:visited,
a.ActionDelete,
a.ActionDelete:link,
a.ActionDelete:visited,
a.ActionChange,
a.ActionChange:link,
a.ActionChange:visited {
    background-color: #cba900;
    border-bottom: 0;
    border-radius: 3px;
    border: 1px solid #cba900;
    box-shadow: inset 0 -2px 0 rgba(19, 24, 25, .2);
    color: #fff;
    display: inline-block;
    line-height: 30px;
    margin-left: 10px;
    min-width: 80px;
    padding: 0 15px;
    text-align: center;
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
}

.desktop a.ActionAdd:hover,
.desktop a.ActionAdd:hover:visited,
.desktop a.ActionAdd:link:hover,
.desktop a.ActionEdit:hover,
.desktop a.ActionEdit:link:hover,
.desktop a.ActionEdit:link:visited,
.desktop a.ActionDelete:hover,
.desktop a.ActionDelete:hover:visited,
.desktop a.ActionDelete:link:hover,
.desktop a.ActionChange:hover,
.desktop a.ActionChange:hover:visited,
.desktop a.ActionChange:link:hover {
    background-color: #cba900;
    border-bottom-width: 1px;
    border-color: #cba900;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
}

.desktop a.ActionAdd:hover:active,
.desktop a.ActionEdit:hover:active,
.desktop a.ActionDelete:hover:active,
.desktop a.ActionChange:hover:active {
    background-color: #b39501;
    border-color: #b39501;
    color: #fff;
}

/* Usefull Classes > Other buttons */
.Button.Cancel {
    border-bottom-width: 0;
    border: 1px solid #dadbde;
    color: #79868a;
}

.desktop .Button.Cancel:hover {
    background-color: #fff;
    border: 1px solid #dadbde;
    color: #79868a;
    text-decoration: none;
}

.Button.Cancel:hover:active {
    color: #79868a;
    text-decoration: none;
}

.Button.Success {
    background-color: #11475e;
    border-color: #11475e;
    color: #fff;
}

.desktop .Button.Success:hover {
    background-color: #559f59;
    border-color: #559f59;
    color: #fff;
    text-decoration: none;
}

.Button.Success:hover:active {
    background-color: #559f59;
    border-color: #559f59;
    color: #fff;
}

.Button.Danger,
a.ActionDelete {
    background-color: #ff5722;
    border: 0;
    color: #fff;
}

.desktop .Button.Danger:hover {
    background-color: #ce461b;
    border-color: #ce461b;
    color: #fff;
    text-decoration: none;
}
