a.Button {
    font-size: $sapphire__font__size--regular;
}

a.Button.Cancel {
    color: color(regular-black);
}

a.Button.Cancel:before {
    color: #000;
    content: "\e60c";
}

a.Button.Second.Cancel,
a.Button.Second.Cancel:before {
    color: #fff;
}

a.Button.Second.Cancel:focus,
a.Button.Second:hover.Cancel:before,
a.Button.Second:focus.Cancel:before {
    color: color(gray-darker)
}

a.Button.Small.Cancel:hover,
a.Button.Small.Cancel:active,
a.Button.Small.Cancel:focus,
a.Button.Small.Cancel {
    font-size: 12px !important;
}

a.Button.Small.Cancel:before {
    font-size: 12px !important;
}

.Button.Second.SearchMagnifier:hover,
.Button.Second.SearchMagnifier:hover:active,
.Button.Second.SearchMagnifier:focus,
.Button.Second.SearchMagnifier:active,
.Button.Second.SearchMagnifier {
    min-width: auto;
}

.Button.Second.SearchMagnifier:after {
    content: "\e690";
    font-family: 'Sapphire-Icon-Font';
}

.Page.isTouch .Button.Second.SearchMagnifier:focus,
.Page.isTouch .Button.Second.SearchMagnifier:active,
.Page.isTouch .Button.Second.SearchMagnifier:hover:active,
.Page.isTouch .Button.Second.SearchMagnifier:hover,
.Page.isTouch .Button.Second.SearchMagnifier {
    font-weight: 400;
    min-width: 50px;
}

.Page.isTouch .Button.Second.SearchMagnifier:after {
    content: "\e690";
    font-family: 'Sapphire-Icon-Font';

}

.isTouch .ButtonSquare .icon-plus {
    font-size: 2em;
    height: 1.1em;
    width: 1.1em;
}

/** width auxiliar classes **/
a.Button.FullWidth {
    width: 100%;
}