// Buttons
//
// Buttons
//
//
// Markup: _buttons.hbs
//
//Style guide: Buttons

/**** BUTTON REFACTOR 06/09/2018 ****/

@mixin default-button($bgColor: regular-alpha) {
	background-color: color($bgColor);
	border: none;
	border-radius: 18px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: bold;
	height: 3rem;
	line-height: 3rem;
	min-width: 10rem;
	text-decoration: none;
	white-space: nowrap;
}

@mixin disabled-button {
	background-image: none;
	border: 1px solid color(light-grey);
	color: color(light-grey);
	cursor: default;
	pointer-events: none;
	text-shadow: none;
}

@mixin button-state-size {
	font-size: 22px !important;
	height: 50px;
	line-height: 50px;
}

@mixin focus-border($bdColor: dark-grey) {
	border: 1px solid color($bdColor) !important;
}

a.Button {
	//Important use due to Theme Patterns Silk UI
	@include default-button;

	&:focus {
		@include focus-border();
	}

	&:active,
	&:hover {
		background-color: color(primary-light) !important;
	}

	&:disabled,
	&[disabled] {
		background-color: color(sapphire-white);

		@include disabled-button();

		&:before {
			color: #4a9bbc;
			opacity: 0.45;
		}
	}

	/* **************************************** Button Second ********************************************* */
	&.Second {
		//Important use due to Theme Patterns Silk UI
		background-color: color(mid-dark-grey);

		&:active,
		&:hover {
			background-color: color(regular-grey) !important;
		}

		&:focus {
			@include focus-border(dark-grey);
		}

		&:disabled,
		&[disabled] {
			background-color: color(sapphire-white);
			@include disabled-button();

			&:before {
				color: #6fa0a3;
			}
		}

		&:before {
			color: #fff;
		}
	}

	/* **************************************** Button Third ********************************************* */
	&.Third,
	&.Cancel {
		background-color: color(sapphire-white);
		//Important use due to Theme Patterns Silk UI
		color: color(dark-grey);
		@include focus-border(light-grey);

		&:before {
			color: #262626;
		}

		&:active,
		&:hover {
			background-color: color(sapphire-light-container) !important;
		}

		&:focus {
			@include focus-border();
		}

		&:disabled,
		&[disabled] {
			@include disabled-button();

			&:before {
				color: #b1b5b6;
			}
		}
	}

	/* **************************************** Button Link ********************************************* */

	&.Link {
		background: none;
		border: none !important;
		//Important use due to Theme Patterns Silk UI
		color: color(regular-beta);

		&:active,
		&hover,
		&focus,
		&:disabled {
			background: none !important;
		}

		&:focus {
			@include focus-border;
			border-radius: unset;
		}

		&:active,
		&:hover {
			background: none !important;
			color: color(regular-alpha) !important;
		}

		&:disabled,
		&[disabled] {
			@include disabled-button();
			border: none;
		}
	}

	&.Small {
		font-size: 12px;
		height: 26px;
		line-height: 24px;
		min-width: 76px;
	}

	&.Big {
		border-radius: 10px;
		font-size: 2em;
		height: 50px;
		line-height: 44px;
		min-width: 55px;
		padding-left: 15px;
		padding-right: 15px;
	}

	&.XBig {
		border-radius: 10px;
		box-sizing: border-box;
		font-size: 2em;
		height: 50px;
		line-height: 0;
		min-width: 206px;
		padding: 40px 10px;
	}

	&.Button.twoLines {
		border-radius: 2px;
		height: auto;
		line-height: 15px;
		padding: 5px 15px 5px 15px;

		&:before {
			line-height: 5px;
			margin-top: 12px;
		}
		> div {
			text-align: right;
		}
	}
}

.isTouch .Button.ButtonDefault,
.isTouch .Button.Is_Default,
.isTouch a.ButtonDefault,
.isTouch a.Button.Is_Default,
.isTouch input.Button,
.isTouch a.Button {
	@include button-state-size;
}

.isTouch a.Button:focus,
.isTouch a.Button:active,
.isTouch a.Button:hover:active {
	@include button-state-size;
}

.isTouch a.Button.Third:focus,
.isTouch a.Button.Third:active,
.isTouch a.Button.Third:hover:active,
.isTouch a.Button.Second:focus,
.isTouch a.Button.Second:active,
.isTouch a.Button.Second:hover:active {
	@include button-state-size;
}

/* **************************************** Button Second ********************************************* */

/* **************************************** Button Third ********************************************* */

/* **************************************** Button Small ********************************************* */

/* **************************************** Button Link ********************************************* */

a.Button.Third.Small {
	font-size: 12px;
}

a.Button.Second.Small,
a.Button.Third.Small,
a.Button.Second.Small:hover,
a.Button.Third.Small:hover,
a.Button.Second.Small:focus,
a.Button.Third.Small:focus,
a.Button.Second.Small:active,
a.Button.Third.Small:active,
a.Button.Second.Small:active:hover,
a.Button.Third.Small:active:hover {
	font-size: 12px;
	line-height: 25px;
}

/*Button IsDefault Cancel*/
.Button.Is_Default.Cancel,
a.Button.Is_Default.Cancel {
	background-color: #295a6e;
	border: 1px solid #0e4056;
	color: #fff;
}

.Button.Is_Default.Small.Cancel {
	border-radius: 2px;
	font-size: 12px;
	font-weight: bold;
	height: 26px;
	line-height: 24px;
	min-width: 76px;
	text-decoration: none;
}

a.Button.Second.Small.Cancel:focus:before,
a.Button.Second.Small.Cancel:hover:before,
a.Button.Second.Small.Cancel:before,
a.Button.Second.Small.Cancel,
.Button.Is_Default.Cancel:before,
a.Button.Is_Default.Cancel:before {
	color: #fff;
	content: '\e60c';
}

a.Button.Second.Small.Cancel:hover {
	background: linear-gradient(180deg, #0ebec8 0%, #0cb3bf 100%);
}

a.Button.Second.Small.Cancel:focus {
	background: linear-gradient(180deg, #0ebec8 0%, #0cb3bf 100%);
	border: 1px solid #0a939c;
	border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 0 0 2px #ffffff, 0 0 1px 3px #7bb2bf;
	color: #fff;
	font-size: 14px;
}

.tablet.portrait a.Button.Third.Small:active,
.tablet.portrait a.Button.Third.Small:focus,
.tablet.portrait a.Button.Third.Small:hover {
	line-height: 18px;
}

.tablet.portrait a.Button.Third.Small:hover:active {
	line-height: 12px;
}

.tablet.portrait a.Button.Second.Small:hover,
.tablet.portrait a.Button.Second.Small:active {
	line-height: 18px;
}

.ie8 .Button,
.ie8 a.Button {
	border-bottom-width: 1px;
}

/* Scaffolding buttons */
a.ActionAdd,
a.ActionAdd:link,
a.ActionAdd:visited,
a.ActionEdit,
a.ActionEdit:link,
a.ActionEdit:visited,
a.ActionDelete,
a.ActionDelete:link,
a.ActionDelete:visited,
a.ActionChange,
a.ActionChange:link,
a.ActionChange:visited {
	background-color: #cba900;
	border: 1px solid #cba900;
	border-bottom: 0;
	border-radius: 3px;
	box-shadow: inset 0 -2px 0 rgba(19, 24, 25, 0.2);
	color: #fff;
	display: inline-block;
	line-height: 30px;
	margin-left: 10px;
	min-width: 80px;
	padding: 0 15px;
	text-align: center;
	-webkit-transition: all 100ms ease;
	transition: all 100ms ease;
}

.desktop a.ActionAdd:hover,
.desktop a.ActionAdd:hover:visited,
.desktop a.ActionAdd:link:hover,
.desktop a.ActionEdit:hover,
.desktop a.ActionEdit:link:hover,
.desktop a.ActionEdit:link:visited,
.desktop a.ActionDelete:hover,
.desktop a.ActionDelete:hover:visited,
.desktop a.ActionDelete:link:hover,
.desktop a.ActionChange:hover,
.desktop a.ActionChange:hover:visited,
.desktop a.ActionChange:link:hover {
	background-color: #cba900;
	border-bottom-width: 1px;
	border-color: #cba900;
	box-shadow: none;
	color: #fff;
	text-decoration: none;
}

.desktop a.ActionAdd:hover:active,
.desktop a.ActionEdit:hover:active,
.desktop a.ActionDelete:hover:active,
.desktop a.ActionChange:hover:active {
	background-color: #b39501;
	border-color: #b39501;
	color: #fff;
}

/* Usefull Classes > Other buttons */
.Button.Cancel {
	border: 1px solid #dadbde;
	border-bottom-width: 0;
	color: #79868a;
}

.desktop .Button.Cancel:hover {
	background-color: #fff;
	border: 1px solid #dadbde;
	color: #79868a;
	text-decoration: none;
}

.Button.Cancel:hover:active {
	color: #79868a;
	text-decoration: none;
}

.Button.Success {
	background-color: #11475e;
	border-color: #11475e;
	color: #fff;
}

.desktop .Button.Success:hover {
	background-color: #559f59;
	border-color: #559f59;
	color: #fff;
	text-decoration: none;
}

.Button.Success:hover:active {
	background-color: #559f59;
	border-color: #559f59;
	color: #fff;
}

.Button.Danger,
a.ActionDelete {
	background-color: #ff5722;
	border: 0;
	color: #fff;
}

.desktop .Button.Danger:hover {
	background-color: #ce461b;
	border-color: #ce461b;
	color: #fff;
	text-decoration: none;
}

.Panel__Actions .Button,
.Section_Actions .Button {
	font-size: 11px;
	height: 26px;
	line-height: 24px;
	min-width: 60px;
	padding-left: 10px;
	padding-right: 10px;
}

.Button.Icon {
	min-width: inherit;
}

/*For when is only icon in button*/
.desktop a.Button.Icon:hover:active,
a.Button.Icon:hover:active,
a.Button.Icon:active,
a.Button.Icon[disabled]:hover,
a.Button.Icon:hover {
	min-width: inherit !important;
}

.Button.Icon span.fa {
	margin: 0;
}

.Button.Loading:before,
.Button.Loading[disabled]:before,
.Button.Loading:disabled:before {
	background-image: url(/SilkUIFramework/img/loading_lisbon_white.gif?57934&58326&58328&201984&202697&301693&82460);
	background-size: 16px 16px;
	content: '';
	display: inline-block;
	height: 16px;
	margin-right: 5px;
	margin-top: -2px;
	vertical-align: middle;
	width: 16px;
}

.Button.Is_Default.Loading:before,
.Button.Is_Default.Loading[disabled]:before,
.Button.Is_Default.Loading:disabled:before,
.Button.ButtonDefault.Loading:before,
.Button.ButtonDefault.Loading[disabled]:before,
.Button.ButtonDefault.Loading:disabled:before {
	background-image: url(/SilkUIFramework/img/loading_lisbon_white.gif?57934&58326&58328&201984&202697&301693&82460);
}

.Button.Small.Loading:before {
	margin-top: 4px;
}

.Button.Loading.Icon:before {
	margin-right: 0;
}

.Button.Loading span.fa {
	display: none;
}

/***********************************TwoLine*************************************/

// .Button.twoLines {
// 	border-radius: 2px;
// 	height: auto;
// 	line-height: 15px;
// 	padding: 5px 15px 5px 15px;
// }

// a.Button.twoLines:before {
// 	line-height: 5px;
// 	margin-top: 12px;
// }

// a.Button.twoLines:focus {
// 	font-weight: normal;
// 	height: auto;
// 	line-height: 15px;
// }

// a.Button.twoLines:hover:active {
// 	font-weight: normal;
// 	height: auto;
// 	line-height: 15px;
// }

// a.Button.twoLines:hover {
// 	font-weight: normal;
// 	height: auto;
// 	line-height: 15px;
// 	text-decoration: none;
// }

// a.Button.twoLines {
// 	padding-right: 10px;
// }

// a.Button.twoLines > div {
// 	text-align: right;
// }

/* *********************************************************************************************** */

.tablet.landscape a.Button.twoLines {
	font-weight: normal;
	height: auto;
	line-height: 15px;
	text-decoration: none;
}

a.Button.DoctorUnit:before {
	content: '\e657';
}

a.Button.Small.Cancel:hover,
a.Button.Small.Cancel:active,
a.Button.Small.Cancel:focus,
a.Button.Small.Cancel {
	font-size: 12px !important;
}

a.Button.Small.Cancel:before {
	font-size: 12px !important;
}

/*Button Magnifier*/

.Button.Second.SearchMagnifier:hover,
.Button.Second.SearchMagnifier:hover:active,
.Button.Second.SearchMagnifier:focus,
.Button.Second.SearchMagnifier:active,
.Button.Second.SearchMagnifier {
	min-width: auto;
}
.Button.Second.SearchMagnifier:after {
	content: '\e690';
	font-family: 'Sapphire-Icon-Font';
}
