.CardIcon {
	@include flex-center-total;

	background-color: $body-color;
	border-radius: $border-radius-default;
	color: $regular-grey;
	height: 32px;
	width: 32px;

	&.ColorGreen,
	&.ColorOrange {
		position: relative;

		.icon:last-of-type {
			font-size: $font-size-heading2;
			left: $sapphire-sizes--medium;
			position: absolute;
			top: $sapphire-sizes--medium;
		}
	}

	&.ColorGreen {
		background-color: $light-green;
		color: $dark-green;

		.icon:last-of-type {
			color: $regular-green;
		}
	}

	&.ColorOrange {
		background-color: $light-yellow;
		color: $dark-orange;

		.icon:last-of-type {
			color: $regular-orange;
		}
	}

	&.ColorTransparent {
		background-color: transparent;
		border: 1px solid $light-grey;
		color: $mid-light-grey;
	}
}
