.ValidationMessageContainer {
	position: relative;

	input.Not_Valid {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	span.ValidationMessage {
		background-color: #a55555;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		bottom: auto;
		color: #fff;
		font-size: 0.92rem;
		font-weight: 400;
		left: 0;
		line-height: 14px;
		padding: 5px;
		pointer-events: none;
		position: absolute;
		text-align: right;
		z-index: 1;
	}
}

.ValidationMessage {
	position: relative;
	text-align: right;
}

.MandatoryLabel {
	&:before {
		color: $regular-alpha;
		content: '*';
		font-family: $font-family-bold;
		font-size: 1em;
		padding: 0px 5px 5px 0;
	}
}

.AR,
.FA {
	.MandatoryLabel {
		&:before {
			padding: 0 0 5px 5px;
		}
	}
}
