.ColorAlpha {
	&--text {
		color: $regular-alpha;
	}

	&--bg {
		background-color: $regular-alpha;
	}
}

.ColorBeta {
	&--text {
		color: $regular-beta;
	}

	&--bg {
		background-color: $regular-beta;
	}
}

.ColorGamma {
	&--text {
		color: $regular-gamma;
	}

	&--bg {
		background-color: $regular-gamma;
	}
}

.ColorDelta {
	&--text {
		color: $regular-delta;
	}

	&--bg {
		background-color: $regular-delta;
	}
}

.ColorEpsilon {
	&--text {
		color: $regular-epsilon;
	}

	&--bg {
		background-color: $regular-epsilon;
	}
}

.ColorZeta {
	&--text {
		color: $regular-zeta;
	}

	&--bg {
		background-color: $regular-zeta;
	}
}

.ColorEta {
	&--text {
		color: $regular-eta;
	}

	&--bg {
		background-color: $regular-eta;
	}
}
