.ColorAlpha {
	&--text {
		color: $regular-alpha;
	}

	&--bg {
		background-color: $regular-alpha;
	}
}

.ColorBeta {
	&--text {
		color: $regular-beta;
	}

	&--bg {
		background-color: $regular-beta;
	}
}

.ColorGamma {
	&--text {
		color: $regular-gamma;
	}

	&--bg {
		background-color: $regular-gamma;
	}
}

.ColorDelta {
	&--text {
		color: $regular-delta;
	}

	&--bg {
		background-color: $regular-delta;
	}
}

.ColorEpsilon {
	&--text {
		color: $regular-epsilon;
	}

	&--bg {
		background-color: $regular-epsilon;
	}
}

.ColorZeta {
	&--text {
		color: $regular-zeta;
	}

	&--bg {
		background-color: $regular-zeta;
	}
}

.ColorEta {
	&--text {
		color: $regular-eta;
	}

	&--bg {
		background-color: $regular-eta;
	}
}

.ColorBlue {
	&--text {
		color: $regular-blue;
	}

	&--bg {
		background-color: $regular-blue;
	}
}

.ColorLightBlue {
	&--text {
		color: $light-blue;
	}

	&--bg {
		background-color: $light-blue;
	}
}

.ColorLightBlue2 {
	&--text {
		color: $light-blue-2;
	}

	&--bg {
		background-color: $light-blue-2;
	}
}

.ColorDarkBlue {
	&--text {
		color: $dark-blue;
	}

	&--bg {
		background-color: $dark-blue;
	}
}

.ColorRed {
	&--text {
		color: $regular-red;
	}

	&--bg {
		background-color: $regular-red;
	}
}

.ColorLightRed {
	&--text {
		color: $light-red;
	}

	&--bg {
		background-color: $light-red;
	}
}

.ColorDarkRed {
	&--text {
		color: $dark-red;
	}

	&--bg {
		background-color: $dark-red;
	}
}

.ColorGreen {
	&--text {
		color: $regular-green;
	}

	&--bg {
		background-color: $regular-green;
	}
}

.ColorLightGreen {
	&--text {
		color: $light-green;
	}

	&--bg {
		background-color: $light-green;
	}
}

.ColorDarkGreen {
	&--text {
		color: $dark-green;
	}

	&--bg {
		background-color: $dark-green;
	}
}

.ColorYellow {
	&--text {
		color: $regular-yellow;
	}

	&--bg {
		background-color: $regular-yellow;
	}
}

.ColorLightYellow {
	&--text {
		color: $light-yellow;
	}

	&--bg {
		background-color: $light-yellow;
	}
}

.ColorDarkYellow {
	&--text {
		color: $dark-yellow;
	}

	&--bg {
		background-color: $dark-yellow;
	}
}

.ColorOrange {
	&--text {
		color: $regular-orange;
	}

	&--bg {
		background-color: $regular-orange;
	}
}

.ColorLightOrange {
	&--text {
		color: $light-orange;
	}

	&--bg {
		background-color: $light-orange;
	}
}

.ColorDarkOrange {
	&--text {
		color: $dark-orange;
	}

	&--bg {
		background-color: $dark-orange;
	}
}

.ColorPink {
	&--text {
		color: $regular-pink;
	}

	&--bg {
		background-color: $regular-pink;
	}
}

.ColorLightPink {
	&--text {
		color: $light-pink;
	}

	&--bg {
		background-color: $light-pink;
	}
}

.ColorLightPink2 {
	&--text {
		color: $light-pink-2;
	}

	&--bg {
		background-color: $light-pink-2;
	}
}

.ColorDarkPink {
	&--text {
		color: $dark-pink;
	}

	&--bg {
		background-color: $dark-pink;
	}
}

.ColorBeige {
	&--text {
		color: $regular-beige;
	}

	&--bg {
		background-color: $regular-beige;
	}
}

.ColorLightBeige {
	&--text {
		color: $light-beige;
	}

	&--bg {
		background-color: $light-beige;
	}
}

.ColorDarkBeige {
	&--text {
		color: $dark-beige;
	}

	&--bg {
		background-color: $dark-beige;
	}
}

.ColorWhite {
	&--text {
		color: $regular-white;
	}

	&--bg {
		background-color: $regular-white;
	}
}

.ColorBody {
	&--text {
		color: $body-color;
	}

	&--bg {
		background-color: $body-color;
	}
}

.ColorLightContainer {
	&--text {
		color: $sapphire-light;
	}

	&--bg {
		background-color: $sapphire-light;
	}
}

.ColorLightGrey {
	&--text {
		color: $light-grey;
	}

	&--bg {
		background-color: $light-grey;
	}
}

.ColorMidLightGrey {
	&--text {
		color: $mid-light-grey;
	}

	&--bg {
		background-color: $mid-light-grey;
	}
}

.ColorGrey {
	&--text {
		color: $regular-gray;
	}

	&--bg {
		background-color: $regular-gray;
	}
}

.ColorMidDarkGrey {
	&--text {
		color: $mid-dark-grey;
	}

	&--bg {
		background-color: $mid-dark-grey;
	}
}

.ColorDarkGrey {
	&--text {
		color: $dark-grey;
	}

	&--bg {
		background-color: $dark-grey;
	}
}

.ColorBlack {
	&--text {
		color: $regular-black;
	}

	&--bg {
		background-color: $regular-black;
	}
}

.ColorSapphireBlue {
	&--text {
		color: $sapphire-blue;
	}

	&--bg {
		background-color: $sapphire-blue;
	}
}

.ColorSapphireDarkBlue {
	&--text {
		color: $sapphire-dark-blue;
	}

	&--bg {
		background-color: $sapphire-dark-blue;
	}
}

.ColorSapphireGreyBlue {
	&--text {
		color: $sapphire-grey-blue;
	}

	&--bg {
		background-color: $sapphire-grey-blue;
	}
}
