.Flex {
	display: flex;

	&CenterFull {
		@extend .Flex;

		align-items: center;
		justify-content: center;
	}

	&CenterVertical {
		@extend .Flex;

		align-items: center;
	}

	&CenterHorizontal {
		@extend .Flex;

		justify-content: center;
	}

	&SpaceAround {
		@extend .Flex;

		justify-content: space-around;
	}

	&SpaceBetween {
		@extend .Flex;

		justify-content: space-between;
	}

	&SpaceEvenly {
		@extend .Flex;

		justify-content: space-evenly;
	}
}

.InlineFlex {
	@extend .Flex;

	display: inline-flex;
}
