@mixin default-style-scrollable {
	overflow: auto;

	&::before {
		content: '';
		display: block;
		height: 1px;
	}
}

.Scrollable {
	@include component-scroll-root();
	@include default-style-scrollable();
}

.ScrollableDark {
	@include component-scroll-root(4px, true);
	@include default-style-scrollable();
}

// Create more variations and put some examples in the DesignSystem (Helpers)
