.Label {
  background-color: transparent;
  border-radius: 10px;
  max-height: 20px;
  padding: 2px 8px;
}

.Text_Note {
  color: $sapphire-color-text-light;
  font-size: .9em;
}

.Uppercase {
  text-transform: uppercase;
}