.VerticalCenter {
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

.VerticalInputLabel {
	color: #868687;
	font-family: $font-family-regular;
	font-size: 1em;
	font-weight: bold;
	line-height: 1;
}

.VerticalAlignMiddle {
	vertical-align: middle !important;
}
