.AddLine {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.AddLine_HeaderItems {
	padding: 8px 0 6px 10px;
}

.FA .AddLine_HeaderItems,
.AR .AddLine_HeaderItems {
	padding: 8px 10px 6px 0;
}

.AddLine_HeaderItems > div {
	margin-left: auto;
	margin-right: 15px;
	vertical-align: middle;
	white-space: nowrap;
}

.desktop.small .AddLine_HeaderItems > div {
	margin-right: 5px;
}

.FA .AddLine_HeaderItems > div,
.AR .AddLine_HeaderItems > div {
	margin-left: 15px;
	margin-right: auto;
	vertical-align: middle;
}

.AddLine__ContentContainer {
	padding: 20px 0;
}

.AddLine_FooterItems div:last-child {
	float: right;
	margin-right: 10px;
}

.FA .AddLine_FooterItems div:last-child,
.AR .AddLine_FooterItems div:last-child {
	float: left;
	margin-left: 10px;
	margin-right: auto;
}

.AddLine__ContentContainer {
	background: #fff;
	border: solid 1px #d3d6d7;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	line-height: 33px;
	min-height: 64px;
	vertical-align: middle;
}

.AddLine__ContentContainer.TextCenter {
	text-align: center;
}

.AddLine_SubContentContainer {
	border-bottom: solid 1px #d3d6d7;
	border-left: solid 1px #d3d6d7;
	border-right: solid 1px #d3d6d7;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.AddLine_SubContentContainer .AddLine__Footer {
	padding: 20px 0;
}

.SurgeriesListContainer .AddLine_SubContentContainer {
	background-color: #f7f4ef;
}
