.ButtonDropdown_button.Button {
  background-color: #fff;
  background-repeat: no-repeat;
  border: solid 1px $light-grey;
  border-radius: 2px;
  color: #0b374a;
  font-size: 14px;
  height: 34px;
  line-height: 20px;
  padding: 5px 36px 5px 5px;
  width: 100%;
}

.ButtonDropdown_button.Button:hover {
  background-color: $regular-eta;
  box-shadow: none;
}

.ButtonDropdown_button.Button .ButtonDropdown_icon {
  background-color: transparent;
  border-left: 1px solid $light-grey;
  color: $regular-alpha;
  height: auto;
}

.ButtonDropdown.open .ButtonDropdown_button.Button {
  background-color: $regular-eta;
  border-bottom-width: 1px;
}

.ButtonDropdown.open .ButtonDropdown_button.Button .ButtonDropdown_icon {
  background-color: transparent;
}

.ButtonDropdown_button.Button {
  padding-right: 0;
}

.ButtonDropdown_icon {
  background-color: #fff;
  height: 29px;
  margin-left: 10px;
  width: 30px;
}

.phone .ButtonDropdown_icon,
.tablet .ButtonDropdown_icon {
  height: 35px;
}

.ButtonDropdown_button.Button:hover .ButtonDropdown_icon {
  background-color: transparent;
  transition: all 100ms ease;
}


.AR .ButtonDropdown_button.Button .ButtonDropdown_icon,
.FA .ButtonDropdown_button.Button .ButtonDropdown_icon {
  border-left: none;
  border-right: 1px solid $light-grey;
}

.phone .ButtonDropdown_button.Button,
.tablet .ButtonDropdown_button.Button {
  line-height: 22px;
}

.FA .ButtonDropdown_button.Button,
.AR .ButtonDropdown_button.Button {
  margin-left: 0;
  padding-top: 5px;
}