html,
body,
form,
.Page {
    height: 100%;
    position: relative;
    font-family: $sapphire__font__face--regular;
    font-size: $sapphire__font__size--regular;
}

body {
    background-color: color('background');
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
}

body,
select,
textarea,
input {
    font-family: 'globeregular', Helvetica, Arial, sans-serif;
    color: #333;
    font-weight: normal;
    line-height: 1.43;
}

html,
body,
div,
span,
a,
select,
form,
fieldset,
img,
input,
button,
select,
table,
tbody,
thead,
tr,
th,
td,
textarea,
optgroup,
option,
ul,
li {
    outline: 0 !important;
}
