.isTouch {
    font-size: $sapphire__font__size--touch;
}

.TileIcon_text,
.TileNumber_text,
.TileIconText_label,
.Header_title a,
.EditableTable thead td,
.TableRecords_Header {
    font-family: $sapphire__font__face--bold;
}



.BaseFont40 {
    font-size: 40px;
}

.BaseFont40 input[type="text"],
.BaseFont40 select,
.BaseFont40 a.Button {
    font-size: 40px;
    line-height: normal;
    height: 80px;
}

.BaseFont40 a.Button {
    line-height: 80px !important;
    white-space: nowrap;
}

.BaseFont40 .SegmentedControl {
    font-size: 1em;
}

.BaseFont40 .SegmentedControl .SegmentedControlItem {
    font-size: 1em;
}

.BaseFont40 .SegmentedControl .SegmentedControlItem label {
    line-height: unset;
}