.ClinicianSecondarySummary {
	&:not(.CanExpand) {
		.SectionExpandable
			.SectionExpandable_header
			.Heading2.SectionExpandable__icon {
			display: none;
		}

		.SectionExpandable__ico {
			display: none;
		}
	}

	&.BorderTopNone {
		.SectionExpandable .SectionExpandable_header.BorderTopNone {
			border-top: none;
		}

		.SectionExpandable .SectionExpandable_header {
			border: none;
		}
	}

	&.CanExpand {
		.SectionExpandable__title.Heading2 {
			display: inline-block;
			padding-left: 10px;
		}

		.SectionExpandable__icon.Heading2 {
			color: $regular-alpha;
			display: inline-block;
		}
	}

	&_content {
		padding: 0 15px;
	}

	&_selectAll {
		font-family: $font-family-bold;
		font-size: 1em;
		position: absolute;
		right: 0;
		text-align: right;
	}

	&_icon + &_title {
		margin-left: 5px;
	}

	&_icon:empty + &_title {
		margin-left: auto;
		padding-left: 15px;
	}

	.SectionExpandable {
		&,
		&.expanded {
			.SectionExpandable_header .Heading2 {
				font-size: 15px;
				line-height: 46px;
			}
		}

		&_header {
			background-color: transparent;
			border: none;
			border-top: 2px solid $regular-beta;
			color: $dark-grey;
			font-size: 1.143em;
			height: auto;
			line-height: 46px;
			min-height: 46px;
			padding: 0;
			position: relative;
			vertical-align: middle;

			.Heading2 {
				font-size: 1em;

				&.SectionExpandable__icon {
					border: none;
					color: $regular-alpha;
					font-size: 1.143em;
					line-height: 46px;
					padding-left: 0;
					width: auto;

					span:before {
						content: '\e610';
						font-family: Sapphire-Icon-Font;
						font-size: 1em;
					}
				}
			}
		}

		&_content {
			padding: 0;
		}
	}
}

.AR,
.FA {
	.ClinicianSecondarySummary {
		&.CanExpand {
			.SectionExpandable__title.Heading2 {
				padding-left: auto;
				padding-right: 10px;
			}

			.SectionExpandable__icon.Heading2 {
				float: right;
			}
		}

		&_selectAll {
			left: 0;
			right: auto;
			text-align: left;
		}

		&_icon + &_title {
			margin-left: auto;
			margin-right: 5px;
		}

		&_icon:empty + &_title {
			margin-left: auto;
			margin-right: auto;
			padding-left: auto;
			padding-right: 15px;
		}

		.SectionExpandable {
			padding-left: auto;
			padding-right: 15px;

			&_content {
				font-size: 1.143em;
				position: relative;
			}
		}
	}
}
