<div>
	<select name='dropdown1' class="{{modifier_class}}">
		<option value='1'>
			Option 1
		</option>
		<option value='2'>
			Option 2
		</option>
		<option value='3'>
			Option 3
		</option>
	</select>

	<select
		placeholder='Disabled'
		name='dropdown2'
		class="{{modifier_class}}"
		disabled='disabled'
	>
		<option value='1'>
			Option 1
		</option>
		<option value='2'>
			Option 2
		</option>
		<option value='3'>
			Option 3
		</option>
	</select>
</div>