.ExpandableList {
	&_wrapper {
		display: table;
		width: 100%;
	}

	&__label {
		display: table-cell;
		font-family: $font-family-latin-bold;
		vertical-align: middle;
		width: 100%;
	}

	&__action {
		display: table-cell;
		vertical-align: middle;
	}

	.ExpandableLinkWrapper {
		&_Header {
			border-top: 1px solid $regular-white;
			display: table;
			height: 48px;
			width: 100%;
		}

		&__icon {
			display: table-cell;
			padding: 0 15px;
			vertical-align: middle;

			.icon {
				@include arrow-button($regular-beta, 20px, 0.7em);
			}
		}

		&__link {
			display: table-cell;
			font-size: 1.143em;
			padding-right: 15px;
			vertical-align: middle;
			width: 100%;
		}

		&_content {
			.ExpandableContent {
				border-bottom: none;
				padding: 0 15px;

				&,
				&:hover {
					background-color: transparent;
				}
			}
		}
	}
}

.AR,
.FA {
	.ExpandableList {
		.ExpandableLinkWrapper {
			&__link {
				padding-left: 15px;
				padding-right: 0;
			}
		}
	}
}
