.FileUpload {
	@include flex-center-total;

	background-color: transparent;
	border: 1px dashed $regular-gray;
	border-radius: $border-radius-default;
	min-height: 72px;
	transform: scale(-1, 1);
	transition: all 0.2s;

	&:hover {
		background-color: $regular-eta;
		border: 1px dashed $regular-alpha;
	}

	> div {
		transform: scale(-1, 1);
	}

	&_Label {
		color: $dark-grey;
		font-family: $font-family-latin-bold;
		font-size: 1em;
	}

	&_Button {
		.Button {
			background-color: $mid-dark-grey;
			border: 1px solid transparent;
			border-radius: 1.286em;
			display: flex;
			font-family: $font-family-latin-bold;
			height: 2.571em;
			line-height: 2.4em;
			padding: 0 15px;

			&:before {
				content: '\e698';
				font-family: $font-family-icons;
				font-size: 24px;
				margin-left: -6px;
			}
		}
	}
}

.AR,
.FA {
	.FileUpload_Button {
		.Button {
			&:before {
				margin-left: auto;
				margin-right: -6px;
			}
		}
	}
}
