.PatientSummary {
	padding: $sapphire-sizes--large $sapphire-sizes--medium;
}

.SummaryCard {
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: $border-radius-medium;

	&__Header {
		@include flex-center-vertically();

		border-bottom: 1px solid $light-grey;
		gap: $sapphire-sizes--small;
		padding: $sapphire-sizes--medium;
	}

	&__HeaderIcon {
		background-color: transparent;
		color: $mid-light-grey;
	}

	&__HeaderTitle {
		flex: 1;
	}

	&__Content {
		padding: $sapphire-sizes--medium;

		.ExpandableSmaller {
			display: flex;
			flex-wrap: wrap;

			> div + span {
				flex-basis: 100%;
			}

			.ExpandableSmaller_Title {
				flex: 1;
			}

			.ExpandableSmaller__headerIcon {
				display: none;
			}
		}
	}
}
