.TimelineItem {
	@include flex-center-vertically;

	border-radius: $border-radius-default;
	gap: $sapphire-sizes--medium;
	min-height: 56px;
	padding: 0 $sapphire-sizes--small;
	//position: relative;

	&:hover {
		background-color: $regular-eta;
	}

	&__Icon {
		@include flex-center-total;

		background-color: $regular-white;
		border-radius: $border-radius-default;
		color: $text-color-regular;
		height: 40px;
		width: 40px;
	}

	&__Content {
		font-family: $font-family-latin-regular;

		.AR & {
			font-family: $font-family-arabic-regular;
		}
	}

	&__Date {
		color: $regular-grey;
	}

	&__Description {
		color: $text-color-regular;
	}
}

.TimelineItemSection {
	margin-bottom: $sapphire-sizes--medium;
}

.TimelineItemHeader {
	margin-bottom: $sapphire-sizes--small;
	margin-top: $sapphire-sizes--medium;
	padding: 0 $sapphire-sizes--small;

	a:link {
		color: $text-color-regular;
	}
}

.TimelineNoItems {
	@include blank-state;

	&__icon {
		&,
		.icon {
			display: none !important;
		}
	}
}
