.WardBox {
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: $border-radius-medium;
	display: inline-block;
	overflow: hidden;
	position: relative;
	width: 100%;

	.SelectedWardBx &,
	&.SelectedWardBx {
		border-color: transparent;

		&::before {
			border: 2px solid $regular-alpha;
			border-radius: $border-radius-medium;
			box-sizing: border-box;
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			width: 100%;
		}
	}

	&_Title {
		font-family: $font-family-latin-bold;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.WardNameSmall {
		@include flex-center-vertically;

		border-bottom: 1px solid $light-grey;
		gap: $sapphire-sizes--small;
		justify-content: space-between;
		line-height: 16px;
		padding: $sapphire-sizes--medium;
	}

	.WardTypeSmall {
		color: $regular-grey;
		font-size: $font-size-small;
		text-align: right;
	}

	.Hospitalizations {
		display: flex;
	}

	.RoomNameSmall {
		overflow: hidden;
		padding: 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.Counter {
		background-color: $sapphire-light;
		border-top: none;
		padding: $sapphire-sizes--small $sapphire-sizes--medium;
		text-align: start;
		width: 100%;

		> div:first-child {
			font-family: $font-family-latin-bold;
			font-size: $font-size-heading3;
		}

		&.Vacant {
			background-color: $light-green;
			color: $dark-green;
		}

		&.Reserved {
			background-color: $regular-beige;
			color: $dark-beige;
		}

		&.Planned {
			background-color: $light-grey;
			color: $regular-grey;
		}
	}
}
