.WardTotalContainer {
	&:not(:first-child) {
		padding-left: 10px;
	}

	.WardCounterOccupied {
		.WardNumber {
			border-top: 3px solid $mid-light-grey;
			color: $mid-light-grey;
		}
	}

	.WardCounterVacant {
		.WardNumber {
			border-top: 3px solid $dark-green;
			color: $dark-green;
		}
	}

	.WardCounterReserved {
		.WardNumber {
			border-top: 3px solid $dark-beige;
			color: $dark-beige;
		}
	}

	.WardCounterPlanned {
		.WardNumber {
			border-top: 3px solid $regular-grey;
			color: $regular-grey;
		}
	}

	.WardCounterPlanned {
		.WardState {
			border-right: none;
		}
	}

	.WardNumber {
		border-top: 3px solid transparent;
		font-family: $font-family-latin-bold;
		margin-top: -3px;
	}

	.WardState {
		margin-left: 5px;
		padding-right: 10px;
	}
}

.AR,
.FA {
	.WardCounterAll {
		padding-left: 10px;
	}

	.WardState {
		border-left: 1px solid #e0e1e3;
		border-right: 0;
		padding-left: 10px;
	}
}

// AJUSTANDO
