.WizardParent {
	border: 1px solid $light-grey;
	border-radius: 2px;
}

.DesignSystem .WizardStep,
.LayoutBlank .WizardStep,
.LayoutBase .WizardStep {
	color: $light-grey;
	display: table-cell;
	font-family: $font-family-latin-bold;
	font-size: 1em;
	width: 1%;

	.IconWizard {
		//background-color: $light-grey;
		border: 1px solid $light-grey;
		color: $light-grey;
	}

	&:after {
		height: 35px;
		right: 7px;
	}

	&:before,
	&:first-of-type:before {
		border-bottom: 19px solid $regular-white;
		border-top: 19px solid $regular-white;
	}

	&:last-child:after {
		border: 0 !important;
	}

	&.Past {
		background-color: transparent;
		color: $regular-beta;
	}

	&.ActiveStep {
		background-color: $regular-alpha;
		color: $regular-white;
	}

	&.Past,
	&.ActiveStep {
		font-weight: inherit;

		&:before {
			border-bottom-color: $regular-alpha;
			border-top-color: $regular-alpha;
		}

		a,
		a:link,
		a[disabled='disabled'],
		a[disabled='disabled']:hover {
			color: inherit;
			font-family: inherit;
		}

		.IconWizard {
			background-color: $regular-white;
			border: 1px solid $regular-white;
			color: $regular-beta;
		}
	}

	&.Past,
	&.ActiveStep {
		.IconWizard.IconWizardWhite {
			background-color: $regular-white;
			border: 1px solid $regular-beta;
			color: $regular-beta;
		}
	}

	&.LastStep,
	&.HideArrow,
	&.ActiveStep {
		&:after {
			border-right: 1px solid $regular-white;
			border-top: 1px solid $regular-white;
		}
	}

	a {
		color: $light-grey;
		font-family: inherit;
	}

	a:disabled,
	a[disabled='disabled'],
	a[disabled='disabled']:hover {
		color: $light-grey;
	}
}

.DesignSystem .IconWizard,
.LayoutBlank .IconWizard,
.LayoutBase .IconWizard {
	border: 1px solid $regular-beta;
	border-radius: 50%;
	color: $regular-beta;
	font-size: 0.857em;
	height: 20px;
	line-height: 18px;
	margin-right: 5px;
	text-align: center;
	vertical-align: middle;
	width: 21px;

	&.IconWizardWhite {
		background-color: $regular-white;
		border: 1px solid $regular-beta;
		color: $regular-beta;
	}
}

.AR,
.FA {
	.DesignSystem .WizardStep,
	.LayoutBlank .WizardStep,
	.LayoutBase .WizardStep {
		padding-right: 0;

		&:after {
			border-left: 1px solid $regular-white;
			border-right: none;
			left: 8px;
			right: auto;
			transform: rotate(315deg);
		}

		&:before {
			border-right: 20px solid transparent;
			right: -20px;
		}

		&.LastStep,
		&.HideArrow,
		&.ActiveStep {
			&:after {
				border: none;
			}
		}

		a,
		a:link {
			padding-left: 20px;
		}
	}

	.IconWizard {
		margin-left: 4px;
		margin-right: auto;
	}
}
