.borderstyle--dashed {
    border-style: dashed;
}

.borderstyle--dotted {
    border-style: dotted;
}

.borderstyle--double {
    border-style: double;
}

.borderstyle--none {
    border-style: none;
}

.borderstyle--solid {
    border-style: solid;
}