.Beige {
    background-color: #E6E2AA;
}

.DarkBeige {
    background-color: #928D09;
}


.Black {
    background-color: #131819;
}

.BlueLight {
    background-color: #d3eff0;
}

.BlueNavy {
    background-color: #EDF7F9;
}

.Blue {
    background-color: #0074c1;
}

.DarkBlue {
    background-color: #194968;
}

.DarkPlum {
    background-color: #970263;
}

.DarkRed {
    background-color: #b10000;
}

.Grey,
.Gray {
    background-color: #79868a;
}

.Green {
    background-color: #388e3c;
}

.LightGreen {
    background-color: #C2DEA8;
}

.LightRed {
    background-color: #f9d5d5;
}

.LightYellow {
    background-color: #feffc9;
}

.PinkLight {
    background-color: #FFF7F7;
}

.Orange {
    background-color: #da6802;
}

.LightOrange {
    background-color: #fcc891;
}

.DarkOrange {
    background-color: #cd7d00;
}

.Plum {
    background-color: #c32b87;
}

.Red {
    background-color: #d01a1a;
}

.Silver {
    background-color: #dadbde;
}

.SapphireSilver {
    background-color: #F3F3F3;
}

.Turquoise {
    background-color: #00b0c1;
}

.LightTurquoise {
    background-color: #E6F4F5;
}

.White {
    background-color: #fff;
}

.Yellow {
    background-color: #EABD30;
}
