.Page .Search_wrapper input[type='text'] {
	background-color: #fff;
	border: 1px solid #c9cdce;
	border-radius: 100px;
	box-shadow: none;
	font-weight: 700;
	height: 36px;
	padding-left: 40px;
	padding-right: 15px;
}

.isTouch .Search_wrapper input[type='text'] {
	font-size: 18px;
	height: 50px;
}

.Search_wrapper input[type='text']:focus {
	background-color: #fff;
	border: 1px solid #16979f;
	border-radius: 100px;
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0px 0px 2px 1px #16979f;
	box-sizing: border-box;
}

.Search_wrapper input[type='text']:hover {
	background-color: #fff;
	border: 1px solid #b1b5b6;
	border-radius: 100px;
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}

.Search_wrapper input[type='text']:active {
	background-color: #ffffff;
	border: 1px solid #16979f;
	border-radius: 100px;
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 0 5px 0 #9dc6d0;
	box-sizing: border-box;
}

.Search_wrapper input[type='text']:disabled,
.Search_wrapper input[type='text'].disabled {
	background-color: #e9e9e9;
	border: 1px solid #c9cdce;
	border-radius: 100px;
	box-sizing: border-box;
}

.Search_wrapper:after {
	color: #16979f;
	content: '\e690';
	font-family: $font-family-icons;
	font-size: 14px;
	-mox-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	left: 10px;
	padding-right: 10px;
	pointer-events: none;
	position: absolute;
	speak: none;
	text-transform: none;
	top: 12px;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	z-index: 1;
}

.isTouch .Search_wrapper:after {
	top: 19px;
}

.Header .Search_wrapper input[type='text'] {
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	color: #fff;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: 100px;
}

.Header .Search_wrapper input[type='text']:focus {
	border: 1px solid rgba(255, 255, 255, 0.3);
	width: 200px;
}

.Header .Search_wrapper:after {
	color: #cdcdcd;
	left: 10px;
	pointer-events: none;
}

.FA .Search_wrapper:after,
.AR .Search_wrapper:after {
	left: auto;
	right: 15px;
}

.FA .Search_wrapper input[type='text'],
.AR .Search_wrapper input[type='text'] {
	padding-left: 0;
	padding-right: 35px;
}

.FA .SearchNavigation_frame .Search_wrapper input[type='text'],
.AR .SearchNavigation_frame .Search_wrapper input[type='text'] {
	padding-left: 35px;
}
