@font-face {
	font-family: $font-family-regular;
	font-style: normal;
	font-weight: normal;
	src: url($font-url+'Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: $font-family-bold;
	font-style: normal;
	font-weight: bold;
	src: url($font-url+'Lato-Regular.ttf') format('truetype');
}
