@font-face {
	font-family: $font-family;
	font-style: normal;
	font-weight: normal;
	src: url($font-url) format('truetype');
}

@font-face {
	font-family: $font-family;
	font-style: normal;
	font-weight: bold;
	src: url($font-url) format('truetype');
}
