// Headings
//
// Typography
//
//
// Markup: _headings.hbs
//
//Style guide: Typography.Headings

.Heading1 {
	font-family: $font-family;
	font-size: 2em;
	font-weight: 400;
	line-height: 1.4;
}

.Heading2 {
	font-family: $font-family;
	font-size: 1.667em;
	font-weight: 400;
	line-height: 1.4;
}

.Heading3 {
	font-family: $font-family;
	font-size: 1.333em;
	font-weight: 400;
	line-height: 1.4;
}

.Heading4 {
	font-family: $font-family;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.4;
}

.Heading5 {
	font-family: $font-family;
	font-size: 1.167em;
	font-weight: 400;
	line-height: 1.4;
}
.Text_large {
	// Important used due to Theme Patterns SlikUI
	font-size: 1.1em !important;
}
