// Headings
//
// Typography
//
//
// Markup: _headings.hbs
//
//Style guide: Typography.Headings

.Heading1 {
	font-family: $font-family;
	font-size: 2em;
	font-weight: 400;
	line-height: 1.4;
}

.Heading2 {
	color: $gray-darker;
	font-family: $font-family;
	font-size: 1.667em;
	font-weight: 400;
	line-height: 1.4;
}

.Heading3 {
	color: #11455d;
	font-family: $font-family;
	font-size: 1.333em;
	font-weight: 400;
	line-height: 1.4;
}

.Heading4 {
	color: $gray-darker;
	font-family: $font-family;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.4;
}

.Heading5 {
	color: #707070;
	font-family: $font-family;
	font-size: 1.167em;
	font-weight: 400;
	line-height: 1.4;
}
