body,
form,
html,
.Page {
	font-family: $font-family-regular;
	font-size: 12px;
	height: 100%;
	position: relative;
}

body {
	background-color: $body-color;
	overflow-x: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
input,
select,
textarea {
	color: $dark-grey;
	font-family: $font-family-regular;
	font-weight: normal;
	line-height: 1.43;
}

a,
body,
button,
div,
fieldset,
form,
html,
img,
input,
li,
optgroup,
option,
select,
span,
table,
tbody,
td,
textarea,
th,
thead,
tr,
ul {
	outline: 0 !important;
}

div[onclick] {
	cursor: pointer;
}
