$SegmentedControl-color-active: $regular-alpha;
$SegmentedControl-color-hover: $regular-zeta;

.SegmentedControl {
  margin-bottom: 10px;
}

.SegmentedControl.NoMargin {
  margin: 0;
}

.SegmentedControlItem {
  color: $SegmentedControl-color-active;
  display: inline-block;
  font-size: 13px;
  margin-left: -1px;
  margin-top: -1px;
  min-height: 28px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}

.SegmentedControlItem label {
  background-color: #fff;
  border: solid 1px $SegmentedControl-color-active;
  cursor: pointer;
  display: block;
  line-height: 34px;
  min-width: 54px;
  padding: 0 15px;
  text-align: center;
  width: 100%;
}

.SegmentedControlItem label:hover,
.SegmentedControlItem label:focus {
  background: $SegmentedControl-color-hover;
}

.SegmentedControlItem>input[type='radio']:checked~label,
.SegmentedControlItem>input[type='checkbox']:checked~label {
  background: $SegmentedControl-color-active;
  color: #fff;
}

.SegmentedControlItem>input:disabled~label,
.SegmentedControlItem>input[disabled]~label,
.SegmentedControlItem>input[readonly]~label {
  background: $sapphire-color-disabled-background;
  color: $sapphire-color-disabled-text;
  cursor: default;
}

.SegmentedControlItem label .icon {
  font-size: 18px;
  line-height: 35px;
  padding-right: 5px;
}

.FA .SegmentedControlItem,
.AR .SegmentedControlItem {
  margin-left: 0;
  margin-right: -1px;
}

.Vertical .SegmentedControlItem {
  display: block;
  margin-top: 5px;
}

.Vertical .SegmentedControlItem,
.SegmentedControlItem:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.FA .Vertical .SegmentedControlItem,
.FA .SegmentedControlItem:first-child,
.AR .Vertical .SegmentedControlItem,
.AR .SegmentedControlItem:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
}

.Vertical .SegmentedControlItem,
.SegmentedControlItem:last-child {
  border-bottom-right-radius: 5px;
  border-right: solid 1px $SegmentedControl-color-active;
  border-top-right-radius: 5px;
  height: 100%;
}

.FA .Vertical .SegmentedControlItem,
.FA .SegmentedControlItem:last-child,
.AR .Vertical .SegmentedControlItem,
.AR .SegmentedControlItem:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
}

.FA .SegmentedControlItem label,
.AR .SegmentedControlItem label {
  padding: 0 10px;
}