.DateNavigationContainer {
	align-items: center;
	display: flex;

	.tablet.portrait & {
		margin-bottom: 10px;
	}

	.DateNavigation {
		&_NextDate,
		&_PreviousDate {
			min-width: 50px;
		}

		&_Date {
			flex-basis: 100%;
			line-height: 26px;
			min-width: 95px;
		}
	}
}

.AR,
.FA {
	.DateNavigationContainer .DateNavigation {
		&_NextDate,
		&_PreviousDate {
			transform: scale(-1, 1);
		}
	}
}
