.GrayCounter {
	border: 1px solid $light-grey;
	border-radius: 1px;
	display: inline-block;
	height: 30px;
	margin-right: 10px;
	min-width: 40px;
	padding: 5px;

	&_Wrapper {
		display: table;
		width: 100%;
	}

	&__Number {
		color: $sapphire-color-text-light;
		display: table-cell;
		font-family: $font-family-latin-bold;
		font-size: 1em;
		padding-right: 5px;
		vertical-align: middle;
	}

	&__Icon {
		display: table-cell;
		vertical-align: middle;

		.icon {
			color: $regular-beta;
			font-size: 1.143em;
			line-height: 19px;
		}
	}
}
