.SmallStretchedContainer {
	background-color: $sapphire-white;
	border: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
	border-top: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	color: $dark-grey;
	display: table;
	min-height: 75px;
	position: relative;
	width: 100%;
	.DateContainer {
		background-color: $light-grey;
		color: $dark-grey;
		display: table-cell;
		font-size: $font-size-heading3;
		padding: 5px;
		vertical-align: middle;
	}
	.DateContainer,
	.StatusContainer {
		min-width: 85px;
	}
	.InformationContainer {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		> div {
			display: flex;
			margin-left: 10px;
			margin-right: auto;
			div {
				flex: 1;
				height: 100%;
				margin: 0;
			}
		}

		.InfoContainer {
			display: flex;
			flex-direction: column;
			float: right;
		}

		.MultiAlignLeft {
			vertical-align: top;
		}
	}
	.StatusContainer {
		display: table-cell;
		text-align: right;
		vertical-align: middle;
		> div {
			margin-left: 0;
			margin-right: 10px;
		}
	}

	.icon-patient,
	.icon-telephone {
		color: $mid-dark-grey;
	}
}

.SmallStretchedContiner.Dashed {
	border: 1px dashed $light-grey;
}
.DateContainer {
	> div {
		text-align: center;
	}
}
// .desktop.hd {
// 	.SmallStretchedContainer {
// 		.InformationContainer {
// 			max-width: 75%;
// 		}
// 	}
// }
.phone {
	.SmallStretchedContainer {
		display: grid;
		.InformationContainer {
			width: 100%;
		}
		.StatusContainer {
			border-top: 1px solid $light-grey;
		}
		.Especialist {
			padding-left: 0;
			padding-right: 10px;
		}
		.DateContainer {
			display: block;
			width: 100%;
		}
		.Expandable_actions {
			> div {
				display: inline-block;
			}
		}
	}
	.Expandable_actions {
		padding: 5px;
	}
}
.tablet {
	.SmallStretchedContainer {
		border: 1px solid $light-grey;
		.DateContainer {
			display: block;
			width: 100%;
		}
		.InformationContainer {
			display: inline-block;
			width: 50%;
		}
		.StatusContainer {
			display: inline-block;
			width: 50%;
		}
	}
}
.FA {
	.InformationContainer {
		div {
			&:nth-child(3) {
				margin-right: 10px;
			}
		}
		> div {
			margin-left: auto;
			margin-right: 10px;
			padding-bottom: 5px;
			padding-top: 5px;
		}
	}
	.SmallStretchedContainer {
		.StatusContainer {
			> div {
				margin-left: 10px;
				margin-right: auto;
			}
			text-align: left;
		}
	}
}
.AR {
	.InformationContainer {
		div {
			&:nth-child(3) {
				margin-right: 10px;
			}
		}
		> div {
			margin-left: auto;
			margin-right: 10px;
			padding-bottom: 5px;
			padding-top: 5px;
		}
	}
	.SmallStretchedContainer {
		.StatusContainer {
			> div {
				margin-left: 10px;
				margin-right: auto;
			}
			text-align: left;
		}
	}
}
.FA.phone {
	.SmallStrectchedContainer {
		.Especialist {
			padding-left: 10px;
			padding-right: 0;
		}
	}
}
.AR.phone {
	.SmallStrectchedContainer {
		.Especialist {
			padding-left: 10px;
			padding-right: 0;
		}
	}
}
