.LineWarns {
	border: 1px solid $light-grey;
	border-radius: 4px;
	min-height: 48px;

	&.BgYellow {
		background-color: $light-yellow;

		.LineWarns__icon {
			color: $dark-yellow;
		}
	}

	&.BgRed {
		background-color: $light-red;

		.LineWarns__icon {
			color: $dark-red;
		}
	}

	&_list {
		display: table;
		min-height: 48px;
		overflow: hidden;
		padding: 0 25px;
		white-space: nowrap;
		width: 100%;

		> div {
			display: table-cell;
			vertical-align: middle;
		}
	}

	&__icon {
		font-size: initial;
		width: 35px;
	}

	&__buttonContainer {
		text-align: right;
		width: 11%;
	}

	.LineWarningActions {
		min-width: 10%;
		text-align: right;
	}
}

.AR,
.FA {
	.LineWarns__buttonContainer {
		text-align: left;
	}
}
