.LineWarns {
	border-radius: $border-radius-default;
	min-height: 48px;

	&--withBorder & {
		&_list {
			border: 1px solid $light-grey;
		}
	}

	&.ColorYellowBG,
	&.ColorLightYellowBG {
		.LineWarns__icon {
			color: $dark-yellow;
		}
	}

	&.ColorRedBG,
	&.ColorLightRedBG {
		.LineWarns__icon {
			color: $dark-red;
		}
	}

	.LineWarns_list {
		@include flex-center-vertically();

		border-radius: $border-radius-default;
		gap: $sapphire-sizes--medium;
		height: 100%;
		padding: $sapphire-sizes--xsmall $sapphire-sizes--medium;
	}

	.LineWarns__icon {
		@include flex-center-total();

		width: $sapphire-sizes--large;
	}

	.LineWarns__message {
		flex: 1;
	}

	&__buttonContainer {
		width: 11%;
	}

	.LineWarningActions {
		min-width: 10%;
	}
}

.AR,
.FA {
	.LineWarns__buttonContainer {
		text-align: left;
	}
}
