.LineWarns {
	min-height: 48px;

	&--withBorder & {
		&_list {
			border: 1px solid $light-grey;
		}
	}

	&.ColorYellowBG,
	&.ColorLightYellowBG {
		.LineWarns__icon {
			color: $dark-yellow;
		}
	}

	&.ColorRedBG,
	&.ColorLightRedBG {
		.LineWarns__icon {
			color: $dark-red;
		}
	}

	&_list {
		border-collapse: separate;
		border-radius: $border-radius-default;
		display: table;
		min-height: 48px;
		overflow: hidden;
		padding: $sapphire-sizes--xsmall $sapphire-sizes--large;
		width: 100%;

		> div {
			display: table-cell;
			vertical-align: middle;
		}
	}

	&__icon {
		font-size: initial;
		width: 35px;
	}

	&__buttonContainer {
		text-align: right;
		width: 11%;
	}

	.LineWarningActions {
		min-width: 10%;
		text-align: right;
	}
}

.AR,
.FA {
	.LineWarns__buttonContainer {
		text-align: left;
	}
}
