.BedInfoBackgroundContent {
	border-radius: 2px;
	padding: 1px 10px 1px 1px;

	.BedInfoIconBackground {
		border-radius: 2px 0px 0px 2px;
		color: $sapphire-white;
		height: 20px;
		line-height: 20px;
		margin-right: 10px;
		text-align: center;
		width: 20px;
	}
	.BedInformationText {
		color: $sapphire-white;
		font-size: $font-size-normal;
		margin-left: 10px;
		margin-left: 0;
		margin-right: 10px;
	}
}

.phone {
	.BedInfoBackgroundContent {
		.BedInfoIconBackground {
			padding: 0;
			width: 100%;
		}

		.BedInformationText {
			margin-left: 5px;
		}
	}
}

.FA,
.AR {
	.BedInfoBackgroundContent {
		padding: 1px 1px 1px 10px;

		.BedInfoIconBackground {
			border-radius: 2px 2px 0px 0px;
			margin-right: 0;
		}
	}
}
