.ExpandedList {
	border-bottom: 1px solid $light-grey;
	display: table;
	height: auto;
	width: 100%;

	&:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}

	> div > div:not(.Placeholder) {
		display: table-cell;
		vertical-align: middle;
	}

	> div > div.Filler {
		padding: 0 2.083rem;
	}

	> div > div.Label {
		line-height: 1.4em;
		padding: 0.5rem 0;
		padding-left: 50px;
		white-space: normal;
		width: 100%;
	}

	> div > div.Label > [description] {
		color: $regular-grey;
		font-size: 1rem;
	}

	> div > div.Action {
		color: $mid-light-grey;
	}

	> div:last-child:empty {
		display: none;
	}

	> div {
		width: 100%;
	}

	> div.ExpandableContent > span {
		display: table-row-group;
		width: 100%;
	}

	> div > div.Action .InvertIconLabel {
		margin-right: 10px;
	}
}
