$tab-height: 44px;

.FullScreenTabsDashboard .MultiFloatRight {
	float: right;
}

.FA .FullScreenTabsDashboard .MultiFloatRight,
.AR .FullScreenTabsDashboard .MultiFloatRight {
	float: left;
}

.FullScreenTabsDashboard > div:first-child {
	background-color: #113041;
	height: 3.667rem;
}

.FullScreenTabsDashboard > div:first-child > div[buttons] {
	height: 100%;
}

.FullScreenTabsDashboard > div:first-child > div[buttons] a.Button[tab] {
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-size: 1.4rem;
	height: 100%;
	line-height: 2.4em;
}

.FullScreenTabsDashboard > div:first-child > div[tabs] {
	padding: 0.89rem 5px 0;
}

.FullScreenTabsDashboard > div:first-child div.FullScreenTabsDashboard-Tab {
	color: $regular-white;
	display: inline-block;
	font-size: 1.25rem;
	min-width: 100px;
	padding: 0.37rem 25px;
	text-align: center;
	user-select: none;
}

.FullScreenTabsDashboard > div:first-child div.FullScreenTabsDashboard-Tab.Active {
	background-color: #f7f4ef;
	border-bottom: 1px solid #f7f4ef;
	pointer-events: none;
}

.FullScreenTabsDashboard > div:first-child div.FullScreenTabsDashboard-Tab > div[icon] {
	margin-left: -10px;
	margin-right: 10px;
}

.FA .FullScreenTabsDashboard > div:first-child div.FullScreenTabsDashboard-Tab > div[icon],
.AR .FullScreenTabsDashboard > div:first-child div.FullScreenTabsDashboard-Tab > div[icon] {
	margin-left: 10px;
	margin-right: -10px;
}

.FullScreenTabsDashboard > div:first-child div.FullScreenTabsDashboard-Tab.Active > div[icon] {
	color: #835478;
}

.FullScreenTabsDashboard > div:last-child div.FullScreenTabsDashboard-Content div.TabContentDashboard-Loading {
	color: rgba(51, 51, 51, 0.2);
	font-size: 3rem;
	padding: 60px 10px;
	text-align: center;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.1);
}

.FullScreenTabsWrapper_Container {
	background-color: $regular-alpha;
	height: $tab-height;
	padding: 0;
	position: relative;

	.FullScreenTabsWrapper__Tabs {
		bottom: 0;
		display: inline-flex;
		position: absolute;
	}

	.FullScreenTabsWrapper__Actions {
		position: absolute;
		right: 18px;
		top: 7px;
	}
}

.tablet .FullScreenTabsWrapper_Container .FullScreenTabsWrapper__Actions,
.desktop.small .FullScreenTabsWrapper_Container .FullScreenTabsWrapper__Actions {
	float: right;
	padding-right: 18px;
	padding-top: 7px;
	position: static;
	right: auto;
	top: auto;
}

.TabWrapper {
	@include flex-center-vertically();

	border-top: solid 3px $regular-alpha;
	height: $tab-height;
	min-width: 100px;
	position: relative;
	text-align: center;

	&:hover {
		background-color: $regular-beta;
		border-top-color: $regular-beta;
	}

	.TabWrapper_tab a {
		color: $regular-white;
		display: block;
		font-family: $font-family-latin-bold;
		font-size: 1rem;
		line-height: calc(#{$tab-height} - 5px);
		padding-left: $sapphire-sizes--medium;
		padding-right: $sapphire-sizes--medium;
		white-space: nowrap;
	}

	.TabWrapper_icon {
		padding-left: $sapphire-sizes--medium;

		.icon {
			color: $regular-white;
			display: block;
		}
	}
}

.TabWrapper.Active {
	background-color: $regular-white;
	color: $regular-alpha;
	pointer-events: none;

	a,
	a:hover {
		color: $text-color-regular;
	}

	.TabWrapper_icon .icon {
		color: $text-color-regular;
	}
}

.FullScreenTabs_tabCounter {
	background-color: $regular-red;
	border-radius: 100%;
	color: $regular-white;
	font-size: 10px;
	height: 15px;
	line-height: 15px;
	margin-left: -15px;
	margin-top: 6px;
	text-align: center;
	width: 15px;
	z-index: 1;
}

.FA .FullScreenTabs_tabCounter,
.AR .FullScreenTabs_tabCounter {
	left: 2px;
	right: auto;
}

.FullScreenTabsWrapper_Container.Dashboard {
	background-color: $regular-white;

	a {
		position: relative;
	}

	.TabWrapper {
		background-color: $regular-white;
		border-top-color: $regular-white;
		border-top-left-radius: $border-radius-default;
		border-top-right-radius: $border-radius-default;
		color: $regular-grey;
		font-size: 1rem;
		line-height: calc(#{$tab-height} - 5px);
		padding-left: 24px;
		padding-right: 24px;
		transition: all 0.5s;

		&:hover {
			background-color: $sapphire-light;
			border-top-color: $regular-alpha;
			color: $regular-beta;
		}

		&.Active {
			background-color: $body-color;
			border-bottom-color: $body-color;
			border-top-color: $regular-alpha;
			color: $regular-beta;
			font-family: $font-family-latin-bold;
		}
	}

	.FullScreenTabs_tabCounter {
		position: absolute;
		right: 3px;
		top: 0;
	}
}

.FullScreenTabsWrapper_Container.Emergency {
	.TabWrapper.Active {
		background-color: $light-red;
		border-top: $regular-red;
		color: $regular-red;

		.TabWrapper_tab a {
			color: $regular-red;
		}
	}
}

.tablet .FullScreenTabsWrapper_Container {
	height: 43px;
}
