.BlankListLine {
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: 4px;
	display: table;
	padding: 16px;
	width: 100%;

	&.isDismissed {
		background-color: $body-color;
	}

	&_info {
		display: table-cell;
		vertical-align: middle;
	}

	&__infoTitle {
		font-family: $font-family-latin-bold;
		font-size: 1em;
	}

	&__infoActionBy {
		color: $regular-gray;
	}

	&_actions {
		display: table-cell;
		text-align: right;
		vertical-align: middle !important;
	}
}

.AR,
.FA {
	.BlankListLine_actions {
		text-align: left;
	}
}
