<style>
    .ProgressBar {
        margin-bottom: 10px;
    }
</style>

<div style="width: 200px;" class="ProgressBarWrap">
    <div class="ProgressBar">
        <div class="ProgressBar_structure {{modifier_class}}">
            <div style="width: 25%;" class="ProgressBar__animation"></div>
        </div>
    </div>
    <div class="ProgressBar">
        <div class="ProgressBar_structure {{modifier_class}}">
            <div style="width: 65%;" class="ProgressBar__animation"></div>
        </div>
    </div>
    <div class="ProgressBar">
        <div class="ProgressBar_structure {{modifier_class}}">
            <div style="width: 100%;" class="ProgressBar__animation"></div>
        </div>
    </div>
</div>
