@mixin badges(
	$bgColor: $sapphire-white,
	$textColor: $regular-blue,
	$notInverted: true
) {
	@if ($notInverted) {
		border: 1px solid $bgColor;
	} @else {
		border: 1px solid $textColor;
	}
	background-color: $bgColor;
	border-radius: 0;
	color: $textColor;
}

.LayoutBase .StatusBadges {
	@include badges;
	font-family: $font-family-bold;
	font-size: $font-size-small;
	line-height: 12px;
	max-height: 20px;
	padding: 3px 10px;
	vertical-align: middle;

	&.BadgeYellow {
		@include badges($regular-beige, $dark-beige);
	}

	&.BadgeRed {
		@include badges($light-red, $regular-red);
	}

	&.BadgeGreen {
		@include badges($light-green, $regular-green);
	}

	&.BadgeGrey {
		@include badges($light-grey, $regular-grey);
	}

	&.BadgeBlue {
		@include badges($dark-blue, $sapphire-white);
	}

	&.BadgeWhite {
		@include badges($sapphire-white, $light-green);
	}

	&.IconTextRed {
		color: $regular-red;
	}
	&.IconTextBlack {
		color: $dark-grey;
	}

	/*New Parameters StatusBadge*/

	/*NoBackground*/
	&.InvertBackground {
		.BadgeRed {
			@include badges($regular-red, false);
		}
		.BadgeGreen {
			@include badges($regular-green, false);
		}
		.BadgeYellow {
			@include badges($regular-yellow, false);
		}
		.BadgeGrey {
			@include badges($light-grey, false);
		}
		.BadgeBlue {
			@include badges($dark-blue, false);
		}
		.BadgeSapphireBlue2 {
			@include badges($regular-blue, false);
		}
		&.IconTextRed {
			color: $regular-red;
		}

		&.IconTextBlack {
			color: $dark-grey;
		}
	}

	.tablet .StatusBadges .Badges_Icon + div {
		white-space: nowrap;
	}
}
