.ViewStateCounter {
  pointer-events: all !important;
}

.remote-appointment-trigger {
  background: $regular-black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: -50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: white;
  height: 50px;
  line-height: 50px;
  padding-left: 60px;
  position: fixed;
  right: 150px;
  transition: bottom 400ms ease;
  width: 250px;
  z-index: 80;

  &.opened {
    bottom: 15px;
  }

  #remote-appointment-opener {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }


  // #remote-appointment-dragger {
  //   cursor: move;
  //   left: 5px;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);

  //   &:before {
  //     content: '\e656';
  //     font-family: 'Sapphire-Icon-Font';
  //     font-size: 28px;
  //   }
  // }

  &:after {
    content: '\e90b';
    font-family: 'Sapphire-Icon-Font';
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}


.sound-wave-container {
  height: 5px;
  left: 10px;
  position: absolute;
  top: -2px;
  width: 60px;
}

.sound-wave-container>div {
  animation: sound-wave 3s ease-in-out infinite;
  background: $regular-alpha;
  display: inline-block;
  height: 100%;
  margin: 0;
  position: relative;
  width: 1px;

  &.rectangle-2 {
    animation-delay: 0.1s;
  }

  &.rectangle-3 {
    animation-delay: 0.2s;
  }

  &.rectangle-4 {
    animation-delay: 0.3s;
  }

  &.rectangle-5 {
    animation-delay: 0.4s;
  }

  &.rectangle-6 {
    animation-delay: 0.5s;
  }

}



@keyframes sound-wave {

  0%,
  100% {
    transform: scaleY(1);
  }

  16.67% {
    transform: scaleY(3);
  }

  33.33% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(3);
  }

  66.67% {
    transform: scaleY(1);
  }

  83.34% {
    transform: scaleY(3);
  }
}