a {

  &:link,
  &:visited {
    color: $regular-beta;
    font-family: $font-family-bold;
    text-decoration: none;
  }
}

// .desktop {
//   a:link,
//   a:visited,
//   a:not([disabled='disabled']) {
//     &:hover {
//       //color: #08a6af;
//       cursor: pointer;
//       text-decoration: none;
//     }
//   }
// }