a {
	&:link,
	&:visited {
		//color: #16979f;
		font-family: $font-family-regular;
		text-decoration: none;
		transition: color 100ms ease;
	}
}

.desktop {
	a:link,
	a:visited,
	a:not([disabled='disabled']) {
		&:hover {
			//color: #08a6af;
			cursor: pointer;
			text-decoration: none;
		}
	}
}
