<section>
	<div class='BlockContainer__Row BlockContainer__Row--inlineItem'>
		<div>
			<label for='checkbox1'>
				Regular CheckBox
			</label>
			<input type='checkbox' name='checkbox1' />
		</div>
		<div class='CheckMandatory'>
			<label for='checkbox2'>
				Mandatory (class)
			</label>
			<input type='checkbox' name='checkbox2' />
		</div>
		<div>
			<label for='checkbox3'>
				ReadOnly (class)
			</label>
			<input
				type='checkbox'
				name='checkbox3'
				class='ReadOnly'
				disabled='disabled'
			/>
		</div>
		<div class='CheckMandatory'>
			<label for='checkbox4'>
				.Mandatory and .ReadOnly (class)
			</label>
			<input
				type='checkbox'
				name='checkbox4'
				class='ReadOnly'
				disabled='disabled'
			/>
		</div>
	</div>
</section>