// Controls
//
// Basic HTML controls such as inputs, radio, checkbox, select and textarea.
//
//Style guide: Controls

// Input
//
// Input element
//
// .Mandatory - (class)
//
// Markup: _input.hbs
//
//Style guide: Controls.Input

// Checkbox
//
// Checkbox element
//
// Markup: _checkbox.hbs
//
//Style guide: Controls.Checbox

// Radio
//
// Radio element
//
// Markup: _radio.hbs
//
//Style guide: Controls.Radio

@mixin common-radio-checkbox-style($border-radius: 4px) {
	appearance: none;
	border: 0;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	margin-right: 6px;
	margin-top: -3px;
	position: relative;
	vertical-align: middle;
	width: 20px;

	&::before {
		background: $regular-white;
		border: 1px solid $light-grey;
		border-radius: $border-radius;
		box-shadow: none;
		content: ' ';
		display: block;
		height: 100%;
		width: 100%;
	}

	&:hover:before {
		background-color: $regular-eta;
		border: 1px solid $sapphire-light;
		box-shadow: inset 0 1px 3px 0 $body-color;
	}

	&:focus:before {
		border: 1px solid $dark-grey;
	}

	&:disabled {
		border: none;
		cursor: not-allowed;

		&:before,
		&:hover:before {
			background-color: $sapphire-light;
			border: 1px solid $light-grey;
			box-shadow: none;
		}
	}

	&:checked:after {
		opacity: 1;
	}

	&.ReadOnly {
		background-color: transparent;
		border-width: 0;
	}

	&.Not_Valid {
		&:before {
			border: 1px solid $regular-red;
			box-shadow: inset 0 1px 3px 0 $light-grey, 0 0 4px 0 $regular-red;
			padding: 0;
		}

		&:focus:before {
			border: 1px solid $regular-red;
			box-shadow: none;
		}
	}
}

input {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
		margin: 0;
	}

	&[type='number'] {
		text-align: right;
	}

	&[type='checkbox'] {
		@include common-radio-checkbox-style;

		&::after {
			border: 3px solid $regular-alpha;
			border-right: 0;
			border-top: 0;
			content: ' ';
			height: 5px;
			left: 20%;
			opacity: 0;
			position: absolute;
			top: 24%;
			transform: rotate(-45deg);
			width: 11px;
		}

		&:disabled:after {
			border-color: $light-grey;
		}
	}

	&[type='radio'] {
		@include common-radio-checkbox-style(20px);

		&::after {
			background: $regular-alpha;
			border: 1px solid transparent;
			border-radius: 8px;
			content: ' ';
			display: table;
			height: 6px;
			left: 7px;
			opacity: 0;
			position: absolute;
			top: 7px;
			width: 6px;
		}

		&:disabled:after {
			background: $light-grey;
		}
	}
}

textarea {
	height: auto;
	min-height: 36px;
	resize: none;

	&.Not_Valid,
	&.Not_Valid:focus {
		padding: 0 10px;
	}
}

select,
textarea,
input[type]:not([type='checkbox']):not([type='radio']) {
	appearance: none;
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: 2px;
	box-shadow: inset 0 1px 3px 0 $body-color;
	box-sizing: border-box;
	font-size: 1em;
	height: 36px;
	padding: 0 10px;
	transition: all 0.1s ease-in;

	&::placeholder {
		color: $regular-gray;
	}

	&:focus {
		border: 1px solid $dark-grey;
		box-shadow: none;
	}

	&:active {
		border: 1px solid $regular-alpha;
		box-shadow: inset 0 1px 3px 0 $body-color;
	}

	&:hover {
		background-color: $regular-eta;
		border: 1px solid $sapphire-light;
		box-shadow: inset 0 1px 3px 0 $body-color;
	}

	&[disabled='disabled'],
	&[readonly='readonly'] {
		&,
		&:hover,
		&:focus {
			background-color: $sapphire-light;
			background-image: none;
			background-position: right 14px center;
			background-repeat: no-repeat;
			border: 1px solid $light-grey;
			box-shadow: none;
			cursor: not-allowed;

			&::placeholder {
				color: $light-grey;
			}
		}
	}

	&.Mandatory {
		&,
		&:hover,
		&:focus {
			border-left: 3px solid $regular-alpha;
		}
	}

	&.Not_Valid {
		border: 1px solid $regular-red;
		border-left-width: 3px;
		border-radius: 2px;
		box-shadow: inset 0 1px 3px 0 $light-grey, 0 0 4px 0 $regular-red;

		&:hover,
		&:focus {
			border: 1px solid $regular-red;
			border-left-width: 3px;
			box-shadow: none;
		}
	}

	&.small {
		height: 26px;
		min-height: 26px;
	}
}

.AR,
.FA {
	select,
	textarea,
	input[type]:not([type='checkbox']):not([type='radio']) {
		&:focus {
			border: 1px solid $dark-grey !important;
		}

		&:hover {
			border: 1px solid $sapphire-light !important;
		}

		&.Mandatory {
			border-left: 1px solid $light-grey;

			&,
			&:hover,
			&:focus {
				border-right: 3px solid $regular-alpha !important;
			}
		}
	}

	input[type='radio'],
	input[type='checkbox'] {
		margin-left: 5px;
		margin-right: 0;
		padding: 0;
	}

	input[type='checkbox'] {
		&:after {
			left: 10%;
		}
	}

	input[type='radio'] {
		&:after {
			left: 25%;
		}
	}

	select {
		background-position: 5px center;
		padding-right: 5px;
	}
}
