<style>
	.BlockContainer__Row {
    display: flex;
	}

	.BlockContainer__Row div {
    width: 100%;
  }

  .BlockContainer__Row:not(.BlockContainer__Row--inlineItem) div {
    display: flex;
    flex-direction: column;
  }

  .BlockContainer__Row div:not(:last-child) {
    margin-right: 15px;
  }
</style>

<section class='BlockContainer'>
	{{! Text Inputs }}
	<div class='BlockContainer__Row'>
		<div>
			<label for='input1'>
				Regular Input
			</label>
			<input name='input1' type='text' class="{{modifier_class}}" />
		</div>
		<div>
			<label for='input3'>
				ReadOnly Input
			</label>
			<input
				name='input3'
				type='text'
				class="{{modifier_class}}"
				readonly='readonly'
			/>
		</div>
		<div>
			<label for='input3'>
				Disabled Input
			</label>
			<input
				name='input3'
				type='text'
				class="{{modifier_class}}"
				disabled='disabled'
			/>
		</div>
	</div>
</section>