.HeaderIdentification {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;

  &-photo {
    background-color: #fafafa;
    position: relative;
  }

  &-names {
    margin-left: 10px;
    white-space: nowrap;

    .HeaderIdentification-primary {
      align-items: center;
      display: flex;

      &-name {
        font-family: $font-family-latin-bold;
        font-size: 1.5rem;

        .patient-en-fullname span {
          display: inline-block;
          max-width: 400px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }



  }
}

.AR .HeaderIdentification {
  padding-left: 100px;
  padding-right: 0;

  .HeaderIdentification-names {
    margin-left: 0;
    margin-right: 10px;

    .HeaderIdentification-primary-name {
      font-family: $font-family-arabic-bold;
    }
  }
}

.HeaderIdentification-photo .PhotoFrameMonths {
  display: flex;
  height: 50px;
  position: static;
  width: 90px;

  .Canvas .PhotoFrame {
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 50px;
    padding: 0;
    position: static;
    width: 90px;

    .PatientGender {
      height: auto;
      line-height: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: auto;

      &.Unidentified {
        background-color: #ededed;
        color: #d2d2d2;
      }

      &.Male {
        background-color: #ccd7dc;
        color: #11394f;
      }

      &.Female {
        background-color: #dcccdb;
        color: #6f4065;
      }
    }

    .PatientGender img {
      left: 5px;
      max-height: 45px;
      max-width: 45px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .PatientGender .icon {
      font-size: 30px;
      left: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  .PatientHeaderPhotoAge {
    font-family: $font-family-latin-bold;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    .AgeDisplaySingleValue {
      font-size: .8rem;
      min-width: 30px;
      text-align: center;
    }

    .age-range {
      font-size: .8rem;
      line-height: normal;
    }
  }

}


.HeaderIdentification-primary {
  align-items: center;
  display: flex;

  &-name {
    font-family: 'LatoBold';
    font-size: 1.5rem;

    .patient-en-fullname span {
      display: inline-block;
      max-width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.HeaderIdentification-primary-otherinformation {
  margin-left: 5px;
}

.AR .HeaderIdentification-primary-otherinformation {
  margin-left: 0;
  margin-right: 5px;

  .ActionsMenu-label {
    margin: 0;
  }

}

.HeaderIdentification-secondary {
  align-items: center;
  display: flex;
}

.HeaderIdentification-secondary-name {
  flex-basis: 100%;
  font-size: 15px;

  >div {
    display: block;
  }
}

.HeaderIdentification-secondary .FlagWrapper {
  margin-left: 5px;
  vertical-align: middle;

  .FlagContainer {
    height: 16px;
    line-height: normal;
    width: 22px;

    .flag {
      bottom: auto;
      position: static;
    }
  }


}


.AR {
  .HeaderIdentification-photo .PhotoFrameMonths .Canvas .PhotoFrame .PatientGender img {
    left: auto;
    right: 5px;
  }

  .HeaderIdentification-photo .PhotoFrameMonths .PatientHeaderPhotoAge {
    left: 5px;
    right: auto;
  }

  .HeaderIdentification-photo .PhotoFrameMonths .PatientHeaderPhotoAge {
    font-family: $font-family-arabic-bold;
  }

}