$GenericStrutucre-color-border: $gray-lighter;
$GenericStrutucre-color-title-underline: $regular-alpha;



.GenericStructure-header {
  align-items: flex-end;
  display: flex;
  margin-bottom: 16px;
}

.GenericStructure-header-content {
  max-width: 70%;
}

.GenericStructure-header-actions {
  flex-grow: 1;
  text-align: right;
  white-space: nowrap;
}

.GenericStructure-header-actions .OSInline {
  vertical-align: middle;
}

.GenericStructure-subheader {
  display: flex;
}

.GenericStructure-subheader-content {
  flex-grow: 1;
  margin-bottom: 26px;
}

.GenericStructure-subheader-actions {
  flex-grow: 1;
  margin-bottom: 26px;
  text-align: right;
}

.GenericStructure-section {
  margin-bottom: 26px;
}

.GenericStructure-section-header {
  align-items: flex-end;
  display: flex;
}

.GenericStructure-section-header-content {
  max-width: 70%;
}

.GenericStructure-section-header-actions {
  flex-grow: 1;
  text-align: right;
  white-space: nowrap;
}

.GenericStructure-header-border--GrayBorder>.GenericStructure-header>.GenericStructure-header-content,
.GenericStructure-header-border--GrayBorder>.GenericStructure-header>.GenericStructure-header-actions {
  border-bottom: 1px solid $GenericStrutucre-color-border;
  padding-bottom: 10px;
}

.GenericStructure-header-border--BorderTitle>.GenericStructure-header>.GenericStructure-header-content {
  align-items: center;
  border-bottom: 1px solid $GenericStrutucre-color-title-underline;
  display: flex;
  padding-bottom: 10px;
}

.GenericStructure-header-border--BorderTitle>.GenericStructure-header>.GenericStructure-header-actions {
  border-bottom: 1px solid $GenericStrutucre-color-border;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1024px) {

  .GenericStructure-header,
  .GenericStructure-header-content,
  .GenericStructure-header-actions,
  .GenericStructure-subheader,
  .GenericStructure-subheader-content,
  .GenericStructure-subheader-actions,
  .GenericStructure-section-header,
  .GenericStructure-section-header-content,
  .GenericStructure-section-header-actions {
    display: block;
    margin-bottom: 10px;
    max-width: none;
    white-space: normal;
  }

  .GenericStructure-header-actions:empty {
    display: none !important;
  }

  .GenericStructure-header,
  .GenericStructure-subheader {
    margin-bottom: 26px;
  }

  .GenericStructure-header-actions {
    border-bottom: none !important;
    padding-bottom: none !important;
  }
}