$sapphire__colors: (
    background: #f7f4ef,
    darkgrey: #7C7F7F,
    darkred: #b10000,
    lightgrey: #f2f2f2,
    orange: #da6802,
    primary: #11455D,
    red: #d01a1a,
    secondary: #16979F
);


