$sapphire__colors: (
    background: #f7f4ef,
    black: #000,
    gray-dark: #7C7F7F,
    gray-darker: #333,
    gray-light: #d9d9d9,
    gray-lighter: #f2f2f2,
    orange: #da6802,
    red-dark: #b10000,
    red: #d01a1a,

    primary-darker: red,
    primary-dark: red,
    primary: red,
    primary-light: red,
    primary-lighter: red,

    secondary-darker: brown,
    secondary-dark: brown,
    secondary: brown,
    secondary-light: brown,
    secondary-lighter: brown,


    /*
    primary-darker: #0A2D40,
    primary-dark: #0E4056,
    primary: #11455D,
    primary-light: #006185,
    primary-lighter: #00698E,


    secondary-darker: #16979F,
    secondary-dark: #08A6AF,
    secondary: #0CB3BF,
    secondary-light: #0EBEC8,
    secondary-lighter: #7BB2BF,
    */

    white: #fff,
);
