$sapphire__colors: (background: #f7f4ef,
    black: #000,
    gray-dark: #7C7F7F,
    gray-darker: #333,
    gray-light: #d9d9d9,
    gray-lighter: #f2f2f2,
    orange: #da6802,
    red-dark: #b10000,
    red: #d01a1a,

    primary-darker: darken(purple, 30%),
    primary-dark: darken(purple, 15%),
    primary: purple,
    primary-light: lighten(purple, 15%),
    primary-lighter: lighten(purple, 30%),

    secondary-darker: darken(pink, 30%),
    secondary-dark: darken(pink, 15%),
    secondary: yellow,
    secondary-light: lighten(pink, 15%),
    secondary-lighter: lighten(pink, 30%),


    /*
    primary-darker: #0A2D40,
    primary-dark: #0E4056,
    primary: #11455D,
    primary-light: #006185,
    primary-lighter: #00698E,


    secondary-darker: #16979F,
    secondary-dark: #08A6AF,
    secondary: #0CB3BF,
    secondary-light: #0EBEC8,
    secondary-lighter: #7BB2BF,
    */

    white: #fff,
);