$searchsd-border-radius: 24px;
$searchsd-size-base: 48px;

.SearchSD {
	position: relative;

	&--shield {
		position: absolute;
		width: 100%;
		z-index: 2;
	}

	.SearchSD___remove {
		align-items: center;
		background-color: $sapphire-white;
		border: 1px solid $light-grey;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		height: 28px;
		justify-content: center;
		position: absolute;
		right: 6px;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 28px;

		&:hover {
			border: 1px solid $regular-alpha;
		}
	}

	&.Open {
		.SearchSD_search {
			border-bottom: 0;

			.SearchSD__inputWrapper {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;

				.icon {
					color: $regular-beta;
				}
			}

			> a:first-child {
				background-color: $sapphire-white;
			}
		}

		.SearchSD_content {
			background-color: $sapphire-white;
			display: block;
		}

		.SearchSD_search_favoriteLink {
			border-bottom-left-radius: 0 !important;
		}
	}

	&.hasFavorite {
		.SearchSD_search {
			.SearchSD__inputWrapper {
				border-bottom-left-radius: 0;
				border-left-color: transparent;
				border-top-left-radius: 0;
			}
		}

		.SearchSD__star {
			@include flex-center-total;
		}
	}

	&.hasClone {
		&.Open {
			.SearchSD_search {
				.SearchSD__cloneWrapper {
					border-bottom-right-radius: 0;
				}
			}
		}

		.SearchSD_search {
			.SearchSD__inputWrapper {
				border-bottom-right-radius: 0;
				border-right: 1px solid $light-grey;
				border-right-color: transparent;
				border-top-right-radius: 0;
				width: 100%;
			}

			.SearchSD__cloneWrapper {
				background-color: $regular-eta;
				border: 1px solid $light-grey;
				border-bottom-right-radius: 23px;
				border-top-right-radius: 23px;
				cursor: pointer;
				display: table-cell;
				font-size: $font-size-heading4;
				padding: 0;
				vertical-align: middle;
				width: 248px;

				&:before {
					color: $regular-alpha;
					content: '\e615';
					font-family: $font-family-icons;
					font-size: $font-size-heading4;
					font-style: normal;
					font-variant: normal;
					font-weight: normal;
					padding-right: 10px;
					pointer-events: none;
					position: absolute;
					text-transform: none;
					top: 10px;
					transform: rotateY(180deg);
					z-index: 1;
				}
			}

			.SearchSD___cloneTitle {
				color: $mid-light-grey;
				display: inline-block;
				font-size: inherit;
				height: 100%;
				line-height: 46px;
				padding-left: 40px;
				width: 100%;
			}
		}

		&.showClone {
			.SearchSD__inputWrapper {
				cursor: pointer;

				input {
					background-color: $sapphire-white;
					pointer-events: none;
				}
			}
		}

		&.hasFavorite {
			&.showFavorite {
				&.Open {
					.SearchSD__inputWrapper {
						display: none !important;
					}
				}
			}
		}
	}

	&.showFavorite {
		.SearchSD_search {
			.SearchSD__FavoriteCounter,
			.SearchSD__FavoriteActions {
				border-bottom: 1px solid $light-grey;
				border-top: 1px solid $light-grey;
			}

			.SearchSD_search_favoriteLink {
				background-color: $regular-alpha;
				border-color: $regular-alpha;
				border-right: none;
				color: $regular-white;

				&:hover {
					background-color: $regular-alpha;
				}
			}
		}

		.SearchSD__inputWrapper {
			border-right: none;
		}

		.SearchSD__cloneWrapper {
			display: none;
		}
	}

	&.MultiSelectActive {
		.SearchSD_search .SearchSD__FavoriteActions > div {
			opacity: 1;
			transition: visibility 0.3s, opacity 0.3s linear;
			visibility: visible;
		}

		.SelectSD_contentWrapper + a {
			filter: alpha(opacity=30);
			opacity: 0.3;
		}
	}

	span.ListRecords {
		> span {
			border-bottom: 1px solid $light-grey;

			> span {
				border-bottom: 1px solid $light-grey;
				display: table;
				width: 100%;
			}

			&:last-child {
				border: 0;
			}
		}

		> span:not(:first-child) {
			border-top: none;
		}
	}

	// .SelectSD_contentWrapper + a {
	// 	transition: opacity 0.3s ease-in-out;
	// }

	.SearchSD_search {
		display: table;
		height: $searchsd-size-base;
		position: relative;
		width: 100%;

		.SearchSD_search_favoriteLink {
			border: 1px solid $light-grey;
			border-bottom-left-radius: $searchsd-border-radius;
			border-top-left-radius: $searchsd-border-radius;
			color: $regular-alpha;
			cursor: pointer;
			display: table-cell;
			min-width: $searchsd-size-base;
			text-align: center;
			text-decoration: none;
			transition: all 0.1s ease-in;
			vertical-align: middle;
			width: $searchsd-size-base;

			&:hover {
				background-color: $regular-eta;
				border-color: $regular-alpha;
			}
		}

		.SearchSD__inputWrapper {
			background-color: $sapphire-white;
			border: 1px solid $light-grey;
			border-radius: $searchsd-border-radius;
			display: table-cell;
			position: relative;
			transition: all 0.1s ease-in;
			vertical-align: middle;

			&:hover {
				background-color: $regular-eta;
				border-color: $regular-alpha;
			}

			.SearchSD__return {
				display: inline-block;
				height: 100%;
				left: 0;
				pointer-events: auto;
				position: absolute;
				top: 0;
				width: 100%;
			}

			.SearchSD__actionInput {
				height: 100%;
				position: relative;
				width: 100%;

				.SearchSD___input {
					height: 100%;
					padding: 0;
					width: 100%;

					input[type='text'] {
						background-color: transparent !important;
						border: 0;
						box-shadow: none;
						font-size: $font-size-heading4;
						height: 100%;
						padding: 0 $searchsd-size-base;
						width: 95%;

						&::placeholder {
							color: $mid-light-grey;
							font-family: $font-family-latin-regular;
							// font-size: 1em;
						}

						&:hover,
						&:focus,
						&:focus {
							background-color: $sapphire-white;
						}
					}

					&:before {
						@include flex-center-total;

						color: $mid-light-grey;
						content: '\e690';
						font-family: $font-family-icons;
						font-size: $font-size-heading4;
						font-style: normal;
						font-variant: normal;
						font-weight: normal;
						height: 100%;
						pointer-events: none;
						position: absolute;
						text-transform: none;
						transform: rotateY(180deg);
						width: $searchsd-size-base;
						z-index: 1;
					}
				}
			}
		}

		.SearchSD__FavoriteCounter {
			color: $mid-light-grey;
			display: table-cell;
			font-size: $font-size-heading4;
			padding-left: $sapphire-sizes--medium;
			vertical-align: middle;
			width: 30%;
		}

		.SearchSD__FavoriteActions {
			display: table-cell;

			padding: 0 $sapphire-sizes--medium;
			text-align: right;

			vertical-align: middle;

			> div {
				opacity: 0;
				transition: visibility 0.3s, opacity 0.3s linear;
				visibility: hidden;
			}
		}

		.SearchSD__FavoriteActionsCancel,
		.SearchSD__FavoriteActionsAdd {
			display: inline-block;
		}

		.SearchSD__FavoriteActionsCancel {
			line-height: 36px;

			a,
			a:link {
				color: $regular-alpha;
				font-family: $font-family-latin-bold;
			}
		}

		.SearchSD___BackToSearch {
			border-bottom-right-radius: 23px;
			border-top-right-radius: 23px;
			color: $mid-light-grey;
			height: 100%;
			line-height: 46px;
			padding-left: 40px;
			padding-right: 20px;
			white-space: nowrap;
			width: 100%;
		}

		.SearchSD__FavoriteRemove {
			background-color: $regular-eta;
			border: 1px solid $light-grey;
			border-top-right-radius: $searchsd-border-radius;
			color: $mid-light-grey;
			display: table-cell;
			font-family: $font-family-latin-regular;
			font-size: 1.143em;
			padding: 0;
			vertical-align: middle;
			width: 248px;

			&:before {
				color: $regular-alpha;
				content: '\e690';
				font-family: $font-family-icons;
				font-size: 1.143em;
				font-style: normal;
				font-variant: normal;
				font-weight: normal;
				padding-right: 10px;
				pointer-events: none;
				position: absolute;
				text-transform: none;
				top: 10px;
				transform: rotateY(180deg);
				z-index: 1;
			}
		}
	}

	.SearchSD_content {
		border: 1px solid $light-grey;
		border-bottom-left-radius: $searchsd-border-radius;
		border-bottom-right-radius: $searchsd-border-radius;
		border-top: none;
		display: none;
		position: relative;
		width: 100%;
		z-index: 2;

		.EmptySelectableList {
			background-color: $regular-white;
			border-bottom: 1px solid $light-grey;
			color: $regular-grey;
			display: block;
			font-size: $font-size-heading4;
			height: 50px;
			line-height: 30px;
			padding: 10px;

			> span {
				font-size: inherit;
			}

			&.NoMessage {
				height: auto;
				padding: 0;
			}

			&.NoBorder {
				border: none;
			}
		}

		span.ListRecords span.selected .SelectSD {
			background-color: $sapphire-white;
			box-shadow: inset 0px 0px 0px 1px $regular-beta, 0px 0px 5px 0px $regular-beta;
			position: relative;
		}

		.SearchSD__loading {
			color: $mid-light-grey;
			font-size: $font-size-heading4;
			padding: $sapphire-sizes--medium 18px;
			position: relative;
			width: 100%;

			&:before {
				animation: loading 2s infinite;
				content: attr(data-text);
				max-width: 7em;
				overflow: hidden;
				position: absolute;
				white-space: nowrap;
			}
		}

		.SearchSD_showMore {
			background-color: $sapphire-white;
			border-radius: 0 0 4px 4px;
			display: table;
			text-align: center;
			width: 100%;

			a {
				font-family: $font-family-latin-bold;
				font-size: $font-size-heading4;
			}

			> span {
				display: table-cell;
				height: 44px;
				vertical-align: middle;
				width: 100%;

				&:empty {
					display: none;
				}
			}

			a {
				display: inline-block;
				width: 100%;
			}
		}
	}
}

/**
* ListRecords inside SearchSD_content must have EmptySelectableList class
* inside "Empty Message Style" ListRecords parameter
* 
* 
* 
*/

.SSDPopupWrapper {
	display: none;

	.SSDOverLay {
		align-items: center;
		background-image: radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
		bottom: 0;
		color: $dark-grey;
		display: flex;
		justify-content: center;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		transition: all 0.14s ease;
		width: 100%;
		z-index: 20;

		.SSDConfirmBox {
			background-color: $sapphire-white;
			border: solid 1px $light-grey;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
			width: auto;
		}
	}
}

/*********************************************************************************************/

@keyframes loading {
	0% {
		max-width: 0;
	}

	100% {
		max-width: 150px;
	}
}

/*AR and FA*/

.AR,
.FA {
	.SearchSD {
		.SearchSD___remove {
			left: 33px;
			right: unset;
		}

		&.hasClone {
			.SearchSD__cloneWrapper {
				border-bottom-left-radius: 23px;
				border-bottom-right-radius: 0;
				border-top-left-radius: 23px;
				border-top-right-radius: 0;

				&:before {
					padding-left: 10px;
					padding-right: 0;
				}
			}

			.SearchSD___cloneTitle {
				padding-left: 0;
				padding-right: 40px;
			}
		}

		.SearchSD_search {
			.SearchSD_search_favoriteLink {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 23px;
				border-left: 1px solid $light-grey;
				border-right: none;
				border-top-left-radius: 0;
				border-top-right-radius: 23px;
			}

			.SearchSD__inputWrapper .SearchSD__actionInput .SearchSD___input {
				input[type='text'] {
					padding: 0 67px 0 40px;
				}

				&:before {
					padding-left: $sapphire-sizes--medium;
					padding-right: 0;
				}
			}
		}

		.SearchSD__inputWrapper {
			border: none;
		}
	}

	.SearchSD___input {
		input[type='text'] {
			&:hover,
			&:active,
			&:focus {
				border: none !important;
				box-shadow: none !important;
			}
		}
	}

	.SearchSD.Open {
		.SearchSD___remove {
			left: 33px;
			right: unset;
		}
	}
}
