$border-radius: 23px;
$search-and-listContent-border: 1px solid $light-grey;
$show-more-and-loading-height: 44px;
$magnifier-icon-input-padding: 40px;
$remove-actionLink-buttons-width: 70px;
$favorit-starLink-button-width: 50px;
$default-height:48px;

%magnifier-icon {
  align-items: center;
  color: $regular-alpha;
  content: '\e690';
  display: flex;
  font-family: 'Sapphire-Icon-Font';
  font-size: 19px;
  height: 100%;
  justify-content: center;
  position: absolute;
  transform: rotateY(180deg);
  width: $magnifier-icon-input-padding;
}

%clone-icon {
  color: $regular-alpha;
  content: '\e615';
  font-family: 'Sapphire-Icon-Font';
  font-size: $font-size-heading2;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  padding-right: 10px;
  pointer-events: none;
  position: absolute;
  text-transform: none;
  top: 10px;
  transform: rotateY(180deg);
  z-index: 1;

}

%search-content-hover {
  &:hover {
    background-color: $regular-eta;
    cursor: pointer;
  }
}

.SearchSD {
  &.Open {
    .SearchSD_search {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .SearchSD__inputWrapper {
        .SearchSD___remove {
          display: flex !important;
        }
      }

      .SearchSD__loading {
        display: flex;
      }
    }

    .SearchSD_content {
      display: block;
    }
  }

  span.icon {
    align-items: center;
    border: 1px solid $light-grey;
    color: $regular-alpha;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;

    &:hover {
      border-color: $regular-alpha;
    }

    &.icon-star,
    &.icon-star-full {
      border: none;
    }
  }

  .SearchSD_search {
    background-color: $sapphire-white;
    border: $search-and-listContent-border;
    border-radius: $border-radius;
    display: flex;
    height: $default-height;
    overflow: hidden;
    position: relative;
    width: 100%;

    .SearchSD_search_favoriteLink {
      align-items: center;
      background-color: $regular-eta;
      border-right: $search-and-listContent-border;
      box-sizing: border-box;
      color: $regular-alpha;
      display: flex;
      height: 100%;
      justify-content: center;

      .SearchSD__star {
        display: flex;
        justify-content: center;
        width: $favorit-starLink-button-width;
      }

    }

    .SearchSD__inputWrapper {
      display: flex;
      height: 100%;
      width: inherit;

      .SearchSD__actionInput {
        height: inherit;
        width: inherit;

        .SearchSD___input {
          height: inherit;
          position: relative;

          input[type='text'] {
            border: none;
            border-radius: 0;
            cursor: pointer;
            height: inherit;
            padding-left: $magnifier-icon-input-padding;

            &::placeholder {
              color: $regular-beta;
              font-family: $font-family-latin-bold;
            }
          }

          &:before {
            @extend %magnifier-icon;
          }
        }
      }

      .SearchSD___remove {
        >div {
          align-items: center;
          display: flex;
          justify-content: center;
          width: $remove-actionLink-buttons-width;

          span.icon-cancel {
            border-radius: 50%;
          }
        }

      }
    }

    .SearchSD__FavoriteRemove {
      border-left: $search-and-listContent-border;
      display: block;
      height: $default-height;
      position: absolute;
      right: 20px;

      .SearchSD___BackToSearch {
        align-items: center;
        display: flex;
        height: 100%;

        &:before {
          @extend %magnifier-icon;
          position: static;
        }
      }
    }

    &.hasClone {
      .SearchSD__cloneWrapper {
        align-items: center;
        display: flex;
        height: inherit;
        white-space: nowrap;



        .SearchSD___cloneTitle {
          align-items: center;
          color: $mid-light-grey;
          display: flex;
          padding-left: 40px;
          width: 100%;

          &:before {
            @extend %clone-icon;
          }
        }
      }
    }


  }

  .SearchSD_content {
    border: $search-and-listContent-border;
    border-top: none;
    display: none;

    .SearchSD_contentList {
      .ListRecords {
        .SelectSD {
          border-bottom: $search-and-listContent-border;
          display: flex;
          height: 50px;

          .SelectSD__starLink,
          .SelectSD_contentWrapper.SelectSD_actionLink {
            align-items: center;
            display: flex;
            justify-content: center;
          }

          .SelectSD__starLink {
            background-color: $sapphire-white;
            border-right: $search-and-listContent-border;
            box-sizing: border-box;

          }

          .SelectSD__starWrapper {
            display: flex;
            justify-content: center;
            width: $favorit-starLink-button-width;
          }

          .SelectSD_contentWrapper {
            align-items: center;
            background-color: $sapphire-white;
            display: flex;
            margin: 0;
            padding-left: $magnifier-icon-input-padding;
            width: 100%;

            @extend %search-content-hover;

          }

          .SelectSD_actionLink {
            background-color: $sapphire-white;
            border-left: $search-and-listContent-border;

            .SelectSD__action {
              align-items: center;
              display: flex;
              height: 100%;
              justify-content: center;
              width: $remove-actionLink-buttons-width;
            }

            span.icon-plus {
              &:before {
                position: relative;
                top: 2px;
              }
            }
          }

          @extend %search-content-hover;
        }
      }
    }

    .SearchSD_showMore {
      align-items: center;
      background-color: $sapphire-white;
      display: flex;
      font-size: $font-size-heading3;
      height: $show-more-and-loading-height;
      justify-content: center;

      @extend %search-content-hover;
    }

    .SearchSD__loading {
      align-items: center;
      background-color: $sapphire-white;
      display: none;
      font-size: $font-size-heading3;
      height: $show-more-and-loading-height;
      padding-left: 98px;
    }
  }
}

.SSDPopupWrapper {
  display: none;
}
