@mixin animation-arrow-button($rotate-degree: 0) {
	transform: rotate($rotate-degree);
	transition: all 0.5s;
}

.SectionExpandableInside {
	background-color: $regular-white;

	&.expanded {
		.ExapandablePlaceholder.HeaderIcon {
			@include animation-arrow-button(0deg);

			position: relative;
		}

		.SectionExpandableInside_content {
			border-bottom: 1px solid $light-grey;
			height: auto;

			&--noBorder {
				border-bottom: none;
			}
		}
	}

	&_content {
		height: 0;
		overflow: hidden;
		padding: 0;
		visibility: initial;
	}

	&_header {
		border-bottom: 1px solid $light-grey;
		color: $dark-grey;
		cursor: pointer;
		display: table;
		height: 35px;
		padding: 0;
		position: relative;
		width: 100%;

		&--noBorder {
			border-bottom: none;
		}

		.HeaderIcon.open {
			@include animation-arrow-button(180deg);
		}

		.HeaderIcon.closed {
			@include animation-arrow-button(0deg);
		}
	}

	.RightAllPlaceDiv {
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap;

		> div {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.ExapandablePlaceholder {
		color: $dark-grey;
		font-size: 1.071em;
		margin-right: 10px;

		&.HeaderIcon {
			@include animation-arrow-button(180deg);

			cursor: pointer;
			font-size: 0.857em;
			margin: 0;
			position: relative;

			span {
				@include arrow-down-simple;

				display: block;
				margin: 0 18px;
			}
		}
	}

	.PlaceHolderActions {
		display: table-cell;
		padding-right: 5px;
		vertical-align: middle;

		> div:not(:first-child) {
			margin-left: 10px;
		}
	}

	.SectionExpandable .SectionExpandableInside_header > div {
		display: table-cell;
		vertical-align: middle;
	}
}

.AR,
.FA {
	.SectionExpandableInside .ExapandablePlaceholder {
		margin-left: 15px;
		margin-right: auto;
	}

	.SectionExpandableInside .PlaceHolderActions > div {
		padding-left: 10px;
		padding-right: 0;

		&:not(:first-child) {
			margin-left: auto;
			margin-right: 10px;
		}
	}
}
