@mixin common-toolbar-button-style($rotate-degree: 270deg) {
	@include arrow-button;

	background-color: $regular-white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate($rotate-degree);
}

div.Toolbar {
	width: 100%;

	&--arrows {
		div.Toolbar {
			&_container {
				&:after,
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					position: absolute;
					top: 0;
					width: 50px;
				}

				&:after {
					background: linear-gradient(270deg, $regular-white 0%, $regular-white 50%, rgba(255, 255, 255, 0) 100%);
					right: 0;
				}

				&:before {
					background: linear-gradient(90deg, $regular-white 0%, $regular-white 50%, rgba(255, 255, 255, 0) 100%);
					left: 0;
					z-index: 1;
				}
			}

			&__Items {
				padding-left: 33px;
				padding-right: 33px;

				.ListRecords {
					width: initial;
				}

				.MenuItemWrapper {
					padding: 10px 20px 15px 20px;

					&__icon {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	&_container {
		background-color: $regular-white;
		position: relative;

		&--noarrows {
			&:before {
				display: none;
			}
		}
	}

	&__Items {
		display: block;
		overflow: hidden;
		padding-top: 11px;

		.ListRecords {
			display: inline-flex;
			width: 100%;

			a .MenuItemWrapper {
				border: 1px solid transparent;
				border-bottom: 3px solid transparent;
			}

			a:focus .MenuItemWrapper {
				border: 1px solid $mid-light-grey;
			}
		}
	}

	&__leftBtn {
		@include common-toolbar-button-style;

		left: 5px;
	}

	&__rightBtn {
		@include common-toolbar-button-style(90deg);

		right: 5px;
	}

	&__leftBtn.Disabled,
	&__rightBtn.Disabled {
		border: 1px solid $light-grey;
		pointer-events: none;

		&:before {
			color: $light-grey;
		}
	}

	&__MoreOptions {
		flex: 1;
		margin: 0;
		text-align: -webkit-right;
		width: fit-content;

		&--open {
			.Toolbar__MoreOptionsIcon {
				&::after {
					border-bottom: 10px solid;
					border-color: $regular-white;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					bottom: 0px;
					content: '';
					position: absolute;
					z-index: 2;
				}

				span[ui='more-options-icon'] {
					transform: scale(1.1);
				}

				span[ui='more-options-title'] {
					font-size: 0;
				}
			}

			.Toolbar__MoreOptionsList {
				display: block;
				min-width: 200px;
				right: 0;
				z-index: 1;
			}
		}
	}

	&__MoreOptionsIcon {
		@include flex-center-total();

		background-color: $regular-eta;
		color: $regular-beta;
		cursor: pointer;
		flex-direction: column;
		height: 100%;
		width: 80px;

		&:hover {
			span[ui='more-options-icon'] {
				transform: scale(1.1);
			}

			span[ui='more-options-title'] {
				font-size: 0;
			}
		}

		span[ui='more-options-icon'],
		span[ui='more-options-title'] {
			transition: all 0.3s ease-in;
		}

		span[ui='more-options-icon'] {
			margin-bottom: 7px;
		}
	}

	&__MoreOptionsList {
		@include component-scroll-root();

		background-color: $regular-white;
		box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.2);
		display: none;
		max-height: 300px;
		overflow: auto;
		position: absolute;

		&::-webkit-scrollbar {
			background-color: transparent;
		}

		&::-webkit-scrollbar {
			width: 4px;
		}

		a:focus .MenuItemWrapper {
			border-color: transparent !important;
		}

		.MenuItemWrapper {
			border-bottom: none !important;
			padding: 10px 45px 10px 20px;

			&:hover {
				background-color: $regular-eta;
				border-bottom: none !important;
			}

			&_Container {
				display: flex;
			}

			&__icon {
				margin-bottom: 0;
				margin-right: 10px;

				.icon {
					font-size: 1em;
				}
			}

			&__Label {
				display: inline-block;

				&::after {
					display: none;
				}
			}

			&_Badge {
				right: 15px;
				top: 10px;
			}
		}
	}

	&.Fix {
		background-color: $regular-white;
		border-bottom: 4px solid $light-grey;
		left: 0;
		margin-left: 10px;
		position: fixed;
		z-index: 4;

		.Toolbar__rightBtn {
			right: 45px;
		}

		.MenuItemWrapper {
			padding-bottom: 1px;
			padding-top: 4px;

			&__Label {
				margin-top: 0;
				padding: 6px 0;
			}

			&__Items {
				padding-top: 2px;
			}

			&__icon {
				display: none;
			}
		}
	}
}

.MenuItemWrapper {
	background-color: transparent;
	border-bottom: 3px solid transparent;
	padding: 11px 20px 6px 20px;
	position: relative;
	text-align: center;
	transition: all 0.2s ease-in;
	white-space: nowrap;

	&:hover {
		border-bottom: 3px solid $regular-alpha !important;

		.MenuItemWrapper_Container {
			color: $regular-beta;
		}
	}

	&.Active {
		background-color: $body-color;
		border-bottom: 3px solid $body-color;
		border-radius: 4px 4px 0 0;
		color: $mid-dark-grey;
	}

	&_Container {
		color: $mid-dark-grey;
		transition: all 0.2s ease-in;
	}

	&__icon {
		margin-bottom: 8px;

		.icon {
			font-size: 1.429em;
		}
	}

	&__Label {
		font-size: 1em;
		font-weight: 400;
	}

	&_Badge {
		background-color: $regular-red;
		border-radius: 100%;
		color: $regular-white;
		font-size: 0.786em;
		height: 18px;
		line-height: 18px;
		position: absolute;
		right: 0;
		top: 2px;
		width: 18px;
	}
}

.AR,
.FA {
	.Toolbar {
		&.Fix {
			left: auto;
			right: 0;
		}

		&__MoreOptions {
			.MenuItemWrapper {
				&__Label {
					&::after {
						margin-left: 0;
						margin-right: 8px;
					}
				}
			}
		}

		&__MoreOptionsList {
			.MenuItemWrapper {
				padding: 10px 20px 10px 45px;

				&__icon {
					margin-left: 10px;
					margin-right: 0;
				}

				&_Badge {
					left: 15px;
					right: auto;
				}
			}
		}
	}

	.MenuItemWrapper_Badge {
		left: 1px;
		right: auto;
	}
}
