@mixin flex-center-total {
	align-items: center;
	display: flex;
	justify-content: center;
}

@mixin flex-center-vertically {
	align-items: center;
	display: flex;
}

@mixin flex-custom-align($align: center, $justify: center) {
	align-items: $align;
	display: flex;
	justify-content: $justify;
}
