@mixin component-scroll {
	&::-webkit-scrollbar {
		box-sizing: border-box;
		height: 7px;
		width: 7px;
	}

	&::-webkit-scrollbar-track {
		border-left: 3px solid #ffffff;
		border-right: 3px solid #ffffff;
	}

	&::-webkit-scrollbar-thumb {
		border: 5px solid #6fcdca;
		border-radius: 9px;
	}
}
