.ManageQueueWrapper {
	@include flex-center-vertically;

	flex-direction: column;

	> * {
		width: 80%;
	}
}

.AgendaCalendar {
	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: $border-radius-medium;
	overflow: hidden;

	&__Header {
		display: flex;
		padding: $sapphire-sizes--medium;

		[ui='data-calendar-navigation'] {
			@include flex-center-vertically;

			flex: 1;
			gap: $sapphire-sizes--small;

			.navigation-control {
				.navigation-control-item a {
					border: none;
				}
			}
		}

		[ui='data-calendar-totals'] {
			flex: 2;
		}

		[ui='data-calendar-actions'] {
			flex: 1;
			text-align: end;
		}
	}

	&__Content {
		border-top: 1px solid $light-grey;
	}
}

.AgendaFilters {
	align-items: center;
	display: inline-flex;
	gap: $sapphire-sizes--small;
}

// Appointment List
.Lab_Ready__Container {
	display: flex;
	font-size: $font-size-heading4;
	gap: $sapphire-sizes--small;
	max-width: 80px;
}

// Referral Letters
.ContentClinicianData {
	.BorderBottomLine {
		&:first-of-type {
			padding-top: 0;
		}

		&:last-of-type {
			border-bottom: none;
		}
	}
}

.tablet {
	.FiltersWrapper {
		flex-direction: column-reverse;
		gap: $sapphire-sizes--medium;

		> .MultiAlignRight {
			text-align: left;
		}
	}
}

.tablet,
.desktop.small {
	.ManageQueueWrapper {
		> * {
			width: 100%;
		}
	}
}
