.ManageQueueWrapper {
	@include flex-center-vertically;

	flex-direction: column;

	> * {
		width: 80%;
	}
}

.AgendaCalendar {
	position: relative;

	&Filters {
		align-items: center;
		display: inline-flex;
		gap: $sapphire-sizes--small;
	}
}

.tablet,
.desktop.small {
	.ManageQueueWrapper {
		> * {
			width: 100%;
		}
	}
}
