.LayoutESignature {
	background-color: $body-color;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	height: 100vh;

	&__Logo {
		align-items: center;
		color: $regular-alpha;
		display: flex;
		font-family: $font-family-latin-bold;
		gap: $sapphire-sizes--medium;

		.icon {
			font-size: $font-size-big;
		}

		> div {
			width: min-content;
		}
	}

	&__Header {
		background-color: $regular-white;
		border-bottom: 1px solid $light-grey;
	}

	&__Footer {
		border-top: 1px solid $light-grey;
	}

	&__Header,
	&__Footer {
		align-items: center;
		display: flex;
		height: 64px;
		padding: 0 $sapphire-sizes--large;
	}

	&__Content {
		padding: $sapphire-sizes--xlarge $sapphire-sizes--large;
		padding-bottom: 0;

		.iframeContainer {
			height: 100% !important;
			overflow: hidden !important;
			width: 100% !important;
		}
	}
}

.AcessCodeBox {
	background-color: $regular-white;
	border-radius: $border-radius-default;
	font-family: $font-family-latin-bold;
	font-size: $font-size-heading3;
	letter-spacing: 3.2px;
	padding: $sapphire-sizes--small;
}

.LayoutScanCode,
.tablet .LayoutScanCode {
	overflow: hidden;

	&--modeOnlyCode & {
		&__Content {
			background-color: $mid-light-grey;
		}

		&__ModeOptions {
			display: none;
		}
	}

	&__Splash {
		align-items: center;
		background-color: $regular-alpha;
		color: $regular-white;
		display: flex;
		font-size: 80px;
		height: 100vh;
		justify-content: center;
		position: absolute;
		width: 100vw;
		z-index: 2;
	}

	&__Content {
		color: $regular-white;
		height: 100vh;
		position: absolute;
		width: 100vw;
		z-index: 1;

		&.ModeAccessCode {
			.LayoutScanCode__Info {
				transform: translateY(calc(-50% - 125px));
			}

			.LayoutScanCode__ModeOptions {
				transform: translateY(calc(-50% + 125px));
			}
		}
	}

	&__Logo {
		align-items: center;
		display: flex;
		font-family: $font-family-latin-bold;
		padding: 0 $sapphire-sizes--large;
		padding-top: 12px;

		.icon {
			font-size: $font-size-big;
		}

		> div {
			margin: 0 $sapphire-sizes--medium;
			width: min-content;
		}
	}

	&__Info,
	&__ModeOptions {
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100vw;
	}

	&__Info {
		transform: translateY(calc(-50% - 210px));

		> span.TextLarge {
			display: inline-block;
			max-width: 400px;
		}
	}

	&__AccessCode {
		@include absolute-center();

		border-radius: $border-radius-medium;
		overflow: hidden;
		width: 275px;

		&.AccessCodeInvalid {
			div[ui='data-code-validation-message'] {
				max-height: 500px;
				transition: max-height 0.25s ease-in;
			}
		}

		div[ui='input-code-container'] {
			@include flex-center-total();

			background-color: $regular-white;
			padding: $sapphire-sizes--xlarge 28px;

			input {
				border-color: $regular-grey;
				border-radius: $border-radius-default;
				font-family: $font-family-latin-bold;
				font-size: $font-size-heading1;
				height: 56px;
				text-align: center;
				transition: all 0.1s ease-in;
				width: 100%;

				&:focus {
					border-color: $regular-alpha;
				}

				&:not(:first-of-type) {
					margin-left: $sapphire-sizes--small;
				}

				&.ColorAlphaBorder {
					border-color: $regular-alpha;
				}
			}
		}

		div[ui='code-validation-message'] {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.15s ease-out;
		}
	}

	&__ModeOptions {
		transform: translateY(calc(-50% + 210px));

		.ButtonGroupFilters .ButtonGroup_button.Button.Button {
			&.active {
				background-color: $regular-alpha;
				box-shadow: 0 0 0 1px $regular-alpha;
			}

			height: 34px;
			min-height: 34px;
		}
	}

	#qrreader {
		video {
			height: 100vh;
			object-fit: cover;
		}
	}

	.ModeAccessCode + #qrreader {
		#qr-shaded-region {
			border-width: 100vw !important;

			> div {
				display: none !important;
			}
		}
	}
}
