.TimelinePage {
	display: flex;
	gap: $sapphire-sizes--large;

	&__Title {
		background-color: $body-color;
		box-sizing: content-box;
		height: 36px;
		padding: 0 $sapphire-sizes--small;
		padding-top: $sapphire-sizes--medium;
		position: sticky;
		top: 80px;
		z-index: 1;
	}

	&__Navigation {
		position: sticky;
		top: 132px;

		.ListRecords {
			@include component-scroll-root(4px, false, 4px);

			height: calc(100vh - 132px);
			overflow-y: scroll;
			padding-right: $sapphire-sizes--small;

			.AR & {
				padding-left: $sapphire-sizes--small;
				padding-right: 0;
			}

			&::-webkit-scrollbar {
				background-color: transparent;
			}

			&::-webkit-scrollbar-thumb {
				border-color: transparent;
			}

			&:hover {
				&::-webkit-scrollbar-thumb {
					border-color: $light-grey;
				}
			}
		}
	}

	&__Left {
		max-width: 400px;
		min-width: 300px;
	}

	&__Right {
		flex: 1;
	}

	&__Filters {
		@include flex-center-vertically();

		background-color: $body-color;
		gap: $sapphire-sizes--small;
		padding-top: $sapphire-sizes--medium;
		position: sticky;
		top: 80px;
		z-index: 3;

		.TimeLineSearchHeader {
			min-width: 420px;
		}

		.FilterByVisitType {
			@include flex-center-vertically();

			background-color: $regular-white;
			border: 1px solid $light-grey;
			border-radius: 100px;
			color: $text-color-regular;
			font-family: $font-family-latin-regular;
			gap: $sapphire-sizes--small;
			height: 36px;
			padding: 0 $sapphire-sizes--medium;

			&.Active {
				background-color: $regular-eta;
				border-color: $regular-alpha;

				&::after {
					border-bottom: 5px solid $regular-beta;
					border-top: none;
				}
			}

			&::after {
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid $regular-beta;
				content: '';
			}

			&:hover {
				background-color: $regular-eta;
				border-color: $regular-alpha;
			}
		}
	}

	&__Content {
		overflow: visible;

		.LineTimeLine__Header {
			position: sticky;
			top: 174px;
			z-index: 1;
		}
	}
}

@media (max-width: 1200px) {
	.TimelinePage__Left {
		display: none;
	}
}
