.DesignSystem {
	font-family: $font-family-regular;
	font-size: 14px;

	&__MainContent {
		padding-left: 220px;
	}

	&__Aside {
		background-color: $regular-white;
		height: 100vh;
		position: relative;
		position: fixed;
		width: 220px;

		input {
			width: 100%;
		}
	}

	&__Header {
		padding: 10px;
	}

	&__Menu {
		@include component-scroll-root;

		height: calc(100vh - 70px);
		margin-top: 15px;
		overflow-y: auto;
	}

	&__MenuSection {
		margin-bottom: 25px;

		a {
			color: $regular-beta;
			display: block;
			font-family: $font-family-regular;
			height: 32px;
			line-height: 32px;
			padding: 0 10px;
			transition: all 500ms;

			&:hover {
				background-color: $regular-eta;
			}
		}
	}

	&__MenuSubSection {
		padding: 0 10px;

		a {
			margin: 0 -20px;
			padding: 0 30px;
		}
	}

	&__MenuTitle {
		color: $dark-grey;
		display: block;
		font-family: $font-family-bold;
		font-size: 1.143em;
		margin-bottom: 10px;
		padding: 0 10px;
		text-transform: uppercase;
	}
}
