.DesignSystem {
	&__MainContent {
		padding-left: 220px;
	}

	&__Aside {
		background-color: $regular-white;
		font-family: $font-family-regular;
		height: 100vh;
		position: relative;
		position: fixed;
		width: 220px;

		input {
			width: 100%;
		}
	}

	&__Header {
		padding: 10px;
	}

	&__Menu {
		@include component-scroll-root;

		height: calc(100vh - 70px);
		margin-top: 15px;
		overflow-y: auto;
	}

	&__MenuSection {
		margin-bottom: 35px;
		padding: 0 10px;

		a {
			color: $regular-beta;
			display: block;
			font-family: $font-family-regular;
			margin-bottom: 4px;

			&:hover {
				color: $regular-alpha;
			}
		}
	}

	&__MenuTitle {
		color: $regular-delta;
		display: block;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 4px;
	}
}
