.tooltipstered {
  cursor: help;
  display: inline-block;
}

.TooltipWithCounter {
  display: block;
}

.tooltipstered.balloon {
  cursor: pointer;
}

.tooltip_style {
  background-color: #fff;
  border: 1px solid #dadbde;
  color: #79868a;
  padding: 6px;
}

.tooltip_style .tooltipster-content {
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
  padding: 8px 10px;
}