.Beige {
	background-color: color('regular-beige');
}

.DarkBeige {
	background-color: color('dark-beige');
}

.Black {
	background-color: color('regular-black');
}

.BlueLight {
	background-color: color('light-blue');
}

.BlueNavy {
	background-color: color('light-blue');
}

.Blue {
	background-color: color('regular-blue');
}

.DarkBlue {
	background-color: color('dark-blue');
}

.DarkPlum {
	background-color: color(#ca2c92);
}

.DarkRed {
	background-color: color('dark-red');
}

.Grey,
.Gray {
	background-color: color('regular-grey');
}

.Green {
	background-color: color('regular-green');
}

.LightGreen {
	background-color: color('light-green');
}

.LightRed {
	background-color: color('light-red');
}

.LightYellow {
	background-color: color('light-yellow');
}

.PinkLight {
	background-color: color('pink-light');
}

.Orange {
	background-color: color('regular-orange');
}

.LightOrange {
	background-color: color('light-orange');
}

.DarkOrange {
	background-color: color('dark-orange');
}

.Plum {
	background-color: color(#c32b87);
}

.Red {
	background-color: color('regular-red');
}

.Silver {
	background-color: color('regular-silver');
}

.SapphireSilver {
	background-color: color('body-color');
}

.Turquoise {
	background-color: color('regular-blue');
}

.LightTurquoise {
	background-color: color('light-blue');
}

.White {
	background-color: color('sapphire-white');
}

.Yellow {
	background-color: color('regular-yellow');
}

.BodyColor {
	background-color: color('body-color');
}

.SapphireBlue {
	background-color: color('sapphire-blue');
}

.SapphireBlue2 {
	background-color: color('sapphire-alpha');
}

.SapphireClinician {
	background-color: color('sapphire-clinician');
}

.SapphireDarkBlue1 {
	background-color: color('dark-grey');
}

.SapphireDarkBlue2 {
	background-color: color('sapphire-dark-blue');
}

.SapphireDarkGrey {
	background-color: color('regular-grey');
}

.SapphireDarkText {
	background-color: color('dark-grey');
}

.SapphireMale {
	background-color: color('dark-blue');
}

.SapphireFemale {
	background-color: color('light-pink');
}

.SapphireInactive {
	background-color: color('mid-light-grey');
}

.SapphireLightBoard {
	background-color: color('light-grey');
}

.SapphireLightContainer {
	background-color: color('sapphire-light-container');
}

.SapphireLightText {
	background-color: color('body-color');
}

.SapphireWarning {
	background-color: color('regular-red');
}
