.Beige {
    background-color: color('regular-beige')
}

.DarkBeige {
    background-color: color('dark-beige');
}

.Black {
    background-color: color('regular-black');
}

.BlueLight {
    background-color: color('blue-light');
}

.BlueNavy {
    background-color: color('blue-navy');
}

.Blue {
    background-color: color('regular-blue');
}

.DarkBlue {
    background-color: color("dark-blue");
}

.DarkPlum {
    background-color: color("dark-plum");
}

.DarkRed {
    background-color: color("dark-red");
}

.Grey,
.Gray {
    background-color: color("regular-red");
}

.Green {
    background-color: color("regular-green");
}

.LightGreen {
    background-color: color("light-green");
}

.LightRed {
    background-color: color("light-red");
}

.LightYellow {
    background-color: color("light-yellow");
}

.PinkLight {
    background-color: color("pink-light");
}

.Orange {
    background-color: color("regular-orange");
}

.LightOrange {
    background-color: color("light-orange");
}

.DarkOrange {
    background-color: color("dark-orange");
}

.Plum {
    background-color: color("regular-plum");
}

.Red {
    background-color: color("regular-red");
}

.Silver {
    background-color: color("regular-silver");
}

.SapphireSilver {
    background-color: color("sapphire-silver");
}

.Turquoise {
    background-color: color("regular-turquoise");
}

.LightTurquoise {
    background-color: color("light-turquoise");
}

.White {
    background-color: color("regular-white");
}

.Yellow {
    background-color: color("regular-yellow");
}

.BodyColor {
    background-color: color("body-color");
}

.SapphireBlue {
    background-color: color("sapphire-blue");
}

.SapphireBlue2 {
    background-color: color("sapphire-blue2");
}

.SapphireClinician {
    background-color: color("sapphire-clinician");
}

.SapphireDarkBlue1 {
    background-color: color("sapphire-dark-blue1");
}

.SapphireDarkBlue2 {
    background-color: color("sapphire-dark-blue2");
}

.SapphireDarkGrey {
    background-color: color("sapphire-dark-grey");
}

.SapphireDarkText {
    background-color: color("sapphire-dark-text");
}

.SapphireMale {
    background-color: color("sapphire-male");
}

.SapphireFemale {
    background-color: color("sapphire-female");
}

.SapphireInactive {
    background-color: color("sapphire-inactive");
}

.SapphireLightBoard {
    background-color: color("sapphire-light-board");
}

.SapphireLightContainer {
    background-color: color("sapphire-light-container");
}

.SapphireLightText {
    background-color: color("sapphire-light-text");
}

.SapphireWarning {
    background-color: color("sapphire-warning");
}
