.LayoutPopup,
.LayoutBlank,
.LayoutBase {
  .Beige {
    background-color: $regular-beige;
  }

  .DarkBeige {
    background-color: $dark-beige;
  }

  .Black {
    background-color: $regular-black;
  }

  .BlueLight {
    background-color: $light-blue;
  }

  .BlueNavy {
    background-color: $light-blue;
  }

  .Blue {
    background-color: $regular-blue;
  }

  .DarkBlue {
    background-color: $dark-blue;
  }

  .DarkPlum {
    background-color: $dark-plum;
  }

  .DarkRed {
    background-color: $dark-red;
  }

  .Grey,
  .Gray {
    background-color: $regular-grey;
  }

  .Green {
    background-color: $regular-green;
  }

  .LightGreen {
    background-color: $light-green;
  }

  .LightRed {
    background-color: $light-red;
  }

  .LightYellow {
    background-color: $light-yellow;
  }

  .PinkLight {
    background-color: $pink-light;
  }

  .LightBlue2 {
    background-color: $pink-light-2;
  }

  .PinkLight2 {
    background-color: $pink-light-2;
  }

  .Orange {
    background-color: $regular-orange;
  }

  .LightOrange {
    background-color: $light-orange;
  }

  .DarkOrange {
    background-color: $dark-orange;
  }

  .Plum {
    background-color: $regular-plum;
  }

  .Red {
    background-color: $regular-red;
  }

  .Silver {
    background-color: $regular-silver;
  }

  .SapphireSilver {
    background-color: $body-color;
  }

  .Turquoise {
    background-color: $regular-blue;
  }

  .LightTurquoise {
    background-color: $light-blue;
  }

  .White {
    background-color: $sapphire-white;
  }

  .Yellow {
    background-color: $regular-yellow;
  }

  .BodyColor {
    background-color: $body-color;
  }

  .SapphireBlue {
    background-color: $sapphire-blue;
  }

  .SapphireBlue2 {
    background-color: $regular-alpha;
  }

  .SapphireClinician {
    background-color: $sapphire-clinician;
  }

  .SapphireDarkBlue1 {
    background-color: $dark-grey;
  }

  .SapphireDarkBlue2 {
    background-color: $sapphire-dark-blue;
  }

  .SapphireDarkGrey {
    background-color: $regular-grey;
  }

  .SapphireDarkText {
    background-color: $dark-grey;
  }

  .SapphireMale {
    background-color: $dark-blue;
  }

  .SapphireFemale {
    background-color: $light-pink;
  }

  .SapphireInactive {
    background-color: $mid-light-grey;
  }

  .SapphireLightBoard {
    background-color: $light-grey;
  }

  .SapphireLightContainer {
    background-color: $sapphire-light-container;
  }

  .SapphireLightText {
    background-color: $body-color;
  }

  .SapphireWarning {
    background-color: $regular-red;
  }
}