.bordercolor--lightgrey {
    border-color: $mid-light-grey;
}

.bordercolor--grey {
    border-color: $regular-grey;
}

.bordercolor--darkgrey {
    border-color: $mid-dark-grey;
}

.bordercolor--black {
    border-color: $regular-black;
}

.bordercolor--red {
    border-color: $regular-red;
}

.bordercolor--darkred {
    border-color: $dark-red;
}

.bordercolor--orange {
    border-color: $regular-orange;
}

.bordercolor--primary {
    border-color: $regular-gamma;
}

.bordercolor--secondary {
    border-color: $regular-alpha;
}

// @each $color in $sapphire__colors {
//     $label: nth($color, 1);
//     $value: nth($color, 2);

//     .bordercolor--#{$label} {
//         border-color: #{$value} !important;
//     }
// }