.CardAll {
	display: table;

	.Icon_CardAll {
		background-color: transparent;
		border-radius: 50%;
		line-height: 30px;
		text-align: center;
		width: auto;
	}

	.DescriptionContainer {
		font-size: $font-size-heading3;
		line-height: 18px;
		padding-left: $sapphire-sizes--medium;
		text-align: left;

		.Description {
			display: block;
			font-family: $font-family-latin-bold;
			line-height: 18px;
		}

		.Small_Description {
			min-width: 185px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.AR,
.FA {
	.CardAll {
		.DescriptionContainer {
			padding-left: 0;
			padding-right: $sapphire-sizes--small;
			text-align: right;

			.Description {
				font-family: $font-family-latin-bold;
			}
		}
	}
}

// .desktop {
// 	.CardAll {
// 		.DescriptionContainer {
// 			.Description {
// 				overflow: hidden;
// 				text-overflow: ellipsis;
// 				white-space: nowrap;
// 				width: 130px;
// 			}
// 		}
// 	}
// }
