.CardPatientInfo + .ListRecords {
	.PatientInfo {
		border-left: none;
		border-right: none;
		&:last-of-type {
			border-bottom: none;
		}
	}
}

.CardPatientInfo {
	background-color: transparent;
	display: table;
	min-height: 25px;
	width: 100%;
}

.CardPatientInfo_left {
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
	width: 41%;
}

.tablet .CardPatientInfo_left {
	width: 32%;
}

.CardPatientInfo_left .PatientInfo_Text {
	margin-left: 10px;
	margin-right: auto;
}

.CardPatientInfo_left .PatientInfo_Text {
	margin-left: auto;
	margin-right: 10px;
}

.CardPatientInfo_right {
	display: table;
	padding: 10px;
	vertical-align: middle;
	width: 100%;
}

.CardPatientInfo_right > div {
	align-items: center;
	display: table-cell;
}

/*Left Side Size*/

.CardPatientInfo_left.ExtraTiny {
	width: 50px;
}

.CardPatientInfo_left.Tiny {
	width: 100px;
}

.CardPatientInfo_left.ExtraSmall {
	width: 150px;
}

.CardPatientInfo_left.Small {
	width: 200px;
}

.CardPatientInfo_left.SmallMedium {
	width: 250px;
}

.CardPatientInfo_left.Medium {
	width: 300px;
}

.CardPatientInfo_left.MediumLarge {
	width: 350px;
}

.tablet .CardPatientInfo_left.MediumLarge {
	width: 250px;
}

.CardPatientInfo_left.Large {
	width: 400px;
}

.CardPatientInfo_left.ExtraLarge {
	width: 450px;
}

.CardPatientInfo_left.Gigantic {
	width: 500px;
}

.CardPatientInfo_left.ExtraGigantic {
	width: 550px;
}

.CardPatientInfo_left.Colossal {
	width: 600px;
}

.tablet .CardPatientInfo_right > div {
	flex-wrap: nowrap;
}

.tablet .CardPatientInfo_right > div:first-child {
	margin-left: 0;
}
