.CardAll {
  display: table;
}

.Icon_CardAll {
  background-color: transparent;
  border-radius: 50%;
  color: #124a61;
  line-height: 30px;
  text-align: center;
  width: auto;
}

.DescriptionContainer {
  font-family: $font-family-latin-bold;
  font-size: $font-size-heading3;
  line-height: 18px;
  padding-left: 10px;
  text-align: left;
}

.FA .DescriptionContainer,
.AR .DescriptionContainer {
  font-family: $font-family-arabic-bold;
  text-align: right;
}

.Description {
  display: block;
  line-height: 18px;
  padding: 2px;
}

.desktop .Description,
.desktop.small .Description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}

.phone .Description {
  padding: 0;
}

.FA .Description,
.AR .Description {
  font-size: 15px;
  margin-right: 10px;
}

.Small_Description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 185px;
}