.Text_black {
    color: #131819;
}

.Text_blue {
    color: #0074c1;
}

.Text_navyBlue {
    color: #4d89a2;
}

.Text_darkBlue {
    color: #194968;
}

.Text_MiddleBlue {
    color: #005675;
}

.Text_darkPlum {
    color: #970263;
}

.Text_darkRed {
    color: #b10000;
}

.Text_gray {
    color: #79868a;
}

.Text_green {
    color: #388e3c;
}

.Text_green_Sapphire {
    color: #16979F;
}

.Text_Darkgreen {
    color: #4E87A2;
}

.Page .Text_lightGreen,
.Text_lightGreen {
    color: #C2DEA8;
}

.Text_orange {
    color: #f25300;
}

.Text_orangeDark {
    color: #D45302;
}

.Text_plum {
    color: #c32b87;
}

.Text_red {
    color: #d01a1a;
}

.Text_SapphireRed {
    color: #CD1D02;
}

.Text_darkRed {
    color: #ba4d37;

}

.Text_silver {
    color: #dadbde;
}

.Text_turquoise {
    color: #00b0c1;
}

.Text_darkTurquoise {
    color: #14A7AF;
}

.Text_white {
    color: #fff;
}

.Page .Text_yellow,
.Text_yellow {
    color: #EAB62B;
}

.Text_darkYellow {
    color: #CBC59E;
}