.Card .Gallery {
	background-color: red;

	.GalleryWrapper {
		margin: 0;

		span:first-child {
			display: flex;

			.GalleryItem {
				display: block;
				margin: 0;
				padding: 0;

				&:first-child {
					padding-right: 5px;
				}

				&:nth-child(2) {
					padding-left: 5px;
				}

				> div {
					> div {
						width: 100%;
					}
				}

				.RoomBox {
					margin: 0;
				}
			}
		}
	}
}
