/* Max Width */
.MaxWidthLarge {
	max-width: 70%;
}

.MaxWidth-70 {
	display: inline-block;
	max-width: 70%;
}

.MaxWidth-80 {
	display: inline-block;
	max-width: 80%;
}

.MaxWidth-90 {
	display: inline-block;
	max-width: 90%;
}
