a,
a:link,
a:visited {
	color: #16979f;
	font-family: $sapphire__font__face--regular;
	text-decoration: none;
	-webkit-transition: color 100ms ease;
	transition: color 100ms ease;
}

.desktop a:not([disabled='disabled']):hover,
.desktop a:link:hover,
.desktop a:visited:hover {
	color: #08a6af;
	cursor: pointer;
	text-decoration: none;
}
