a,
a:link,
a:visited {
    color: #16979F;
    text-decoration: none;
    font-family: 'globeregular';
    -webkit-transition: color 100ms ease;
    transition: color 100ms ease;
}

.desktop a:not([disabled="disabled"]):hover,
.desktop a:link:hover,
.desktop a:visited:hover {
    color: #08a6af;
    text-decoration: none;
    cursor: pointer;
}