<style>
    .grid_row {
        display: flex;
        align-items: center;
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .content>div.color {
        width: 100%;
        min-height: 50px;
    }

    .title {}
</style>

<div class="grid">
    <div class="grid_row">
        <div class="content ">
            <div class="color Beige"></div>
            <div>Beige</div>
        </div>
        <div class="content">
            <div class="color Black"></div>
            <div>Black</div>
        </div>
        <div class="content">
            <div class="color Blue"></div>
            <div>Blue</div>
        </div>
        <div class="content">
            <div class="color BlueLight"></div>
            <div>BlueLight</div>
        </div>
        <div class="content">
            <div class="color BlueNavy"></div>
            <div>BlueNavy</div>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <div class="color BodyColor"></div>
            <div>BodyColor</div>
        </div>
        <div class="content">
            <div class="color Brown"></div>
            <div>Brown</div>
        </div>
        <div class="content">
            <div class="color DarkBeige"></div>
            <div>DarkBeige</div>
        </div>
        <div class="content">
            <div class="color DarkBlue"></div>
            <div>DarkBlue</div>
        </div>
        <div class="content">
            <div class="color DarkGrey"></div>
            <div>DarkGrey</div>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <div class="color DarkOrange"></div>
            <div>DarkOrange</div>
        </div>
        <div class="content">
            <div class="color DarkPlum"></div>
            <div>DarkPlum</div>
        </div>
        <div class="content">
            <div class="color DarkRed"></div>
            <div>DarkRed</div>
        </div>
        <div class="content">
            <div class="color Gray"></div>
            <div>Gray</div>
        </div>
        <div class="content">
            <div class="color Green"></div>
            <div>Green</div>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <div class="color Grey"></div>
            <div>Grey</div>
        </div>
        <div class="content">
            <div class="color Light"></div>
            <div>Light</div>
        </div>
        <div class="content">
            <div class="color LightBlue"></div>
            <div>LightBlue</div>
        </div>
        <div class="content">
            <div class="color LightGreen"></div>
            <div>LightGreen</div>
        </div>
        <div class="content">
            <div class="color LightGrey"></div>
            <div>LightGrey</div>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <div class="color LightOrange"></div>
            <div>LightOrange</div>
        </div>
        <div class="content">
            <div class="color LightRed"></div>
            <div>LightRed</div>
        </div>
        <div class="content">
            <div class="color LightTurquoise"></div>
            <div>LightTurquoise</div>
        </div>
        <div class="content">
            <div class="color LightYellow"></div>
            <div>LightYellow</div>
        </div>
        <div class="content">
            <div class="color Orange"></div>
            <div>Orange</div>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <div class="color Pink"></div>
            <div>Pink</div>
        </div>
        <div class="content">
            <div class="color PinkLight"></div>
            <div>PinkLight</div>
        </div>
        <div class="content">
            <div class="color Plum"></div>
            <div>Plum</div>
        </div>
        <div class="content">
            <div class="color Red"></div>
            <div>Red</div>
        </div>
        <div class="content">
            <div class="color SapphireBackground"></div>
            <div>SapphireBackground</div>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <div class="color SapphireBlue"></div>
            <div>SapphireBlue</div>
        </div>
        <div class="content">
            <div class="color SapphireBlue2"></div>
            <div>SapphireBlue2</div>
        </div>
        <div class="content">
            <div class="color SapphireClinician"></div>
            <div>SapphireClinician</div>
        </div>
        <div class="content">
            <div class="color SapphireDarkBlue1"></div>
            <div>SapphireDarkBlue1</div>
        </div>
        <div class="content">
            <div class="color SapphireDarkBlue2"></div>
            <div>SapphireDarkBlue2</div>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <div class="color SapphireDarkGrey"></div>
            <div>SapphireDarkGrey</div>
        </div>
        <div class="content">
            <div class="color SapphireDarkText"></div>
            <div>SapphireDarkText</div>
        </div>
        <div class="content">
            <div class="color SapphireFemale"></div>
            <div>SapphireFemale</div>
        </div>
        <div class="content">
            <div class="color SapphireInactive"></div>
            <div>SapphireInactive</div>
        </div>
        <div class="content">
            <div class="color SapphireLight"></div>
            <div>SapphireLight</div>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <div class="color SapphireLightBoard"></div>
            <div>SapphireLightBoard</div>
        </div>
        <div class="content">
            <div class="color SapphireLightContainer"></div>
            <div>SapphireLightContainer</div>
        </div>
        <div class="content">
            <div class="color SapphireLightText"></div>
            <div>SapphireLightText</div>
        </div>
        <div class="content">
            <div class="color SapphireLightText2"></div>
            <div>SapphireLightText2</div>
        </div>
        <div class="content">
            <div class="color SapphireMale"></div>
            <div>SapphireMale</div>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <div class="color SapphireSilver"></div>
            <div>SapphireSilver</div>
        </div>
        <div class="content">
            <div class="color SapphireWarning"></div>
            <div>SapphireWarning</div>
        </div>
        <div class="content">
            <div class="color SapphireWhite"></div>
            <div>SapphireWhite</div>
        </div>
        <div class="content">
            <div class="color Silver"></div>
            <div>Silver</div>
        </div>
        <div class="content">
            <div class="color Transparent"></div>
            <div>Transparent</div>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <div class="color Turquoise"></div>
            <div>Turquoise</div>
        </div>
        <div class="content">
            <div class="color White"></div>
            <div>White</div>
        </div>
        <div class="content">
            <div class="color Yellow"></div>
            <div>Yellow</div>
        </div>
        <div class="content"></div>
        <div class="content"></div>
    </div>
</div>
