$font-family: 'Lato', sans-serif;
$font-family-regular: 'Lato-Regular';
$font-family-bold: 'Lato-Bold';

$font-size-huge: 34px;
$font-size-big: 30px;
$font-size-heading3: 24px;
$font-size-heading2: 20px;
$font-size-heading3: 16px;
$font-size-heading4: 15px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-tiny: 11px;
