$font-family: 'Lato', sans-serif;

$font-size-huge: 2.249em;
$font-size-big: 2.143em;
$font-size-heading3: 1.714em;
$font-size-heading2: 1.429em;
$font-size-heading3: 1.143em;
$font-size-heading4: 1.071em;
$font-size-normal: 1em;
$font-size-small: 0.857em;
$font-size-tiny: 0.786em;
