$PatientMedicalFile-color-active: $regular-alpha;



.PatientMedicalFile {
  background-color: $gray-lighter;
  border: none;
  border-radius: 2px;
  height: 100%;
  height: 50px;
}

.PatientMedicalFile>span.icon {
  color: $sapphire-color-text-regular;
  font-size: $font-size-heading2;
  line-height: 42px;
  padding-left: 10px;
}

.FA .PatientMedicalFile>span.icon,
.AR .PatientMedicalFile>span.icon {
  padding-left: 0;
  padding-right: 10px;
}

.PatientMedicalFile>div:not(.RequestFiles-Menu) {
  padding: 5px 10px;
}

.PatientMedicalFile>div:not(:last-of-type) {
  border-right: none;
  height: 100%;
  line-height: 16px;
}

.FA .PatientMedicalFile>div:not(:last-of-type),
.AR .PatientMedicalFile>div:not(:last-of-type) {
  border-left: 1px solid $regular-grey;
  border-right: none;
}

.PatientMedicalFile>.FileInfo>div>.FileNumber,
.PatientMedicalFile>.FileInfo>div>.FileNumber span {
  font-family: $font-family-bold;
}

.PatientMedicalFile>.RequestFiles-Menu div[button-style] {
  color: $PatientMedicalFile-color-active;
  font-size: 12px;
  line-height: 24px;
  padding: 10px;
}

.MFile {
  font-size: 18px;
}

.MFileSecond {
  font-size: 16px;
}

.Multiple .PatientMedicalFile .FileInfo {
  line-height: 32px;
}

.Multiple .PatientMedicalFile>span.icon {
  line-height: 45px;
}

.med-file-requested .PatientMedicalFile>div:not(:last-of-type) {
  height: 45px;
}