.PatientMedicalFile {
	background-color: $gray-lighter;
	border-radius: 2px;
	height: 100%;
	height: 50px;

	.Multiple & {
		& .FileInfo {
			line-height: 32px;
		}
	}

	.med-file-requested & {
		& > div:not(:last-of-type) {
			height: 45px;
		}
	}

	> span.icon {
		color: $regular-grey;
		font-size: 1.429em;
		line-height: 50px;
		padding-left: 10px;
	}

	> div:not(.RequestFiles-Menu) {
		padding: 0 5px 0 10px;
	}

	> div:not(:last-of-type) {
		height: 100%;
		line-height: 16px;
	}

	> .FileInfo > div > .FileNumber {
		&,
		span {
			font-family: $font-family-bold;
			font-size: 1em;
		}
	}

	> .RequestFiles-Menu div[button-style] {
		@include flex-center-total;

		height: 50px;
		transform: rotate(180deg);
		width: 30px;

		.icon {
			@include arrow-down-simple;
		}
	}
}

.MFile {
	font-size: 18px;
}

.MFileSecond {
	font-size: 1.143em;
}

.AR,
.FA {
	.PatientMedicalFile {
		> span.icon {
			padding-left: 0;
			padding-right: 10px;
		}

		> div:not(.RequestFiles-Menu) {
			padding: 0 10px 0 5px;
		}
	}
}
