.ExpandableList_SecondaryLine {
  /* margin-top: 10px; */
}

.ExpandableList_SecondaryLine {
  border-bottom: 1px solid #c9cdce;
  display: table;
  height: auto;
  width: 100%;
}

.ExpandableList_SecondaryLine:hover {
  background-color: rgba(255, 255, 255, .3);
}

.ExpandableList_SecondaryLine>div>div:not(.Placeholder) {
  display: table-cell;
  vertical-align: middle;
}

.ExpandableList_SecondaryLine>div>div.Filler {
  padding: 0 2.083rem;
}

.ExpandableList_SecondaryLine>div>div.Label {
  line-height: 1.4em;
  padding: .5rem 0;
  padding-left: 50px;
  white-space: normal;
  width: 100%;
}

.ExpandableList_SecondaryLine>div>div.Label>[description] {
  color: #4d5c66;
  font-size: 1rem;
}

.ExpandableList_SecondaryLine>div>div.Action {
  color: #c9cdce;
}

.ExpandableList_SecondaryLine>div:last-child:empty {
  display: none;
}

.ExpandableList_SecondaryLine>div {
  width: 100%;
}

div.ExpandableList-MainLine>div.ExpandableContent>span {
  display: table-row-group;
  width: 100%;
}


.ExpandableList_SecondaryLine>div>div.Action .InvertIconLabel {
  margin-right: 10px;
}