$call-cancel-color-active: $regular-alpha;
$call-cancel-color-disabled: $sapphire-color-disabled-text;

.PatientCallCancel {
	display: inline-block;

	> div {
		align-items: center;
		display: flex;
		position: relative;
	}

	> div.js-idle:nth-child(2) {
		display: none;
	}

	.js-idle {
		.PatientCallCancel-icon,
		.PatientCallCancel-label {
			color: $call-cancel-color-active;
			cursor: pointer;
			font-family: $font-family-latin-bold;
		}

		.PatientCallCancel-cancel,
		.PatientCallCancel-counter {
			display: none;
		}
	}

	.js-calling {
		.PatientCallCancel-label,
		.PatientCallCancel-icon {
			color: $regular-grey;
		}
	}

	&-icon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 5px;
	}

	&-label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 10px;
	}

	&-counter {
		display: flex;
		flex-direction: column;
		font-size: 1.2em;
		justify-content: center;
	}

	&-cancel {
		color: $call-cancel-color-active;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		font-family: $font-family-latin-bold;
		justify-content: center;

		span.icon {
			margin-right: 5px;
		}
	}

	&-queue {
		border-radius: $border-radius-default;
		display: flex;
		flex-direction: column;
		justify-content: center;

		> div {
			border-radius: $border-radius-default;
		}

		&:empty {
			display: none;
		}
	}

	&-other {
		display: flex;
		flex-direction: column;
		justify-content: center;
		white-space: nowrap;

		.icon-generalinfo {
			color: $call-cancel-color-active;
		}
	}

	&-right {
		> div {
			display: inline-flex;
		}

		.PatientCallCancel-other:not(:empty) {
			margin-right: 10px;
		}
	}

	&-List {
		> div {
			min-height: 27px;
		}

		.PatientCallCancel-label {
			line-height: 27px;
		}
	}

	&-Header {
		> div {
			min-height: 80px;
		}

		.PatientCallCancel {
			&-box {
				@include flex-center-total;

				background-color: $call-cancel-color-active;
				border-radius: $border-radius-medium;
				color: $regular-white;
				flex-direction: column;
				min-height: 90px;
				min-width: 120px;
				position: relative;
			}

			&-other {
				max-width: 120px;
				padding-left: 5px;
				padding-right: 5px;

				> div,
				> span {
					display: block;
				}
			}

			&-label {
				display: inline-block;
				font-size: 14px;
				text-transform: uppercase;
			}

			&-label,
			&-icon {
				display: block;
				margin: 0;
			}

			&-counter {
				margin: 0 0 0 4px;
			}

			&-icon {
				font-size: 1.4em;
				line-height: 0.9em;
				margin-bottom: 6px;
			}

			&-cancel {
				bottom: 5px;
				bottom: 0;
				color: $regular-white;
				left: 0;
				margin: 0;
				padding: 0;
				position: absolute;
				text-align: center;
				width: 100%;
			}
		}

		.js-idle {
			.PatientCallCancel-label,
			.PatientCallCancel-icon {
				color: $regular-white;
			}
		}

		.js-calling {
			.PatientCallCancel-label {
				color: $call-cancel-color-disabled;
				display: none;
				font-weight: 700;
			}

			.PatientCallCancel-counter {
				display: inline-block;
			}

			.PatientCallCancel-icon {
				color: $regular-white;
			}
		}
	}

	&-disabled {
		&.PatientCallCancel-List .PatientCallCancel-icon,
		&.PatientCallCancel-List .PatientCallCancel-label {
			color: $call-cancel-color-disabled;
		}

		.PatientCallCancel-box {
			background-color: $regular-grey;
		}

		.PatientCallCancel-label,
		.PatientCallCancel-icon {
			cursor: auto !important;
			pointer-events: none !important;
		}
	}
}

.AR,
.FA {
	.PatientCallCancel {
		&-label {
			margin-left: 10px;
		}

		&-cancel {
			font-family: $font-family-arabic-bold;
		}

		&-right {
			.PatientCallCancel-other:not(:empty) {
				margin-left: 10px;
				margin-right: auto;
			}
		}

		.js-idle {
			.PatientCallCancel-icon,
			.PatientCallCancel-label {
				font-family: $font-family-arabic-bold;
			}
		}
	}
}
