.NoPadding {
  padding: 0 !important;
}

.NoPadding--top {
  padding-top: 0 !important;
}

.NoPadding--bottom {
  padding-bottom: 0 !important;
}

.NoPadding--left {
  padding-left: 0 !important;
}

.NoPadding--right {
  padding-right: 0 !important;
}