.SlotContainer .ListRecords {
	display: grid;
	grid-template-columns: repeat(auto-fill, 170px);
	justify-content: space-between;
	row-gap: 6px;

	a[id='selected'] {
		display: none;
	}
}

.SlotsInThreeColumns {
	margin-top: 6px;
	width: 100%;
}
