.tablet {
	.Card_Surgeries_Container {
		display: block;
	}

	.Card_Surgeries_Description {
		display: table-cell;
		width: 100%;
	}
}

.phone {
	.Card_Surgeries_Actions {
		display: block;
	}

	.Card_Surgeries_Description {
		display: table;
		text-align: center;
		width: 100%;

		.BadgeClassification {
			margin-top: 10px;
		}

		.iconHorizontal {
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
	.Actions_Surgeries_Details {
		display: block;

		&:first-child {
			border: none;
		}
	}
}

.phone,
.tablet {
	.Image_Surgeries_Detail {
		border-left: transparent;
		border-right: 0;
		display: block;
		text-align: center;
		width: 100% !important;
	}

	.others_surgeries_details,
	.Actions_Surgeries_Details {
		display: table-cell;
	}
}
