/* 
.ButtonDisabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.ClinicalCalendar.CenteredCalendarBigWrapper {
  background-color: transparent;
  border-radius: 3px;
  text-align: center;
}

.ClinicalCalendarBigBox {
  border: 1px solid #d2d1d0;
  -webkit-box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.ClinicalCalendarBigBox a,
.ClinicalCalendarBigBox a:link,
.ClinicalCalendarBigBox a:visited {
  text-decoration: none;
  color: #115874;
}

.ClinicalCalendarBigBox .CalendarDay {
  line-height: 56px;
  vertical-align: middle;
  overflow: hidden;
}

.ClinicalCalendarBigBox.NoBorder {
  border: none;
}

.ClinicalCalendarBigBox .CalendarText {
  font-family: 'globeregular';
  font-size: 12px;
  color: #115874;
}

.ClinicalCalendarBigBox .CalendarHeader {
  height: 36px;
  vertical-align: middle;
  background-color: #fff;
  border-bottom: 1px solid #cfdce6;
}

.ClinicalCalendarBigBox .CalendarButton {
  width: 30px;
  margin-left: 0px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
}

.ClinicalCalendarBigBox .Calendar_Sidebar {
  width: 200px;
  padding: 5px;
  margin: 10px;
  float:right;
}

.ClinicalCalendarBigBox .Calendar_Title {
  padding-bottom:3px;
}

.ClinicalCalendarBigBox .Calendar_Title IMG {
  vertical-align: text-bottom;
}

.ClinicalCalendarBigBox .Calendar_EmptyDay {
  position: relative;
  float: left;
  overflow: hidden;
  height: 65px;
  width: 139px;
  padding: 19px 14px;
  margin: -1px 0 0 -1px;
  _margin: -1px -1px 0px 0px;
  border: 1px;
  border: 1px solid #d2d1d0;
}

.ClinicalCalendarBigBox .Calendar_EmptyWeekendDay {
  position: relative;
  float: left;
  height: 100px;
  width: 100px;
  margin: 2px;
}

.ClinicalCalendarBigBox .Calendar_Today {
  border: 1px solid #CEBBBC;
  background-color: #EFEFEF;
}

.ClinicalCalendarBigBox .Calendar_Weekday {
  border: 1px solid white;
  background-color: #FFFFFF;
}

.ClinicalCalendarBigBox .Calendar_Today_Weekend {
  border: 1px solid white;
  background-color: #C2D7EF;
}

.ClinicalCalendarBigBox .Calendar_Weekend {
  border: 1px solid white;
  background-color: #EFEFEF;
}

.ClinicalCalendarBigBox .Calendar_Past_Day {
  border: 1px solid white;
  background-color:#f6f6f6;
}

.ClinicalCalendarBigBox .Calendar_Weekday_Holiday {
  border: 1px solid white;
  background-color: #c2c2c2;
}

.ClinicalCalendarBigBox .Calendar_Today,
.ClinicalCalendarBigBox .Calendar_Weekday,
.ClinicalCalendarBigBox .Calendar_Today_Weekend,
.ClinicalCalendarBigBox .Calendar_Weekend,
.ClinicalCalendarBigBox .Calendar_Weekday_Holiday,
.ClinicalCalendarBigBox .Calendar_Past_Day {
  height: 65px;
  width: 139px;
  position: relative;
  float: left;
  overflow: hidden;
  padding: 19px 14px;
  margin: -1px 0 0 -1px;
  _margin: -1px -1px 0px 0px;
  border: 1px solid #d2d1d0;
  font-family: 'globeregular';
  font-size: 12px;
  color: #115874;
  display: inline-block;
}

.AR .ClinicalCalendarBigBox .Calendar_Today,
.AR .ClinicalCalendarBigBox .Calendar_Weekday,
.AR .ClinicalCalendarBigBox .Calendar_Today_Weekend,
.AR .ClinicalCalendarBigBox .Calendar_Weekend,
.AR .ClinicalCalendarBigBox .Calendar_Weekday_Holiday,
.AR .ClinicalCalendarBigBox .Calendar_Past_Day,
.AR .ClinicalCalendarBigBox .Calendar_SmallDay,
.AR .ClinicalCalendarBigBox .Calendar_EmptyDay {
  float: right;
}

.AR .ClinicalCalendarBigBox .Calendar_SmallWeek {
  width: 139px;
  background-color: #F7F4EF;
}

.ClinicalCalendarBigBox .Calendar_Weekday,
.ClinicalCalendarBigBox .Calendar_Today {
  text-align: right;
}

.ClinicalCalendarBigBox .Calendar_Items {
  margin: -2px 2px 0px 2px;
  padding: 0px;
  font-size:10px;
  line-height: 1.2;
}

.ClinicalCalendarBigBox .Calendar_Item {
  margin:1px 0px;
  font-size:10px;
  white-space: nowrap;
  overflow: hidden;
}

.ClinicalCalendarBigBox .Calendar_Item a,
.ClinicalCalendarBigBox .Calendar_Item a:link,
.ClinicalCalendarBigBox .Calendar_Item a:visited {
  text-decoration:none;
}

.ClinicalCalendarBigBox .Calendar_Item a:hover {
  text-decoration:underline;
}

.ClinicalCalendarBigBox .Calendar_Item_Number {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  padding-top: 4px;

  h: expression(
      onmouseover=new Function("this.className='Calendar_Item_Number-hover';"),
      onmouseout=new Function("this.className='Calendar_Item_Number';"));
}

.ClinicalCalendarBigBox .Calendar_Item_Number-hover,
.ClinicalCalendarBigBox .Calendar_Item_Number:hover {
  font-size: 14px;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 2px;    
  background-color: #333333;
  color: #FAFAFA;
  cursor: pointer;
}

.ClinicalCalendarBigBox .Calendar_Side {
  display: none;
  padding: 5px;
  border: 1px solid #CCCBC7;
  background-color: white;
  margin-top:25px;
  overflow: auto;
}

.ClinicalCalendarBigBox .Calendar_Side_Close {
  float:right;
  cursor: pointer;
}

.ClinicalCalendarBigBox .Calendar_Side_Items {
  margin-top:5px;
}

.ClinicalCalendarBigBox .Calendar_Side_Item {
  background-color: #EFEFEF;
  margin-top: 3px;
  padding:2px;
}

.ClinicalCalendarBigBox .Calendar_Side_ItemTitle {
  font-size:14px;
  font-weight: bold;
}

.ClinicalCalendarBigBox .Calendar_Side_ItemSubTitle {
  font-size:12px;
  vertical-align: baseline;
  font-weight: bold;
}

.ClinicalCalendarBigBox .Calendar_Side_ItemDescription {
  font-size:10px;
}

.ClinicalCalendarBigBox .Calendar_SmallBox {
  width: 255px;
  font-size: 11px;
  padding: 2px 2px 2px 2px;
  _height: 1%;
}

.ClinicalCalendarBigBox .Calendar_SmallBox:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.ClinicalCalendarBigBox .Calendar_SmallHeader {
  width: 469px;
  padding: 1px 3px;
  border: 1px solid #CCCCCC;
  margin: 0 0 0 -1px;
  _margin: 0px -1px 0px 0px;
  text-align: center;
  font-weight: bold;
}

.ClinicalCalendarBigBox .Calendar_SmallWeek {
  width: 139px;
  height: 31px;
  padding: 19px 14px;
  margin: -1px 0 0 -1px;
  _margin: -1px -1px 0px 0px;
  text-align: right;
  font-family: 'globeregular';
  font-size: 12px;
  color: #115874;
  border-bottom: 1px solid #d2d1d0;
  display: inline-block;
  background-color: transparent;
}

.ClinicalCalendarBigBox.NoBorder .Calendar_SmallWeek:last-of-type {
  border-right: none; 
}

.ClinicalCalendarBigBox .Calendar_SmallDay {
  height: 33px;
  width: 139px;
  padding: 2px 1px;
  margin: -1px 0 0 -1px;
  _margin: -1px -1px 0px 0px;
  font-family: 'globeregular';
  font-size: 12px;
  color: #115874;
  border: 1px solid #d2d1d0;
  background-color: #fff;
  display: inline-block;
  direction: initial;
  float: left;
}

.ClinicalCalendarBigBox .Calendar_SmallDay .Calendar_SmallDayLink {
  line-height: 26px;
}

.ClinicalCalendarBigBox .Calendar_SmallTitle {
  padding: 0 2px;
  font-size: 11px;
}

.ClinicalCalendarBigBox .Calendar_SmallBar {
  height: 5px;
  font-size: 0;
  background-color: gray;
}

.ClinicalCalendarBigBox .Calendar_SmallBar A,
.ClinicalCalendarBigBox .Calendar_SmallBar A:link,
.ClinicalCalendarBigBox .Calendar_SmallBar A:visited {
  text-decoration: none;
}

.ClinicalCalendarBigBox .Calendar_SmallDayLink {
  height: 17px;
  width: 20px;
  text-decoration: none !important;
}

.ClinicalCenteredCalendarBigWrapper {
  border-radius: 3px;
  text-align: center;
  background-color: transparent;
}
.ClinicalCalendarBigBox .Calendar_SmallWeek {
  width: 139px;
}
.ClinicalCalendar_EmptyDay {
  background-color: #EFEFEF;
}
ClinicalCalendarBigBox {
  background-color: #EFEFEF;
}

.ContainerAppointments
{
  color: #b0a479;
}

.ContainerSurgeries
{
  color: #a195b3;
}

.ContainerSelected
{
  color: #fff;
}

.ContainerUnavailability
{
   color: #a2b6bf;
}

.ContainerFullUnavailability
{                                             
  background-image: repeating-linear-gradient(135deg, #fff, #fff 3px, rgba(209,219,223,1) 1px, rgba(209,219,223,1) 13px);
}

.CalendarItemCell
{
  width: 24px;
  text-align: center;
}

.CalendarText_Note {
  font-size: 12px;
}

.AR .ButtonRight {
  transform: rotate(180deg);
}

.ClinicalCalendarBigBox .Calendar_Today,
.ClinicalCalendarBigBox .Calendar_Weekday,
.ClinicalCalendarBigBox .Calendar_Today_Weekend,
.ClinicalCalendarBigBox .Calendar_Weekend,
.ClinicalCalendarBigBox .Calendar_Weekday_Holiday,
.ClinicalCalendarBigBox .Calendar_Past_Day,
.ClinicalCalendarBigBox .Calendar_EmptyDay,
.ClinicalCalendarBigBox .Calendar_SmallWeek,
.ClinicalCalendarBigBox .Calendar_SmallDay {
  margin: 0;
  border-top: none;
  border-right: none;
}

@media screen and (max-width: 1024px) {
  .ClinicalCalendarBigBox .Calendar_Today,
  .ClinicalCalendarBigBox .Calendar_Weekday,
  .ClinicalCalendarBigBox .Calendar_Today_Weekend,
  .ClinicalCalendarBigBox .Calendar_Weekend,
  .ClinicalCalendarBigBox .Calendar_Weekday_Holiday,
  .ClinicalCalendarBigBox .Calendar_Past_Day,
  .ClinicalCalendarBigBox .Calendar_EmptyDay,
  .ClinicalCalendarBigBox .Calendar_SmallWeek,
  .ClinicalCalendarBigBox .Calendar_SmallDay {
      padding: 16px 11px;
  }
  .CalendarItemCell .icon {
      font-size: 1.25em;
      line-height: 0.7em;
  }
  .CalendarItemCell .CalendarText_Note {
      font-size: 11.5px;
  }
}

@media screen and (max-width: 890px) {
  .ClinicalCalendarBigBox .Calendar_Today,
  .ClinicalCalendarBigBox .Calendar_Weekday,
  .ClinicalCalendarBigBox .Calendar_Today_Weekend,
  .ClinicalCalendarBigBox .Calendar_Weekend,
  .ClinicalCalendarBigBox .Calendar_Weekday_Holiday,
  .ClinicalCalendarBigBox .Calendar_Past_Day,
  .ClinicalCalendarBigBox .Calendar_EmptyDay,
  .ClinicalCalendarBigBox .Calendar_SmallWeek,
  .ClinicalCalendarBigBox .Calendar_SmallDay {
      padding: 14px 8px;
  }
  .CalendarItemCell .icon {
      font-size: 1.2em;
      line-height: 0.65em;
  }
  .CalendarItemCell .CalendarText_Note {
      font-size: 11px;
  }
}

@media screen and (max-width: 800px) {
  .ClinicalCalendarBigBox .Calendar_Today,
  .ClinicalCalendarBigBox .Calendar_Weekday,
  .ClinicalCalendarBigBox .Calendar_Today_Weekend,
  .ClinicalCalendarBigBox .Calendar_Weekend,
  .ClinicalCalendarBigBox .Calendar_Weekday_Holiday,
  .ClinicalCalendarBigBox .Calendar_Past_Day,
  .ClinicalCalendarBigBox .Calendar_EmptyDay,
  .ClinicalCalendarBigBox .Calendar_SmallWeek,
  .ClinicalCalendarBigBox .Calendar_SmallDay {
      padding: 9px 3px;
  }
  .CalendarItemCell .icon {
      font-size: 1em;
      line-height: 0.45em;
  }
  .CalendarItemCell .CalendarText_Note {
      font-size: 11px;
  }
}


 */
