.ClinicianWorkArea {
	&____resumeDetails {
		.AppointmentDetails {
			margin-top: 0 !important;

			.ExpandableContent:hover {
				background-color: #eeeae3;
			}

			.SeparatorBorder:first-of-type {
				display: none;
			}

			// .MultiMarginBottomSmall {
			// 	&::after {
			// 		background-color: $regular-white;
			// 		content: ' ';
			// 		display: inline-block;
			// 		height: 2px;
			// 		margin: 18px -15px 15px -15px;
			// 		width: 110%;
			// 	}
			// }
		}

		.SectionExpandableCustom {
			&.expanded {
				.SectionExpandableCustom_content:empty {
					color: #5f6f79;
					font-size: 14px;
					padding: 42px;
					text-align: center;

					&::before {
						content: 'There are no items yet.';
					}
				}
			}

			.SectionExpandableCustom_content:empty {
				height: auto !important;
				padding: 0;
			}
		}
	}
}

div.EditContainerDiv {
	background-color: transparent;
	padding: 0;
}
