.ClinicalDocumentSearch {
	display: flex;
	gap: $sapphire-sizes--medium;
	margin-top: $sapphire-sizes--medium;

	&__Filter,
	&__Options {
		display: flex;
	}

	&__Filter {
		position: relative;
		width: 315px;

		.Search_wrapper {
			width: 100%;

			input[type='text'] {
				padding-right: 90px;
			}
		}

		a.Button {
			min-width: 75px;
			position: absolute;
			right: 0;
			z-index: 1;
		}
	}

	&__Options {
		.CalendarDateInput {
			min-width: 120px;
		}
	}
}

/*.desktop.small {
	.ClinicalDocumentSearch {
		&__Filter {
			border: none;
			margin: 0;
			margin-bottom: 12px;
			padding: 0;
		}

		.Columns .Column {
			padding: 0;
			width: 100%;
		}
	}
}*/

.AR,
.FA {
	.ClinicalDocumentSearch {
		&__Filter {
			.Search_wrapper {
				input[type='text'] {
					padding-left: 90px;
					padding-right: 35px;
				}
			}

			.Button {
				left: 0;
				right: unset;
			}
		}
	}
}
