//Prego
$headerTitleHight: 40px;

div[id*='SectionTitleContainer'] + div {
	display: inline;
	position: relative;
	top: -5px;
}

.AgendaCalendar {
	&___Container {
		position: relative;
	}
	&___Header {
		&--Content {
			align-items: center;
			display: flex;
			height: $headerTitleHight;
			margin-bottom: 18px;

			a.Button {
				margin-right: 18px !important;
			}
		}

		.SegmentedControl {
			margin: 0;
		}
	}

	&___Title {
		align-items: center;
		display: flex;
		height: $headerTitleHight;
		left: 50%;
		position: absolute;
		top: 0;
		> div.CalendarButton.InlineBlock.Clickable {
			display: contents;
		}
	}

	.ClinicalCalendarBigBox {
		.ContainerSelected,
		.ContainerAppointments,
		.ContainerSurgeries {
			color: $mid-dark-grey;
		}
	}

	.Calendar_Weekday {
		background-color: $light-grey;
		bottom: 1px $mid-dark-grey;
	}

	.CalendarDay___Selected {
		background-color: $sapphire-white;
		color: $regular-beta;
	}
	.CalendarItemCell {
		color: $regular-beta;
	}
}

.TopSection___Wrapper {
	font-size: $font-size-heading2;
	height: $headerTitleHight;
	width: 100%;

	.TopSection___Container {
		align-items: center;
		display: flex;
		height: 100%;
		width: 100%;

		.DropDown___Container {
			display: flex;
			font-size: 1rem;
			margin-left: 5px;
			width: 250px;
			> span {
				display: flex;
				div[ui='Container_LocationOptGroup_Doctor'],
				div[ui='Container_LocationOptGroup_Doctor2Drop'] {
					margin-right: 20px;
				}
			}

			.selection {
				.select2-selection.select2-selection--single {
					height: 100%;
					width: 250px;

					.select2-selection__arrow b {
						top: 3px;
					}
				}
			}
		}
	}
}
