.LayoutBase {
	&-Wrapper {
		.LayoutBase-Content .PatientDetails__MainWorkArea,
		.LayoutBase-Content .PatientDetails_content,
		.LayoutBase-Content .ClinicianWorkArea_wrapper {
			margin: 0;
			padding: 0;
		}
	}

	&-Content {
		.LayoutBase-primary-menu {
			background-color: $sapphire-grey-blue;
			padding-left: 16px;
		}

		.LayoutBase-secondary {
			display: flex;
			position: static;

			&.isFixed {
				position: fixed;
				z-index: 6;
			}

			&.noToolbar {
				height: 1px;
			}

			&.isFixed .hide-on-scroll {
				display: none;
			}

			&.isFixed .Circle.Large {
				height: 25px;
				width: 25px;
			}

			&.isFixed .Circle.Large .icon {
				font-size: 12px;
				line-height: 1;
				vertical-align: middle;
			}

			&.isFixed .Toolbar_container {
				margin-top: 0;
			}

			&.isFixed .Toolbar__Items a {
				line-height: 46px;
			}

			&.isFixed .LayoutBase-secondary-menu,
			&.isFixed .LayoutBase-secondary-aside {
				border-bottom: 4px #c9cdce solid;
				height: 50px;
			}

			&.noToolbar .LayoutBase-secondary-menu,
			&.isFixed.noToolbar .LayoutBase-secondary-menu {
				border-bottom: none;
			}

			&.isFixed .Toolbar .MenuItemWrapper {
				border-top: none;
				padding: 0 10px;
			}

			&.isFixed .Toolbar .MenuItemWrapper .MenuItemWrapper__icon {
				display: none;
			}

			&.isFixed .Toolbar .Toolbar__leftBtn,
			&.isFixed .Toolbar .Toolbar__rightBtn {
				height: 42px;
			}

			&.isFixed .Toolbar .Toolbar__leftBtn:before,
			&.isFixed .Toolbar .Toolbar__rightBtn:before {
				line-height: 42px;
			}

			.hide-on-scroll {
				white-space: nowrap;
			}
		}

		.LayoutBase-secondary-menu {
			background-color: #f7f4ef;
			width: 67%;
		}

		.LayoutBase-secondary-aside {
			background-color: #f7f4ef;
			width: 33%;
		}

		.LayoutBase-emergency {
			background-color: #eee3e3;

			&.isFixed {
				position: fixed;
				z-index: 7;
			}
		}
	}

	&-padding {
		padding: 16px;
	}

	&.Page .LayoutBase-Content {
		position: static;
	}

	&.Page .ClinicianWorkArea-columns {
		padding-left: 16px;
		width: 100%;
	}

	&.Page .ClinicianWorkArea-columns-big {
		display: inline-block;
		padding: 0 5px 0 0;
		vertical-align: top;
		width: 67%;
	}

	&.Page .ClinicianWorkArea-columns-small {
		background-color: #eeeae3;
		display: inline-block;
		padding: 0 10px 0 5px;
		vertical-align: top;
		width: 33%;
	}

	&.Page .ClinicianWorkArea.FullWidth .ClinicianWorkArea-columns-big {
		display: block;
		padding: 0;
		width: 100%;
	}

	&.Page .ClinicianWorkArea.FullWidth .ClinicianWorkArea-columns-small {
		display: none;
	}

	.ClinicianWorkArea____workItems {
		background-color: #ebebeb;
	}

	.select2-container--open .select2-dropdown--below {
		z-index: 101;
	}
}

.AR,
.FA {
	.LayoutBase.Page .ClinicianWorkArea-columns-big {
		padding: 0 0 0 5px;
	}

	.LayoutBase.Page .ClinicianWorkArea-columns-small {
		padding: 0 5px 0 0;
	}
}

@media screen and (max-width: 1023px) {
	.LayoutBase.Page .ClinicianWorkArea-columns {
		padding-left: 0;
	}
	.LayoutBase.Page .ClinicianWorkArea-columns-big,
	.LayoutBase.Page .ClinicianWorkArea-columns-small {
		width: 100%;
	}
	.LayoutBase-Content .LayoutBase-secondary .hide-on-scroll {
		display: none;
	}
	.LayoutBase-Content .LayoutBase-secondary .TopInfo .ContextButtons .Cell2 {
		display: none;
	}
}

// @TODO: wat
.LayoutBase.Page .LayoutBase-Content-MainWorkArea .Content,
.LayoutBase.Page
	.SystemWideSidebar
	~ .PatientDetails_content
	.PatientDetails__MainWorkArea
	.Content,
.LayoutBase.Page
	.PatientDetailsLayout
	.PatientDetails_content
	.PatientDetails__MainWorkArea
	> .Content {
	margin: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 40px;
	padding-top: 0;
}

.AR.LayoutBase.Page .LayoutBase-Content-MainWorkArea .Content,
.AR.LayoutBase.Page
	.SystemWideSidebar
	~ .PatientDetails_content
	.PatientDetails__MainWorkArea
	.Content,
.AR.LayoutBase.Page
	.PatientDetailsLayout
	.PatientDetails_content
	.PatientDetails__MainWorkArea
	> .Content {
	padding-left: 40px;
	padding-right: 0;
}

.LayoutBase.Page
	.LayoutBase-iframesidebar.notExpandable
	~ .LayoutBase-Content
	.LayoutBase-Content-MainWorkArea
	.Content {
	padding-right: 250px !important;
}

.AR.LayoutBase.Page
	.LayoutBase-iframesidebar.notExpandable
	~ .LayoutBase-Content
	.LayoutBase-Content-MainWorkArea
	.Content {
	padding-left: 250px !important;
	padding-right: 0 !important;
}

.LayoutBase-iframesidebar.notExpandable ~ .LayoutBase-header,
.LayoutBase-SystemWideSidebar.SystemWideSidebar.Open ~ .LayoutBase-header {
	padding-right: 250px;
}

.AR .LayoutBase-iframesidebar.notExpandable ~ .LayoutBase-header,
.AR .LayoutBase-SystemWideSidebar.SystemWideSidebar.Open ~ .LayoutBase-header {
	padding-left: 250px;
	padding-right: 0;
}

html .Page .PatientDetailsLayout {
	padding-top: 0;
}

.LayoutBase-Content
	.LayoutBase-secondary.isFixed
	.PatientHeaderActions
	.PatientHeaderActions_menuItem
	.PatientHeaderActions__actions
	.WhiteContainer {
	height: 25px;
	padding: 4px;
	width: 25px;
}

.LayoutBase-Content
	.LayoutBase-secondary
	.LayoutBase-secondary-aside
	> a
	.DisplayInlineBlock {
	display: block;
}

.ClinicianWorkArea.FullWidth .ClinicianWorkArea____workItems {
	background-color: #f7f4ef;
}
