.desktop {
	.LineTimeLine {
		&___mobileDescription {
			display: none;
		}
	}
}

.phone,
.tablet {
	.LineTimeLine {
		&____desktopDescription {
			display: none;
		}

		&___mobileDescription {
			display: table-cell;
			padding-left: 10px;
		}
	}
}

.phone,
.tablet,
.desktop.small {
	.LineSubTimeLine .LineSubTimeLine_left,
	.LineSubTimeLine .LineSubTimeLine_right {
		display: block;
		width: 100%;
	}
}

.AR,
.FA {
	&.phone,
	&.tablet {
		.LineTimeLine___mobileDescription {
			padding-left: auto;
			padding-right: 10px;
		}
	}
}
