.phone,
.tablet {
	.Tabs__tab {
		width: auto;
	}

	.Tabs__tab.active:first-child,
	.Tabs__tab.active:first-child {
		border-left: 1px solid $light-grey;
	}

	.Tabs_Extended .Tabs_body,
	.Tabs_Extended .Tabs_body {
		padding: 26px 0 26px 0;
	}
}

.tablet {
	.Tabs__content.active .CompLine_actions > div:nth-child(2) {
		margin: 0px;
	}
}

.PopupTimeLine {
	.Tabs_body {
		border: 0;
	}

	.Tabs__tab {
		border-bottom: 1px solid $mid-light-grey;
		width: 50%;
	}

	.Tabs__tab.active {
		border-bottom: 5px solid $regular-alpha;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		color: $regular-beta;
		font-weight: bold;
		line-height: 34px;
	}
}
