.ClinicalInformation > div {
	display: flex;
	flex-direction: column;
	height: $sapphire-sizes--largest;

	.ClinicalInformationItem {
		display: flex;
		flex-basis: 100%;
		gap: $sapphire-sizes--small;
		padding: $sapphire-sizes--xsmall $sapphire-sizes--small;

		&:first-of-type {
			border-top-left-radius: $border-radius-default;
			border-top-right-radius: $border-radius-default;
		}

		&:last-of-type {
			border-bottom-left-radius: $border-radius-default;
			border-bottom-right-radius: $border-radius-default;
		}

		&-text {
			font-size: $font-size-tiny;
			white-space: nowrap;
		}
	}
}

@media (max-width: 1280px) {
	.ClinicalInformationItem {
		margin-top: 10px;
		max-width: 49.5%;
	}

	.SapphireHeader .SapphireHeader-information .ClinicalInformation {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.ClinicalInformation > div {
		flex-direction: row;
		height: auto;
		justify-content: space-between;
	}
}
