.ExpandableServerSide {
  background-color: #fff;
  padding: 0 10px;
  width: 100%;
}

.ExpandableServerSide_header {
  background-color: #fff;
  display: table;
  width: 100%;
}

.ExpandableServerSide__title {
  display: table-cell;
  padding: 10px;
}

.ExpandableServerSide__icon {
  display: table-cell;
}

.ExpandableServerSide__arrow {
  display: table-cell;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
}

.ExpandableServerSide__arrow .icon {
  cursor: pointer;
}

.ExpandableServerSide__arrow.open {
  display: table-cell;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  vertical-align: middle;
  webkit-transform: rotate(180deg);
}




.ExpandableServerSide.Secondary {
  padding: 0;
}





.ExpandableServerSide.inverted {
  background-color: transparent;
  border-radius: 2px;
  padding: 0;
  position: relative;
}




.ExpandableServerSide.inverted .ExpandableServerSide_header {
  align-items: center;
  background-color: #f4f4f4;
  /* height:40px; */
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ExpandableServerSide.Secondary .ExpandableServerSide_header {
  border: 1px solid #BFC3C3;
}


.ExpandableServerSide.inverted .ExpandableServerSide__arrow {
  font-weight: 700;
  order: 1;
  transform: rotate(-90deg);
}

.ExpandableServerSide.inverted .ExpandableServerSide__arrow.open {
  transform: rotate(0deg);
}

.ExpandableServerSide.inverted .ExpandableServerSide__title {
  background-color: #f4f4f4;
  color: #194968;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  margin-left: 10px;
  order: 3;
  padding: 0;
}

.ExpandableServerSide.inverted .ExpandableServerSide__icon {
  flex: 1;
  order: 2;
}


.ExpandableServerSide_expandContainer {
  background-color: #fff;
}

.ExpandableServerSide_expandContainer_container {
  border-top: 1px solid #ccc;
}

/*
.ExpandableServerSide_expandContainer.opened{
  border-top:1px solid #ccc;
  padding: 0 10px;
}*/

.ExpandableServerSide_expandContainer_container {
  height: auto;
}



.ExpandableServerSide_expandContainer.opened {
  border: none;
}


.ExpandableServerSide_header+.ExpandableServerSide_expandContainer.opened {
  border-top: 1px solid #ccc;
  padding: 0 10px !important;
}



/***** Secondary Skin ******/
.ExpandableServerSide.Secondary .ExpandableServerSide_header {
  padding: 10px 30px 10px 10px;
}

.ExpandableServerSide.Secondary .ExpandableServerSide__icon,
.ExpandableServerSide.Secondary .ExpandableServerSide__icon .icon {

  flex: 1;
  font-size: 18px;
  font-weight: 600;
}

.ExpandableServerSide.Secondary:not(.inverted) .ExpandableServerSide__icon,
.ExpandableServerSide.Secondary:not(.inverted) .ExpandableServerSide__icon .icon {
  display: none;
}


.ExpandableServerSide.Secondary .ExpandableServerSide_header .ExpandableServerSide__title {
  color: #11455D;
  font-size: 16px;
  font-weight: 600;
}

.ExpandableServerSide.inverted.Secondary .ExpandableServerSide__arrow {
  transform: rotate(0deg);
}

.ExpandableServerSide.inverted.Secondary .ExpandableServerSide__arrow.open {
  line-height: 14px;
  transform: rotate(180deg);
}


.ExpandableServerSide.inverted.Secondary .ExpandableServerSide__link {
  color: #16979F;
  font-size: 14px;
  order: 4;
  text-align: right;
  white-space: nowrap;
}


.ExpandableServerSide.Secondary .ExpandableServerSide_header .ExpandableServerSide__arrow {
  color: #16979F;
  font-size: 16px;
}

.ExpandableServerSide.Secondary .ExpandableServerSide_expandContainer.opened {
  border-top: 0;
  padding: 0 !important;
}

.ExpandableServerSide.Secondary:not(.inverted) .ExpandableServerSide__link {
  display: none;
  flex: 1;
  order: 2;
}

.ExpandableServerSide.Secondary:not(.inverted) .ExpandableServerSide__arrow {
  order: 4;
}

.ExpandableServerSide.Secondary .ExpandableServerSide_header {
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ExpandableServerSide.noBorder,
.ExpandableServerSide.noBorder .ExpandableServerSide_header,
.ExpandableServerSide.noBorder .ExpandableServerSide_expandContainer_container {
  border: 0;
}



.ExpandableServerSide_expandContainer.opened {
  border: none;
}

.ExpandableServerSide__title+.ExpandableServerSide_expandContainer.opened {
  border-top: 1px solid #ccc;
  padding: 0 10px;
}

.sectionWrapper_levelOne .ExpandableServerSide_expandContainer.opened {
  padding: 0;
}