.ExpandableLink {
	&--expanded & {
		&__Icon {
			.icon {
				transform: rotate(180deg);
			}
		}

		&__Content {
			max-height: 9999px;
			overflow: auto;
		}
	}

	&--triggerRight & {
		&__Header {
			display: flex;
			transform: scale(-1, 1);

			> div > div {
				transform: scale(-1, 1);
			}
		}

		&__Link {
			display: flex;
			flex-basis: 100%;
			flex-wrap: nowrap;
			transform: scale(-1, 1);

			> div:last-of-type {
				flex-basis: 100%;
				margin-left: 10px;
			}
		}

		&__Icon,
		&__Link > div {
			align-self: center;
			justify-content: center;
		}
	}

	&__Header {
		cursor: pointer;
	}

	&__Icon {
		.icon {
			@include arrow-button($regular-beta, 20px, 0.7em, 90deg);

			transition: transform 0.5s;
		}
	}

	&__Link {
		color: $regular-beta;
		font-family: $font-family-latin-bold;
		margin-left: $sapphire-sizes--medium;
	}

	&__Content {
		margin-top: 10px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 500ms;
	}
}

.ExpandableList {
	.ExpandableLink {
		border: 1px solid $light-grey;
		border-radius: $border-radius-medium;
		overflow: hidden;

		&:not(:first-of-type) {
			border-top: 1px solid $body-color;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		&:not(:last-of-type) {
			border-bottom: 1px solid $body-color;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			.ExpandableLink__Header {
				border-bottom: 1px solid $light-grey;
			}
		}

		&--expanded {
			.ExpandableLink__Header {
				border-bottom: 1px solid $light-grey;
			}

			.ExpandableLink__Content {
				padding: $sapphire-sizes--medium;
			}
		}

		&__Header {
			align-items: center;
			background-color: $body-color;
			height: 40px;
			padding: 0 $sapphire-sizes--medium;
		}

		&__Link {
			color: $regular-grey;
			font-size: $font-size-small;
		}

		&__Icon {
			.icon {
				border: none;
				font-size: $font-size-heading2;

				&:hover {
					background-color: transparent;
				}

				&::before {
					color: $regular-grey;
				}
			}
		}

		&__Content {
			margin-top: 0;
			transition: unset;
		}
	}
}

.AR,
.FA {
	.ExpandableLink {
		&__Link {
			margin-left: 0;
			margin-right: $sapphire-sizes--medium;
		}
	}
}
