@mixin common-toolbar-button-style($rotate-degree: 270deg) {
  @include arrow-button;
  position: absolute;

  top: 50%;
  transform: translateY(-50%) rotate($rotate-degree);
}

div.Toolbar {
  width: 100%;

  &_container {
    background-color: $regular-white;
    padding-top: 11px;
    position: relative;

    &::after {
      background: linear-gradient(270deg,
          $regular-white 0%,
          $regular-white 45%,
          rgba(255, 255, 255, 0) 100%);
      right: 0;
    }

    &::before {
      background: linear-gradient(90deg,
          $regular-white 0%,
          $regular-white 25%,
          rgba(255, 255, 255, 0) 100%);
      left: 0;
      z-index: 1;
    }

    &::after,
    &::before {
      content: ' ';
      display: inline-block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 35px;
    }
  }

  &__Items {
    display: block;
    overflow: hidden;
    padding: 0 33px;

    .ListRecords {
      display: inline-flex;

      a .MenuItemWrapper {
        border: 1px solid transparent;
        border-bottom: 3px solid transparent;
      }

      a:focus .MenuItemWrapper {
        border: 1px solid $mid-light-grey;
      }
    }
  }

  &__leftBtn {
    @include common-toolbar-button-style;

    left: 5px;
  }

  &__rightBtn {
    @include common-toolbar-button-style(90deg);

    right: 5px;
  }

  &__leftBtn.Disabled,
  &__rightBtn.Disabled {
    border: 1px solid $light-grey;
    pointer-events: none;

    &:before {
      color: $light-grey;
    }
  }

  &.Fix {
    background-color: $regular-white;
    border-bottom: 4px solid $light-grey;
    left: 0;
    margin-left: 10px;
    position: fixed;
    z-index: 4;

    .Toolbar__rightBtn {
      right: 45px;
    }

    .MenuItemWrapper {
      padding-bottom: 1px;
      padding-top: 4px;

      &__Label {
        margin-top: 0;
        padding: 6px 0;
      }

      &__Items {
        padding-top: 2px;
      }

      &__icon {
        display: none;
      }
    }
  }
}

.MenuItemWrapper {
  background-color: transparent;
  border-bottom: 3px solid transparent;
  padding: 10px 20px 15px 20px;
  position: relative;
  text-align: center;
  transition: all 0.2s ease-in;
  white-space: nowrap;

  &:hover {
    border-bottom: 3px solid $regular-alpha !important;

    .MenuItemWrapper_Container {
      color: $regular-beta;
    }
  }

  &.Active {
    background-color: $body-color;
    border-bottom: 3px solid $body-color;
    border-radius: 4px 4px 0 0;
    color: $mid-dark-grey;
  }

  &_Container {
    color: $mid-dark-grey;
    transition: all 0.2s ease-in;
  }

  &__icon {
    .icon {
      font-size: 1.429em;
    }
  }

  &__Label {
    font-size: 1em;
    font-weight: 400;
  }

  &_Badge {
    background-color: $regular-red;
    border-radius: 100%;
    color: $regular-white;
    font-size: 0.786em;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: 5px;
    top: 10px;
    width: 18px;
  }
}

.AR,
.FA {
  .Toolbar.Fix {
    left: auto;
    right: 0;
  }

  .MenuItemWrapper_Badge {
    left: 1px;
    right: auto;
  }
}