body.PanelById.PanelOpened {
    overflow: hidden;
    position: static;
}

.PanelById .Panel {
    display: none;

}

.PanelById .PanelBackground {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #252525;
    -webkit-transition: all 0.14s ease;
    -moz-transition: all 0.14s ease;
    transition: all 0.14s ease;
    background-image: -webkit-radial-gradient(50% 100%, circle cover, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    background-image: radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    z-index: 20;
}

.PanelById .PanelContainer {
    z-index: 101;
    text-align: center;
    position: fixed;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 800px;
    padding: 30px 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: solid 1px #e4e4e4;
    display: none;

}

.PanelById .PanelContainer.done {
    bottom: 0;
}

.PanelById .PanelTitle {
    font-size: 16px;
    font-family: globeregular;
    font-weight: bold;
    margin-bottom: 20px;
    color: #005675;
}

.PanelById .PanelMessage {
    font-size: 13px;
    margin-bottom: 20px;
}

.PanelById .PanelMessage .CheckboxInput {
    margin-top: 10px;
}


.CheckboxInput input {
    top: -2px;
}

.desktop.hd .PanelById .PanelContainer {
    top: 50%;
    max-height: 700px;
}

.desktop.small .PanelById .PanelContainer {
    max-height: 600px;
    top: 50%;
    overflow-y: auto;
}


.desktop.small .PanelContainer {
    max-height: 487px;
    top: 60%;
    overflow-y: auto;
}

.PanelOpened {
    overflow: hidden;
    position: static;

}

.Panel {

    display: none;
}

.PanelBackground.ConfirmWB {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #252525;
    -webkit-transition: all 0.14s ease;
    -moz-transition: all 0.14s ease;
    transition: all 0.14s ease;
    background-image: -webkit-radial-gradient(50% 100%, circle cover, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    background-image: radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    z-index: 20;
}

.PanelContainer.Confirm {
    z-index: 51;
    text-align: center;
    position: fixed;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* width: 100%;*/
    padding: 30px 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: solid 1px #e4e4e4;
    display: none;

}

.PanelContainer.Confirm .PanelTitle {
    font-size: 18px;
    font-family: globeregular;
    font-weight: bold;
    margin-bottom: 20px;
    color: #005675;
}

.PanelContainer.Confirm .PanelMessage {
    font-size: 13px;
    margin-bottom: 30px;
    color: #252525;
}