.StatusBadges {
    background-color: #f7f7f7;
    border-radius: 15px;
    color: #00b3bd;
    font-family: globerbold;
    vertical-align: middle;
    padding: 3px 10px;
    max-height: 20px;
    line-height: 12px;
    font-size: 12px;
}

.StatusBadges.BadgeYellow {
    background-color: #E6E2AA;
    border: 1px solid #E6E2AA;
    color: #928D09;
}

.StatusBadges.BadgeRed {
    background-color: #FFDEDE;
    border: 1px solid #FFDEDE;
    color: #FF9496;
}

.StatusBadges.BadgeGreen {
    background-color: #C2DEA8;
    border: 1px solid #C2DEA8;
    color: #4C762B;
}

.StatusBadges.BadgeGrey {
    background-color: #C9CDCE;
    border: 1px solid #C9CDCE;
    color: #9A9A9A;
}

.StatusBadges.BadgeBlue {
    background-color: #31708F;
    border: 1px solid #31708F;
    color: #fff;
}

.StatusBadges.BadgeWhite {
    background-color: #fff;
    color: #B6D882;
    border: 1px solid #B6D882;
}

/*New Parameters StatusBadge*/

/*NoBackground*/
.StatusBadges.InvertBackground.BadgeRed {
    background-color: #fff;
    color: #cd1d02;
    border: 1px solid #cd1d02;
}

.StatusBadges.InvertBackground.BadgeGreen {
    background-color: #fff;
    color: #169C20;
    border: 1px solid #169C20;
}

.StatusBadges.InvertBackground.BadgeYellow {
    background-color: #fff;
    color: #EAB62B;
    border: 1px solid #EAB62B;
}

.StatusBadges.InvertBackground.BadgeGrey {
    background-color: #fff;
    color: #DAE0E4;
    border: 1px solid #DAE0E4;
}

.StatusBadges.InvertBackground.BadgeBlue {
    background-color: #fff;
    color: #31708F;
    border: 1px solid #31708F;
}

.StatusBadges.InvertBackground.BadgeSapphireBlue2 {
    background-color: #fff;
    color: #00b3bd;
    border: 1px solid color(secondary);
}

/*SmallHeight*/
.StatusBadges.SmallHeight {}


/*IconTextColor*/
.StatusBadges.InvertBackground.IconTextRed,
.StatusBadges.IconTextRed {
    color: #CD1D02;
}

.StatusBadges.InvertBackground.IconTextBlack,
.StatusBadges.IconTextBlack {
    color: #0C1D22;
}

.tablet .StatusBadges .Badges_Icon+div {
    white-space: nowrap;
}