.Header {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.Header_center {
    position: relative;
}

.tablet .Header_center.ThemeGrid_Container,
.phone .Header_center.ThemeGrid_Container {
    padding: 0;
}

/* Structure > Header Background */
.Header_background {
    background-color: #0f4e67;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f4e67), color-stop(30%, #115672), color-stop(100%, #115672));
    background-image: -webkit-linear-gradient(bottom, #0f4e67 0%, #115672 30%, #115672 100%);
    background-image: linear-gradient(to top, #0f4e67 0%, #115672 30%, #115672 100%);
    border-bottom: 1px solid #174a65;
    color: #fff;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.Page.UseHeaderFade .Header .Header_background {
    display: none;
}

/* Structure > Header Title */
.Header_Title {
    float: left;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.phone .Header_Title {
    left: 60px;
    position: absolute;
    right: 60px;
    text-align: center;
}

/* Structure > Header Search */
.Header_Search {
    display: inline-block;
    margin-right: 20px;
    min-width: 100px;
}



/* Structure > Header Menu */
.Header_Menu,
.Header_Menu .ListRecords {
    display: inline-block;

}

.Header_Menu a,
.Header_Menu a:link,
.Header_Menu a:visited {
    color: #8dbecc;
}

.Header_Menu a:hover,
.Header_Menu a:link:hover,
.Header_Menu a:visited:hover {
    background-color: #0a2d40;
    color: #fff;
}