$DateTimeRangePicker-color-active: $regular-alpha;
$DateTimeRangePicker-color-hover: $regular-eta;

.daterangepicker {
	@include shadow-small;

	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: 4px;
	color: inherit;
	display: none;
	font-size: 15px;
	left: 20px;
	margin-top: 7px;
	max-width: none;
	padding: 0;
	position: absolute;
	top: 100px;
	width: auto;
	z-index: 31;
}

body.PanelOpened .daterangepicker {
	z-index: 102;
}

.ResizeParentIframe .daterangepicker {
	width: 220px;
}

.daterangepicker:before,
.daterangepicker:after {
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
	display: inline-block;
	position: absolute;
}

.daterangepicker:before {
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	top: -7px;
}

.daterangepicker:after {
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	top: -6px;
}

.daterangepicker.opensleft:before {
	right: 9px;
}

.daterangepicker.opensleft:after {
	right: 10px;
}

.daterangepicker.openscenter:before {
	left: 0;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	width: 0;
}

.daterangepicker.openscenter:after {
	left: 0;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	width: 0;
}

.daterangepicker.opensright:before {
	left: 9px;
}

.daterangepicker.opensright:after {
	left: 10px;
}

.daterangepicker.drop-up {
	margin-top: -7px;
}

.daterangepicker.drop-up:before {
	border-bottom: initial;
	border-top: 7px solid #ccc;
	bottom: -7px;
	top: initial;
}

.daterangepicker.drop-up:after {
	border-bottom: initial;
	border-top: 6px solid #fff;
	bottom: -6px;
	top: initial;
}

.daterangepicker.single .daterangepicker .ranges,
.daterangepicker.single .drp-calendar {
	float: none;
}

.daterangepicker.single .drp-selected {
	display: none;
}

.daterangepicker.show-calendar .drp-calendar {
	display: block;
}

.daterangepicker.show-calendar .drp-buttons {
	display: block;
}

.daterangepicker.auto-apply .drp-buttons {
	display: none;
}

.daterangepicker .drp-calendar {
	display: none;
	max-width: 270px;
}

.daterangepicker .drp-calendar.left {
	padding: 8px 0 8px 8px;
}

.daterangepicker .drp-calendar.right {
	padding: 8px;
}

.daterangepicker .drp-calendar.single .calendar-table {
	border: none;
}

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
	border-color: $DateTimeRangePicker-color-active;
	border-radius: 0;
	border-style: solid;
	border-width: 0 2px 2px 0;
	color: #fff;
	display: inline-block;
	padding: 3px;
}

.daterangepicker .calendar-table .next span {
	transform: rotate(-45deg);
}

.rtl.daterangepicker .calendar-table .next span {
	transform: rotate(135deg);
}

.daterangepicker .calendar-table .prev span {
	transform: rotate(135deg);
}

.rtl.daterangepicker .calendar-table .prev span {
	transform: rotate(-45deg);
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	min-width: 32px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	white-space: nowrap;
	width: 20px;
}

.daterangepicker .calendar-table {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 4px;
}

.daterangepicker .calendar-table table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	width: 100%;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
	background-color: $DateTimeRangePicker-color-hover;
	border-color: transparent;
	box-shadow: inset 0 0 0 1px $regular-alpha;
	color: inherit;
}

.daterangepicker td.week,
.daterangepicker th.week {
	color: #ccc;
	font-size: 80%;
}

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
	background-color: #fff;
	border-color: transparent;
	color: #999;
}

.daterangepicker td.in-range {
	background-color: #ebf4f8;
	border-color: transparent;
	border-radius: 0;
	color: #000;
}

.daterangepicker td.start-date {
	border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
	border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
	border-radius: 4px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
	background-color: $DateTimeRangePicker-color-active;
	border-color: transparent;
	color: #fff;
}

.daterangepicker th.month {
	width: auto;
}

.daterangepicker td.disabled,
.daterangepicker option.disabled {
	color: #999;
	cursor: not-allowed;
	text-decoration: line-through;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
	cursor: default;
	font-size: 12px;
	height: auto;
	margin: 0;
	padding: 2px 5px;
}

.daterangepicker select.monthselect {
	margin-right: 2%;
	width: 56%;
}

.daterangepicker select.yearselect {
	width: 40%;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
	border: 1px solid #eee;
	font-size: 12px;
	margin: 0 auto;
	outline: 0;
	padding: 0 0 0 10px;
	width: 50px;
}

// .rtl.daterangepicker select.hourselect,
// .rtl.daterangepicker select.minuteselect,
// .rtl.daterangepicker select.secondselect,
// .rtl.daterangepicker select.ampmselect {
//   padding: 0 16px 0 0;
// }

.daterangepicker .calendar-time {
	line-height: 30px;
	margin: 4px auto 0 auto;
	position: relative;
	text-align: center;
}

.rtl.daterangepicker .calendar-time {
	direction: ltr;
}

.daterangepicker .calendar-time select.disabled {
	color: #ccc;
	cursor: not-allowed;
}

.daterangepicker .drp-buttons {
	border-top: 1px solid #ddd;
	clear: both;
	display: none;
	line-height: 12px;
	padding: 8px;
	text-align: right;
	vertical-align: middle;
}

.daterangepicker .drp-selected {
	display: inline-block;
	font-size: 12px;
	padding-right: 8px;
}

.daterangepicker .drp-buttons .btn {
	font-size: 12px;
	font-weight: bold;
	margin-left: 8px;
	padding: 4px 8px;
}

.daterangepicker.show-ranges.single.rtl .drp-calendar.left {
	border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
	border-left: 1px solid #ddd;
}

.daterangepicker.show-ranges.rtl .drp-calendar.right {
	border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.ltr .drp-calendar.left {
	border-left: 1px solid #ddd;
}

.daterangepicker .ranges {
	float: none;
	margin: 0;
	text-align: left;
}

.daterangepicker.show-calendar .ranges {
	margin-top: 8px;
}

.daterangepicker .ranges ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.daterangepicker .ranges li {
	cursor: pointer;
	font-size: 12px;
	padding: 8px 12px;
}

.daterangepicker .ranges li:hover {
	background-color: #eee;
}

.daterangepicker .ranges li.active {
	background-color: $DateTimeRangePicker-color-active;
	color: #fff;
}

/*  Larger Screen Styling */
// @media (min-width: 564px) {
//   .daterangepicker {
//     width: auto;
//   }

//   .daterangepicker .ranges ul {
//     width: 140px;
//   }

//   .daterangepicker.single .ranges ul {
//     width: 100%;
//   }

//   .daterangepicker.single .drp-calendar.left {
//     clear: none;
//   }

//   .daterangepicker.single .ranges,
//   .daterangepicker.single .drp-calendar {
//     float: left;
//   }

//   .daterangepicker {
//     direction: ltr;
//     text-align: left;
//   }

//   .daterangepicker .drp-calendar.left {
//     clear: left;
//     margin-right: 0;
//   }

//   .daterangepicker .drp-calendar.left .calendar-table {
//     border-bottom-right-radius: 0;
//     border-right: none;
//     border-top-right-radius: 0;
//   }

//   .daterangepicker .drp-calendar.right {
//     margin-left: 0;
//   }

//   .daterangepicker .drp-calendar.right .calendar-table {
//     border-bottom-left-radius: 0;
//     border-left: none;
//     border-top-left-radius: 0;
//   }

//   .daterangepicker .drp-calendar.left .calendar-table {
//     padding-right: 8px;
//   }

//   .daterangepicker .ranges,
//   .daterangepicker .drp-calendar {
//     float: left;
//   }
// }

// @media (min-width: 730px) {
//   .daterangepicker .ranges {
//     width: auto;
//   }

//   .daterangepicker .ranges {
//     float: left;
//   }

//   .daterangepicker.rtl .ranges {
//     float: right;
//   }

//   .daterangepicker .drp-calendar.left {
//     clear: none !important;
//   }
// }

/*Iframe exception*/
@media (min-width: 564px) {
	iframe .daterangepicker.single .ranges,
	.daterangepicker.single .drp-calendar {
		float: none;
	}
}

.daterangepicker .cancelBtn {
	background: transparent;
	border: none;
	box-shadow: none;
	color: $DateTimeRangePicker-color-active;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	font-weight: bold;
	height: 26px;
	min-width: 80px;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
}

.daterangepicker .cancelBtn:hover {
	background-color: $DateTimeRangePicker-color-hover;
}

.daterangepicker .applyBtn {
	background-color: $DateTimeRangePicker-color-active;
	border: 1px solid $DateTimeRangePicker-color-active;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 26px;
	min-width: 80px;
	text-decoration: none;
}

.daterangepicker .calendar-time {
	position: relative;
}

.LayoutPopup .daterangepicker .calendar-table td,
.ResizeParentIframe .daterangepicker .calendar-table td {
	font-size: 12px;
	line-height: 14px;
	min-width: 25px;
	padding: 3px;
}

.LayoutPopup .daterangepicker select.hourselect,
.LayoutPopup .daterangepicker select.minuteselect,
.LayoutPopup .daterangepicker select.secondselect,
.LayoutPopup .daterangepicker select.ampmselect,
.ResizeParentIframe .daterangepicker select.hourselect,
.ResizeParentIframe .daterangepicker select.minuteselect,
.ResizeParentIframe .daterangepicker select.secondselect,
.ResizeParentIframe .daterangepicker select.ampmselect {
	border: 1px solid #eee;
	font-size: $font-size-tiny;
	height: 24px;
	margin: 0 auto;
	outline: 0;
	padding: 0 0 0 10px;
	width: 45px;
}

.LayoutPopup .daterangepicker select.yearselect,
.LayoutPopup .daterangepicker select.monthselect,
.ResizeParentIframe .daterangepicker select.yearselect,
.ResizeParentIframe .daterangepicker select.monthselect {
	height: 24px;
}

.LayoutPopup .daterangepicker .calendar-table th,
.ResizeParentIframe .daterangepicker .calendar-table th {
	font-size: 12px;
	min-width: 25px;
	padding: 3px;
}

.LayoutPopup .daterangepicker .drp-calendar.left,
.LayoutPopup .daterangepicker.show-calendar .drp-buttons,
.ResizeParentIframe .daterangepicker .drp-calendar.left,
.ResizeParentIframe .daterangepicker.show-calendar .drp-buttons {
	padding: 4px;
}

.DateTimeRangePicker {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.DateTimeRangePicker > div {
	display: block;
	position: relative;
	white-space: nowrap;
}

.Page .DateTimeRangePicker-input {
	position: relative;
}

.Page .DateTimeRangePicker-placeholder {
	display: block;
	// height: 0;
	line-height: 0;
	overflow: hidden;
	position: absolute;
	width: 0;
}

.Page .DateTimeRangePicker-placeholder input[type='text'],
.Page .DateTimeRangePicker-placeholder input[type='text'].Not_Valid {
	border: none;
	box-shadow: none;
	color: #f00;
	margin: 0;
	padding: 0;
	width: 100%;
}

.DateTimeRangePicker-displayed {
	position: relative;
}

.Page .DateTimeRangePicker-input input[type='text'],
.Page .DateTimeRangePicker-displayed input[type='text'],
.Page .DateTimeRangePicker-input input[type='text'].Not_Valid,
.Page .DateTimeRangePicker-displayed input[type='text'].Not_Valid {
	font-size: $font-size-regular;
	line-height: 20px;
	padding-right: 23px;
	width: 180px;

	&::placeholder {
		color: $regular-gray;
		font-size: 0.9rem;
	}
}

.isTouch .DateTimeRangePicker-input input[type='text'] {
	width: 230px;
}

.AR .DateTimeRangePicker-input input[type='text'],
.AR .DateTimeRangePicker-displayed input[type='text'] {
	padding-left: 25px;
	padding-right: 10px;
}

.DateTimeRangePicker.onlyDate .DateTimeRangePicker-input input[type='text'] {
	width: 130px;
}

.isTouch .DateTimeRangePicker.onlyDate .DateTimeRangePicker-input input[type='text'] {
	width: 165px;
}

// .tablet .DateTimeRangePicker.onlyDate .DateTimeRangePicker-input input[type='text'] {
//   padding: 5px;
//   width: 105px;
// }

.DateTimeRangePicker-input:before,
.DateTimeRangePicker:not(.textTrigger) .DateTimeRangePicker-displayed:before {
	color: $DateTimeRangePicker-color-active;
	content: '\e60b';
	font-family: $font-family-icons;
	position: absolute;
	right: 9px;
	top: 50%;
	transform: translateY(-50%);
}

.AR .DateTimeRangePicker-input:before,
.AR .DateTimeRangePicker:not(.textTrigger) .DateTimeRangePicker-displayed:before {
	left: 9px;
	right: auto;
}

.DateTimeRangePicker-hidden input[type='text'] {
	border: none !important;
	height: 15px !important;
	padding: 0 !important;
	width: 0 !important;
}

.DateTimeRangePicker.attachedInput.textTrigger .DateTimeRangePicker-displayed input[type='text'] {
	display: none;
}

.DateTimeRangePicker.textTrigger .DateTimeRangePicker-placeholder input[type='text'] {
	visibility: visible;
}

.DateTimeRangePicker-label {
	color: $regular-beta;
	cursor: pointer;
	font-family: $font-family-latin-bold;
	font-size: inherit;
	font-weight: 400;
	vertical-align: baseline;
}

.DateTimeRangePicker-clear {
	color: $regular-beta;
	cursor: pointer;
	font-family: $font-family-icons;
	font-size: inherit;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 36px;
	position: absolute;
	right: -20px;
	speak: none;
	text-transform: none;
	top: 50%;
	transform: translateY(-50%);
}

.AR .DateTimeRangePicker-clear {
	left: -20px;
	right: auto;
}

.DateTimeRangePicker.textTrigger {
	vertical-align: baseline;
}

.DateTimeRangePicker.textTrigger .DateTimeRangePicker-clear {
	line-height: unset;
}

.AR .DateTimeRangePicker-clear {
	margin-left: 0;
	margin-right: 10px;
}

.DateTimeRangePicker-clear.disabled {
	color: $sapphire-color-disabled-text;
	cursor: auto;
	display: none;
}

.DateTimeRangePicker-clear:before {
	content: '\e604';
	display: inline-block;
	transform: rotateZ(45deg);
}

.DateTimeRangePicker-calendar-clear {
	color: $DateTimeRangePicker-color-active;
	cursor: pointer;
	display: block;
	font-family: $font-family-icons;
	font-size: $font-size-heading3;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	position: absolute;
	right: 10px;
	speak: none;
	text-transform: none;
	top: 10px;
}

.DateTimeRangePicker-calendar-clear:before {
	content: '\e604';
	display: inline-block;
	transform: rotateZ(45deg);
}

.DateTimeRangePicker-calendar-clear.disabled {
	color: $sapphire-color-disabled-text;
	cursor: auto;
	display: none;
}

.DateTimeRangePicker-calendar-gotoday {
	color: $DateTimeRangePicker-color-active;
	font-weight: 700;
	text-align: center;
}

.DateTimeRangePicker-calendar-gotoday:hover {
	background-color: $DateTimeRangePicker-color-hover;
}

.DateTimeRangePicker-displayed input[type] {
	width: 100%;
}
