.LayoutBase {
	.select2-container--default {
		.select2-selection--single,
		.select2-selection--multiple,
		.select2-selection--multiple.tagCustom {
			border: 1px solid color(light-grey);
			font-family: 'LatoBold';
		}
		.select2-selection--single {
			height: 36px;
			line-height: 18px;
			padding: 2px 10px;
		}
		.MultipleSelect {
			&.select2-selection--multiple {
				.select2-selection__rendered {
					padding: 0 10px;
					> li:nth-child(n + 2) {
						display: none;
					}
				}
			}
		}

		.select2-selection--multiple {
			//border: 1px solid color(regular-red);
			border-radius: 2px;
			font-family: 'LatoBold';
			min-height: 36px !important;

			&.tagCustom {
				align-items: center;
				border-radius: 18px;
				display: flex;
				input {
					border: none;
					display: inline;
					margin: 0;
					max-height: 31px;
					&:hover {
						background-color: transparent;
					}
				}
				&:before {
					color: color(sapphire-dark-grey);
					content: '\e690';
					font-family: 'Sapphire-Icon-Font';
					font-size: 16px;
					font-style: normal;
					font-variant: normal;
					font-weight: normal;
					line-height: 20px;
					padding-right: 10px;
					pointer-events: none;
					position: absolute;
					text-transform: none;
					top: 8px;
					-webkit-transform: rotateY(180deg);
					transform: rotateY(180deg);
					z-index: 1;
				}
				.select2-selection__rendered {
					box-sizing: border-box;
					display: inline-block;
					line-height: 1.43;
					list-style: none;
					margin: 0;
					max-width: 90%;
					overflow: hidden;
					padding: 0;
					padding-bottom: 2px;
					padding-left: 40px;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 100%;
				}
				.select2-selection__choice__remove {
					color: color(dark-grey);
					cursor: pointer;
					display: inline-block;
					font-size: 22px;
					font-weight: bold;
					line-height: 22px;
					margin: 0;
					padding: 0;
					position: absolute;
					right: 5px;
					top: 0;
					vertical-align: middle;
				}

				.select2-results__option {
					font-weight: 'LatoBold';
				}
				.select2-results__option[aria-selected='true'] {
					background-color: color(regular-eta);
					color: color(dark-grey);
				}
			}

			&.tagCustom,
			&.tagSystem,
			&.MultipleSelect,
			&.Select2Ajax.Multiple {
				.select2-selection__choice {
					background-color: color(regular-zeta);
					border-radius: 0;
					cursor: default;
					display: inline-block;
					font-family: 'LatoBold';
					margin-top: 4px;
					padding: 2px 0px;
					padding-left: 15px;
					padding-right: 25px;
					position: relative;

					> div {
						max-width: 350px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}

				.select2-selection__choice__remove {
					color: color(dark-grey);
					cursor: pointer;
					display: inline-block;
					font-size: 22px;
					font-weight: bold;
					line-height: 22px;
					margin: 0;
					padding: 0;
					position: absolute;
					right: 5px;
					top: 0;
					vertical-align: middle;
				}

				.select2-selection__clear {
					font-size: 22px;
				}
				.select2-selection__arrow {
					height: 26px;
					position: absolute;
					right: 4px;
					top: 1px;
					width: 20px;
				}

				&:after {
					@include upDownArrows;
				}
			}

			&.MultipleSelect {
				.select2-selection__choice {
					&:first-child {
						background-color: transparent;
						border: none;
						display: block;

						.select2-selection__choice__remove {
							display: none;
						}
					}
				}
			}

			.select2-selection__rendered {
				padding-right: 36px;
			}
		}

		.select2-search--inline {
			.select2-search__field {
				display: none;
			}
		}
		.select2-container--default
			.select2-selection--multiple.MultipleSelect
			.select2-selection__choice {
			display: none;
		}

		.select2-container--open.select2-container--below {
			.select2-selection--single,
			.select2-selection--multiple {
				background-color: #fff !important;
			}
		}

		.select2-search--dropdow {
			border: 1px solid color(light-grey);
			padding: 0;
			.select2-search__field {
				background-color: color(sapphire-white) !important;
				border: none !important;
				box-shadow: none !important;
			}
		}

		.select2-search.select2-search--dropdown {
			.select2-search__field {
				background-color: color(sapphire-white);
				border: none;
			}
			&:after {
				color: color(regular-grey);
				content: '\e690';
				font-family: 'Sapphire-Icon-Font';
				font-size: 18px;
				position: absolute;
				right: 10px;
				top: 6px;
			}
		}
	}
}

.select2-results {
	.select2-results__options {
		.select2-results__option {
			&[aria-selected='true'],
			&.select2-results__option--highlighted[aria-selected] {
				background-color: color(regular-eta);
				color: color(dark-grey);
			}
		}
	}
	li {
		border-bottom: 1px solid #ccc;
	}
}

.tagSystem .select2-search--dropdown {
	display: none;
}

.select2-dropdown {
	&.MultipleSelect {
		.select2-results__option {
			&:before {
				background-color: color(sapphire-white);
				border: 1px solid color(light-grey);
				border-radius: 4px;
				content: '';
				display: inline-block;
				height: 22px;
				margin-right: 20px;
				position: relative;
				vertical-align: middle;
				width: 22px;
			}
			&[aria-selected='true'] {
				background-color: color(regular-eta);

				&:before {
					background-color: color(regular-eta);
					color: color(dark-grey);
					content: '\f00c';
					display: inline-block;
					font-family: FontAwesome;
					height: 20px;
					padding-left: 4px;
					padding-right: 2px;
					padding-top: 2px;
					width: 16px;
				}
			}
		}

		.select2-results__option--highlighted[aria-selected] {
			background-color: color(regular-eta);
			color: color(dark-grey);
		}
	}
}

.select2.select2-container.select2-container--default .select2-search input {
	width: auto !important;
}

.select2-container .tagCustom .select2-search--inline > input {
	display: inline-block;
	font-size: 14px;
	margin-top: 8px;
}
/*********** RTL *************/

.ExpandableLinkWrapper_Header > div {
	min-height: auto !important;
}

.select2-selection.select2-selection--multiple.MultipleSelect
	.select2-search--inline {
	display: none;
}

.AR
	.select2-container--default
	.select2-selection--multiple.tagSystem
	.select2-selection__choice,
.AR
	.select2-container--default
	.select2-selection--multiple.MultipleSelect
	.select2-selection__choice,
.AR
	.select2-container--default
	.select2-selection--multiple.Select2Ajax.Multiple
	.select2-selection__choice,
.FA
	.select2-container--default
	.select2-selection--multiple.tagSystem
	.select2-selection__choice,
.FA
	.select2-container--default
	.select2-selection--multiple.MultipleSelect
	.select2-selection__choice,
.FA
	.select2-container--default
	.select2-selection--multiple.Select2Ajax.Multiple
	.select2-selection__choice,
.AR
	.select2-container--default
	.select2-selection--multiple.tagSystem
	.select2-selection__placeholder,
.FA
	.select2-container--default
	.select2-selection--multiple.tagSystem
	.select2-selection__placeholder,
.AR
	.select2-container--default
	.select2-selection--multiple.Select2Ajax.Multiple
	.select2-selection__placeholder,
.FA
	.select2-container--default
	.select2-selection--multiple.Select2Ajax.Multiple
	.select2-selection__placeholder,
.AR
	.select2-container--default
	.select2-selection--multiple.MultipleSelect
	.select2-selection__placeholder,
.FA
	.select2-container--default
	.select2-selection--multiple.MultipleSelect
	.select2-selection__placeholder,
.FA .select2-container--default .select2-selection--multiple.tagSystem,
.FA .select2-container--default .select2-selection--multiple.MultipleSelect,
.FA
	.select2-container--default
	.select2-selection--multiple.Select2Ajax.Multiple,
.AR .select2-container--default .select2-selection--multiple.tagSystem,
.AR .select2-container--default .select2-selection--multiple.MultipleSelect,
.AR
	.select2-container--default
	.select2-selection--multiple.Select2Ajax.Multiple {
	transform: scalex(-1);
}

.AR
	.select2-selection.select2-selection--single.customSelect
	.select2-selection__rendered,
.FA
	.select2-selection.select2-selection--single.customSelect
	.select2-selection__rendered {
	width: 100%;
}

.AR .select2-dropdown.MultipleSelect .select2-results__option:before,
.FA .select2-dropdown.MultipleSelect .select2-results__option:before {
	margin-left: 20px;
	margin-right: auto;
}

.AR
	.select2-dropdown.MultipleSelect
	.select2-results__option[aria-selected='true']:before,
.FA
	.select2-dropdown.MultipleSelect
	.select2-results__option[aria-selected='true']:before {
	padding-left: 2px;
	padding-right: 5px;
	padding-top: 2px;
	width: 16px;
}

.AR
	.select2-container--default
	.select2-selection--multiple.tagSystem
	.select2-selection__choice,
.AR
	.select2-container--default
	.select2-selection--multiple.MultipleSelect
	.select2-selection__choice,
.AR
	.select2-container--default
	.select2-selection--multiple.Select2Ajax.Multiple
	.select2-selection__choice,
.FA
	.select2-container--default
	.select2-selection--multiple.tagSystem
	.select2-selection__choice,
.FA
	.select2-container--default
	.select2-selection--multiple.MultipleSelect
	.select2-selection__choice,
.FA
	.select2-container--default
	.select2-selection--multiple.Select2Ajax.Multiple
	.select2-selection__choice {
	padding-left: 25px;
	padding-right: 0px;
}

.AR
	.select2-container--default
	.select2-selection--multiple.tagSystem
	.select2-selection__choice__remove,
.AR
	.select2-container--default
	.select2-selection--multiple.MultipleSelect
	.select2-selection__choice__remove,
.AR
	.select2-container--default
	.select2-selection--multiple.Select2Ajax.Multiple
	.select2-selection__choice__remove,
.FA
	.select2-container--default
	.select2-selection--multiple.tagSystem
	.select2-selection__choice__remove,
.FA
	.select2-container--default
	.select2-selection--multiple.MultipleSelect
	.select2-selection__choice__remove,
.FA
	.select2-container--default
	.select2-selection--multiple.Select2Ajax.Multiple
	.select2-selection__choice__remove {
	left: 5px;
	right: auto;
}

.AR .select2-search--dropdown input[type='search'].select2-search__field,
.FA .select2-search--dropdown input[type='search'].select2-search__field {
	padding-right: 40px;
}

.fontSelect2Title {
	font-weight: 400;
}

.select2-container .select2-selection--multiple {
	min-height: 36px !important;
}

.Mandatory + .select2.select2-container .select2-selection--single,
.Mandatory + .select2.select2-container .select2-selection--single.customSelect,
.select2.select2-container .select2-selection--single.customSelect {
	border-left: 3px solid color(regular-alpha);
}

// .Page .Mandatory + .select2.select2-container .select2-selection--single,
// .Page .select2.select2-container .select2-selection--single {
// 	border-bottom: 1px solid #b1b5b6;
// 	border-right: 1px solid #b1b5b6;
// 	border-top: 1px solid #b1b5b6;
// }

.Page .Mandatory + .select2.select2-container .select2-selection--single,
.Page
	.Mandatory
	+ .select2.select2-container
	.select2-selection--single.customSelect,
.Page .select2.select2-container .select2-selection--single.customSelect,
.Page
	.select2-container--default.select2-container--open.select2-container--below
	.select2-selection--single,
.Page
	.select2-container--default.select2-container--open.select2-container--below
	.select2-selection--multiple {
	box-shadow: none;
}
