.ButtonClick {
	&.click {
		> a,
		> div,
		> span {
			background-color: $regular-eta;
			border: 1px solid $regular-beta;
		}
	}

	> a,
	> div,
	> span {
		background-color: $regular-white;
		border: 1px solid $light-grey;
		border-radius: $border-radius-default;
		color: $regular-beta;
		cursor: pointer;
		font-size: 1.143em;
		padding: 15px 30px;
		text-align: center;
		transition: all 0.1s ease-in-out;
		vertical-align: middle;
		width: 100%;

		&:hover {
			background-color: $regular-eta;
			border: 1px solid $regular-alpha;
		}

		&:focus {
			border: 1px solid $regular-alpha;
		}

		.icon {
			font-size: 1.429em;
		}
	}
}
