.ButtonCheckboxInp {
	height: 34px;
	margin-right: 6px;
	padding: 0;
	position: relative;

	&.isFullWidth {
		display: block;

		> .ButtonCheckboxInput_CheckBox ~ label {
			display: inline-block;
			width: 100%;
		}
	}

	&.active {
		.MultipleSelectionButton-label {
			&,
			&:hover {
				background-color: $regular-alpha;
				border: 1px solid $regular-alpha;
				border-radius: 4px;
				color: $regular-white;

				+ .ButtonCheckboxInput_CheckBox input[type='checkbox'] {
					&::after {
						border-color: $regular-alpha;
						left: 5px;
						top: 6px;
					}

					&::before {
						background-color: $regular-white;
						border: 1px solid $regular-alpha;
					}
				}
			}
		}
	}

	&.disabled {
		.MultipleSelectionButton-label {
			border-color: $sapphire-color-disabled-border;
			color: $sapphire-color-disabled-text;
			cursor: default;
			pointer-events: none;
			white-space: nowrap;
		}
	}

	.ButtonCheckboxInput_CheckBox {
		left: 8px;
		position: absolute;
		top: 6px;

		input[type='checkbox'] {
			margin: 0;
			transition: all 0.1s ease-in-out;
			width: 20px;
		}
	}

	.MultipleSelectionButton-label {
		background-color: $regular-white;
		border: 1px solid $light-grey;
		border-radius: 4px;
		cursor: pointer;
		display: block;
		font-size: 1em;
		padding: 6px 10px 6px 35px;
		transition: all 0.1s ease-in-out;

		&:hover {
			background-color: $regular-eta;
			border: 1px solid $regular-alpha;

			+ .ButtonCheckboxInput_CheckBox input[type='checkbox']::before {
				border: 1px solid $regular-alpha;
			}
		}
	}
}
