.ButtonCheckboxInp {
	margin-right: $sapphire-sizes--small;
	padding: 0;
	position: relative;

	&.isFullWidth {
		display: block;

		> .ButtonCheckboxInput_CheckBox ~ label {
			display: inline-block;
			width: 100%;
		}
	}

	&.active {
		.MultipleSelectionButton-label {
			&,
			&:hover {
				background-color: $regular-alpha;
				border: 1px solid $regular-alpha;
				color: $regular-white;

				+ .ButtonCheckboxInput_CheckBox input[type='checkbox'] {
					&::after {
						border-color: $regular-alpha;
						left: 3px;
						top: 4px;
					}

					&::before {
						background-color: $regular-white;
						border: 1px solid $regular-alpha;
					}
				}
			}
		}
	}

	&.disabled {
		.MultipleSelectionButton-label {
			border-color: $border-color-disabled;
			color: $light-grey;
			cursor: default;
			pointer-events: none;
			white-space: nowrap;
		}
	}

	.ButtonCheckboxInput_CheckBox {
		left: 6px;
		position: absolute;
		top: 7px;

		input[type='checkbox'] {
			margin: 0;
			transition: all 0.1s ease-in-out;
		}
	}

	.MultipleSelectionButton-label {
		background-color: $regular-white;
		border: 1px solid $light-grey;
		border-radius: $border-radius-default;
		cursor: pointer;
		display: block;
		font-size: 1em;
		height: 36px;
		line-height: 36px;
		padding: 0 10px 0 32px;
		transition: all 0.1s ease-in-out;

		&:hover {
			background-color: $regular-eta;
			border: 1px solid $regular-alpha;

			+ .ButtonCheckboxInput_CheckBox input[type='checkbox']::before {
				border: 1px solid $regular-alpha;
			}
		}
	}
}

.MultipleSelectionFilter,
.MultipleSelectionFilterSmall {
	.ButtonCheckboxInp .MultipleSelectionButton-label {
		border-radius: 80px;
	}
}

.MultipleSelectionFilterSmall {
	.ButtonCheckboxInp .MultipleSelectionButton-label {
		height: 30px;
		line-height: 30px;
	}

	.ButtonCheckboxInp .ButtonCheckboxInput_CheckBox {
		top: 4px;
	}
}

.AR,
.FA {
	.ButtonCheckboxInp {
		.ButtonCheckboxInput_CheckBox {
			left: auto;
			right: 6px;
		}

		.MultipleSelectionButton-label {
			padding: 0 32px 0 10px;
		}
	}
}
