$table-form-header-height-edit: 43px;

.TableForm {
	@include component-scroll-root;

	display: flex;
	max-width: 100%;
	overflow: auto;
	padding-bottom: $sapphire-sizes--small;
	padding-top: $table-form-header-height-edit;

	&__Properties {
		display: inline-flex;
		flex-direction: column;
		left: 0;
		position: sticky;
		vertical-align: middle;
		z-index: 1;

		> .ListRecords {
			display: contents;
		}

		> div + .ListRecords > div {
			&:first-child {
				border-radius: 0;
			}
		}

		> div,
		> .ListRecords > div {
			@include flex-center-vertically(inline-flex);

			background-color: $sapphire-light;
			border-left: 1px solid $light-grey;
			border-right: 1px solid $light-grey;
			border-top: 1px solid $light-grey;
			height: $sapphire-sizes--xxlarge;
			padding: 0 $sapphire-sizes--medium;
			white-space: nowrap;
			width: 223px;

			&:first-child {
				border-top-left-radius: $border-radius-medium;
			}

			&:last-child {
				border-bottom: 1px solid $light-grey;
				border-bottom-left-radius: $border-radius-medium;
			}

			.AR & {
				&:first-child {
					border-top-left-radius: 0;
					border-top-right-radius: $border-radius-medium;
				}

				&:last-child {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: $border-radius-medium;
				}
			}
		}

		.AR & {
			left: unset;
		}
	}

	&__Columns {
		&,
		> span {
			display: inline-flex;
			flex-direction: row;
		}

		> .TableFormColumn:last-child,
		> .ListRecords > .TableFormColumn:last-child {
			.TableFormColumn__Header {
				border-top-right-radius: $border-radius-medium;

				.AR & {
					border-left: 1px solid $light-grey;
					border-top-left-radius: $border-radius-medium;
					border-top-right-radius: 0;
				}
			}

			.TableFormColumn__Fields {
				border-right: none;

				> div,
				> .ListRecords > div {
					border-right: 1px solid $light-grey;

					.AR & {
						border-left: 1px solid $light-grey;
					}
				}

				> div:last-child,
				> .ListRecords > div:last-child {
					border-bottom-right-radius: $border-radius-medium;

					.AR & {
						border-bottom-left-radius: $border-radius-medium;
						border-bottom-right-radius: 0;
					}
				}
			}
		}
	}
}

.TableFormColumn {
	&--editMode {
		@include shadow-small;

		background-color: $regular-white;
		border-radius: $border-radius-medium;
		margin-top: -$table-form-header-height-edit;
		overflow: hidden;

		.TableFormColumn__Header {
			min-height: 40px;
			padding: $sapphire-sizes--small;
		}

		.TableFormColumn__Actions {
			border-bottom: 1px solid $light-grey;
			display: block;
			padding: $sapphire-sizes--small;
			width: 100%;
		}

		.pickerPositionDateTime {
			position: static;
		}
	}

	&--disabled {
		.TableFormColumn__Header,
		.TableFormColumn__Fields > div {
			background-color: $body-color;
			pointer-events: none;
		}
	}

	&__TextTag {
		color: $regular-grey;
		display: block;
		font-family: $font-family-latin-bold;
		font-size: 10px;
		min-height: 15px;

		.AR & {
			font-family: $font-family-arabic-bold;
		}
	}

	&__Header {
		@include flex-center-vertically();

		background-color: $white-grey;
		border-right: 1px solid $light-grey;
		border-top: 1px solid $light-grey;
		gap: $sapphire-sizes--small;
		justify-content: space-between;
		min-height: 52px;
		padding: $sapphire-sizes--small $sapphire-sizes--medium;
	}

	&__Title {
		flex: 1;
	}

	&__Fields {
		border-right: 1px solid $light-grey;

		> div,
		> .ListRecords > div {
			@include flex-center-vertically();

			background-color: $regular-white;
			border-top: 1px solid $light-grey;
			height: $sapphire-sizes--xxlarge;
			overflow: hidden;
			padding: 0 $sapphire-sizes--medium;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 200px;

			&:last-child {
				border-bottom: 1px solid $light-grey;
			}
		}
	}

	&__Actions {
		display: none;
	}

	&__FakeItem {
		@include flex-center-vertically();

		border-bottom: 1px solid $light-grey;
		height: $sapphire-sizes--xxlarge;
		margin-bottom: $sapphire-sizes--small;
		margin-left: -$sapphire-sizes--small;
		margin-right: -$sapphire-sizes--small;
		margin-top: -$sapphire-sizes--small;
		padding: 0 $sapphire-sizes--small;
	}

	&__EmptyItem {
		background-color: $white-grey !important;
	}

	.Button {
		margin: 0;
	}

	input {
		padding: 0 $sapphire-sizes--small;
	}

	input,
	.DateTimeRangePicker,
	.DateTimeRangePicker-input {
		width: 100%;
	}
}

.VitalSignsTable {
	.TableFormColumn--editMode {
		margin-top: -23px;

		.TableFormColumn__Fields > div,
		.TableFormColumn__Fields > .ListRecords > div {
			overflow: unset;
			padding: 0 $sapphire-sizes--small;
			width: 226px;

			.ValidationMessageContainer .ValidationMessage,
			.ValidationMessageContainer span.ValidationMessage {
				font-size: 11px;
				margin-top: 0;
				text-align: center;
				width: 100%;
			}
		}
	}
}
