.DropdownMenu {
	@include shadow-small;

	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: 2px;
	display: none;
	left: 0;
	min-width: 150px;
	position: absolute;
	text-align: left;
	z-index: 2;

	.open & {
		display: block;
	}

	.PH > a {
		color: $sapphire-color-text-regular;
		display: block;
		font-family: $font-family-latin-regular;
		line-height: 32px;
		padding: 0 10px;
		white-space: nowrap;

		&:hover {
			background-color: $regular-eta;
			color: $dark-grey;
		}
	}

	.PH > span a {
		display: block;
		line-height: 32px;
		padding-left: 10px;
		padding-right: 10px;
		white-space: nowrap;
	}
}

.FA .DropdownMenu,
.AR .DropdownMenu {
	left: auto;
	right: 0;
}
