.ButtonGroupScale {
	padding: 12px 20px;
}
.ButtonGroupScale:first-child {
	border-left: 1px solid #c1dee1;
}
.ButtonGroupScale {
	border-right: 1px solid #c1dee1;
}

.AR .ButtonGroupScale:first-child,
.FA .ButtonGroupScale:first-child {
	border-left: 0;
}

.AR .ButtonGroupScale:first-child,
.FA .ButtonGroupScale:first-child {
	border-left: 1px solid #c1dee1;
}
