.ButtonGroupScale {
	border-right: 1px solid $light-grey;
	padding: 12px 20px;

	&:first-child {
		border-left: 1px solid $light-grey;
	}
}

.AR,
.FA {
	.ButtonGroupScale {
		&:first-child {
			border-left: 0;
			border-left: 1px solid $light-grey;
		}
	}
}
