.ScaleMainStructure {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-bottom: 20px;
	padding-right: 10px;

	&_totalScore {
		display: inline-block;
		line-height: 1.4;
		margin-left: 5px;
	}

	&_hiddingLink {
		display: none;
	}

	&_options {
		margin-bottom: 20px;
		text-align: center;

		.ToggleItemControl {
			width: fit-content;

			&.disabled {
				pointer-events: none;
			}

			&:last-child {
				margin-right: 0px;
			}
		}
	}

	&_menu {
		&:empty + .ScaleMainStructure_options:empty {
			margin-bottom: 0;
		}
	}

	&_content {
		@include component-scroll-root();

		height: 65%;
	}

	&_footer {
		align-items: center;
		background-color: $regular-white;
		border-top: 1px solid $light-grey;
		bottom: 0;
		display: flex;
		flex-shrink: 0;
		justify-content: space-between;
		left: 0;
		margin-top: 10px;
		padding-bottom: 10px;
		padding-top: 10px;
		position: relative;
		width: 100%;
	}

	&_footerResult {
		span.TotalLabel.Heading2 {
			display: inline-block;
		}
	}
}
