.ToggleItemControl {
	cursor: pointer;
	margin: 10px 2px;
	position: relative;

	&.active {
		.ToggleItemControl_label {
			background: none;
			background-color: $regular-eta;
			border: 1px solid $regular-alpha;
			border-radius: 4px;
		}
	}

	&_radio {
		input[type='radio'] {
			height: 16px;
			left: 6px;
			position: absolute;
			top: 14px;
			width: 16px;
		}
	}
	&_label {
		border: 1px solid $light-grey;
		border-radius: 4px;
		color: $dark-grey;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		line-height: 2.7rem;
		padding: 0 10px 0 30px;
		text-align: center;
		width: 100%;

		&:hover {
			background: none;
			background-color: $regular-eta;
			border: 1px solid $regular-alpha;
			border-radius: 4px;
		}
	}
}
