.IconDropdown {
	cursor: pointer;
	position: relative;
	width: fit-content;

	&.open {
		.IconDropdown {
			&_button.Button {
				background-color: $regular-eta;
				border: 1px solid $regular-alpha;

				.IconDown span {
					transform: rotate(180deg);
				}
			}
		}
	}

	&_button.Button {
		@include flex-center-vertically;

		background-color: $regular-white;
		border: 1px solid $light-grey;
		height: 36px;
		margin-left: 0;
		min-width: 35px;
		padding: 0 0 0 10px;

		&:hover {
			background-color: $regular-eta;
		}

		> span.fa {
			color: $sapphire-color-text-regular;
			font-size: 1.143em;
		}

		.IconDown {
			@include flex-center-total;

			border-left: 1px solid $light-grey;
			color: $regular-alpha;
			height: 100%;
			margin-left: 10px;
			width: 28px;

			span {
				transition: all 500ms ease;
			}
		}
	}
}

.AR,
.FA {
	.IconDropdown {
		&_button.Button {
			margin: 0;
			padding-left: 0;
			padding-right: 10px;

			.IconDown {
				border-left: none;
				border-right: 1px solid $light-grey;
				margin-left: 0;
				margin-right: 10px;
			}
		}
	}
}
