.Page .Appointment_Icon {
	border-radius: 50%;
	height: $sapphire-sizes--medium;
	line-height: $sapphire-sizes--medium;
	min-width: $sapphire-sizes--medium;
	width: $sapphire-sizes--medium;

	&.circleSuccess {
		background-color: $regular-alpha;
		border-color: $regular-alpha;
		color: $regular-white;
		height: 18px;
		line-height: 15px;
		text-align: left;
		width: 18px;

		&:before {
			content: '\e64d';
			font-family: $font-family-icons;
		}
	}

	&.redCircle {
		border-color: $regular-red;
	}

	&.blueCircle {
		border: 2px solid $regular-blue;
	}

	&.greenCircle {
		border: 2px solid $light-green;
	}

	&.nopresence {
		border: none;
		color: $light-grey;
	}

	&.nopresence:before {
		content: '\e699';
		font-family: $font-family-icons;
		font-size: $font-size-heading4;
	}
}

.FA,
.AR {
	.StatusContainer {
		.Appointment_Icon {
			margin-left: 10px;
			&.circleSuccess {
				text-align: right;
			}
		}
	}
}
