.SmallContainer {
	@include flex-center-vertically;

	background-color: $regular-white;
	border: 1px solid $light-grey;
	border-radius: $border-radius-medium;
	height: 75px;
	padding: $sapphire-sizes--medium;
	position: relative;

	&.BackgroundNotPlanned {
		background-color: $light-beige;
	}

	.MultiArrowRight {
		left: 100%;
		overflow: hidden;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 10px;

		.SmallContainer_arrow {
			background-color: $regular-white;
			border: 1px solid $light-grey;
			display: block;
			height: 20px;
			left: -13px;
			position: relative;
			transform: rotate(45deg);
			width: 19px;

			&.ArrowNotPlanned {
				background-color: $light-beige;
			}
		}
	}

	.NoPlannedContainer {
		background: $regular-white;
		border: 1px solid $light-grey;
		border-radius: $border-radius-default;
		margin-left: $sapphire-sizes--medium;
		padding: 0 1px;
		position: absolute;
		right: $sapphire-sizes--medium;
		top: 50%;
		transform: translateY(-50%);
	}

	.icon-doctor {
		color: $mid-dark-grey;
	}

	.CardAll {
		display: flex;

		> span.verticalAlignHelper.Middle {
			display: none;
		}
	}
}

.AR,
.FA {
	.SmallContainer {
		.MultiArrowRight {
			left: auto;
			right: 100%;

			.SmallContainer_arrow {
				left: auto;
				right: -13px;
			}
		}

		.NoPlannedContainer {
			left: $sapphire-sizes--medium;
			margin-left: 0;
			margin-right: $sapphire-sizes--medium;
			right: auto;
		}
	}
}

.tablet .SmallContainer {
	width: 100%;
}

.desktop.small .Icon_CardAll {
	display: none;
}
