$sapphire__font__file-path: '/Sapphirev2_Th/fonts/';

$sapphire__font__face--regular: 'globeregular';
$sapphire__font__face--bold: 'globerbold';

$sapphire__font__size--regular: 12px;
$sapphire__font__size--touch: 18px;