.LayoutPopup {
  width: 100%;
}

body .Page.tablet .MainPopup,
body .Page.desktop .MainPopup {
  min-width: auto;
  padding: 0;
}

.LayoutPopup__body {
  display: flex;
}

.LayoutPopup__header {
  display: block;
  padding: 20px 20px 10px 20px;
}

.LayoutPopup__header__text {
  color: #11455d;
  width: 100%;
}

.LayoutPopup__header__text__title {
  margin-bottom: 5px;
}

.LayoutPopup__header__text__subtitle {
  font-size: $font-size-heading3;
  line-height: 20px;
}

.LayoutPopup_wrapper {
  width: 100%;
}

.LayoutPopup__intro {
  padding: 10px 20px;
}

.LayoutPopup__body {
  display: flex;
  padding: 20px 20px;
}

.LayoutPopup.SmallPopup .LayoutPopup__body__sidebar {
  display: none;
}

.LayoutPopup__body__sidebar {
  padding-right: 20px;
  width: 270px;
}

.LayoutPopup__body__content {
  overflow-y: scroll;
  /*CountyPhone*/
  width: 100%;
}

.LayoutPopup__body__content::-webkit-scrollbar {
  box-sizing: border-box;
  height: 7px;
  width: 7px;
}

.LayoutPopup__body__content::-webkit-scrollbar-track {
  border-left: 3px solid $sapphire-white;
  border-right: 3px solid $sapphire-white;
}

.LayoutPopup__body__content::-webkit-scrollbar-thumb {
  border: 5px #6fcdca solid;
  border-radius: 9px !important;
}

.LayoutPopup__footer {
  padding: 10px 20px;
}

.LayoutPopup__body__content>.MinHeightSmall {
  min-height: 400px;
}

.LayoutPopup__body__content>.MinHeightMedium {
  min-height: 500px;
}

div.os-internal-Popup .os-internal-ui-dialog .os-internal-ui-dialog-titlebar,
div.os-internal-Popup.os-internal-ui-dialog .os-internal-ui-dialog-titlebar {
  height: 0 !important;
}