.LayoutPopup {
	width: 100%;

	&.SmallPopup {
		.LayoutPopup__body__sidebar {
			display: none;
		}
	}

	&-loading {
		@include absolute-center;

		color: $regular-grey;
		font-size: 0.857em;
		margin-top: -10px;
		width: 250px;
	}

	&__header {
		display: block;
		padding: $sapphire-sizes--xlarge $sapphire-sizes--xlarge 0 $sapphire-sizes--xlarge;

		&__text {
			width: 100%;
		}

		&__text__title {
			margin-bottom: $sapphire-sizes--small;
		}

		&__text__subtitle {
			font-size: $font-size-heading3;
			line-height: 20px;
		}
	}

	&__intro {
		padding: 10px $sapphire-sizes--xlarge;
	}

	&__body {
		display: flex;
		padding: $sapphire-sizes--xlarge 27px $sapphire-sizes--xlarge $sapphire-sizes--xlarge;

		&__sidebar {
			padding-right: 20px;
			width: 270px;
		}

		&__content {
			@include component-scroll-root;

			overflow-y: scroll;
			padding-right: 5px;
			width: 100%;

			> .MinHeightSmall {
				min-height: 420px;
			}

			> .MinHeightMedium {
				min-height: 500px;
			}
		}
	}

	&__footer {
		padding: 0 $sapphire-sizes--xlarge $sapphire-sizes--xlarge;
	}

	&_wrapper {
		width: 100%;
	}
}

.AR,
.FA {
	.LayoutPopup {
		&__body {
			padding: $sapphire-sizes--xlarge $sapphire-sizes--xlarge $sapphire-sizes--xlarge 27px;

			&__content {
				padding-left: 5px;
				padding-right: 0;
			}
		}
	}
}
