.LayoutEmergency {
	.SideMenu {
		&__PageTitle {
			display: block;
		}

		&__Tabs {
			.iframeContainer,
			> div :first-of-type {
				display: none;
			}
		}
	}
}

.CTTASLevelAssessmentMainContainer {
	border-bottom: 1px solid $light-grey;
	display: flex;

	.LevelsContainer {
		padding: $sapphire-sizes--small $sapphire-sizes--medium;
		width: 67%;

		.CTTASLevelsMainContainer {
			border-radius: 20px;
		}

		.CTTASLevelsMainContainer > span {
			border-radius: 20px;
			display: flex;
			height: 36px;
			width: 100%;

			.CTTASLevelContainer {
				@include flex-center-total(inline-flex);

				border-radius: 20px;
				cursor: pointer;
				flex: 1;
				font-family: $font-family-latin-bold;
				font-size: $font-size-heading3;

				.AR & {
					font-family: $font-family-arabic-bold;
				}
			}
		}
	}

	.ForwardableContainer {
		padding: $sapphire-sizes--small $sapphire-sizes--medium;
		width: 33%;

		.ForwardContainer {
			border: 1px solid $regular-alpha;
			border-radius: 20px;
			height: 36px;
			position: relative;
			width: 100%;

			.SingleLocation,
			.ForwardLocationsDiv {
				@include flex-center-vertically();

				color: $regular-beta;
				cursor: pointer;
				height: 36px;
				justify-content: space-between;
				padding: 0 $sapphire-sizes--medium;
				user-select: none;
			}

			.MultipleLocation {
				left: -2px;
				position: absolute;
				right: -2px;
				top: -2px;
				user-select: none;
				z-index: 1;
			}

			.LocationLabel {
				@include flex-center-vertically(inline-flex);

				font-family: $font-family-latin-bold;
				font-size: $font-size-heading4;

				.AR & {
					font-family: $font-family-arabic-bold;
				}
			}
		}

		.ForwardContainer_Content .Badge {
			border-radius: 5px;
			color: white;
			display: inline-block;
			font-size: 14px;
			font-weight: bold;
			line-height: 25px;
			padding: 0;
			text-align: center;
			vertical-align: middle;
			width: 25px;
		}
	}
}

//WIP
div.ForwardLocContainer {
	cursor: pointer;
}

div.ForwardLocContainer,
div.ForwardLocObservationContainer {
	background-color: #d6d8d9;
	border: 1px solid #bdc0c2;
	color: #414d55;
	display: table;
	font-size: 17px;
	font-weight: bold;
	padding: 10px;
	width: 100%;
}

div.ForwardLocContainer > div,
div.ForwardLocObservationContainer > div {
	font-family: globeregular;
	font-weight: 700;
}

div.ObservationRoomCounters {
	background-color: rgba(214, 216, 217, 0.5);
	border: 1px solid rgba(214, 216, 217, 0.5);
	border-radius: 0 0 5px 5px;
	font-size: 1.16rem;
	padding: 10px 20px;
}

.ObservationRoomCounters .bed-icon {
	color: #b1b5b6;
}

div.ForwardLocContainer {
	border-radius: 5px;
}

div.ForwardLocObservationContainer {
	border-radius: 5px 5px 0 0;
}

div.ForwardLocAction {
	display: table-cell;
	width: 99%;
}

div.ForwardAction {
	cursor: pointer;
	display: table-cell;
	text-align: center;
	width: 20px;
}

/**WBForwardOption**/

div.ForwardLocContainer,
div.ForwardLocObservationContainer {
	background-color: #d6d8d9;
	border: 1px solid #bdc0c2;
	color: #414d55;
	cursor: pointer;
	display: table;
	font-size: 17px;
	font-weight: bold;
	padding: 10px;
	width: 100%;
}

div.ForwardLocContainer > div,
div.ForwardLocObservationContainer > div {
	font-family: globeregular;
}

div.ObservationRoomCounters {
	background-color: rgba(214, 216, 217, 0.5);
	border: 1px solid rgba(214, 216, 217, 0.5);
	border-radius: 0 0 5px 5px;
	font-size: 1.16rem;
	padding: 10px 20px;
}

.ObservationRoomCounters .bed-icon {
	color: #b1b5b6;
}

div.ForwardLocContainer {
	border-radius: 5px;
}

div.ForwardLocObservationContainer {
	border-radius: 5px 5px 0 0;
}

div.ForwardLocAction {
	display: table-cell;
	width: 99%;
}

div.ForwardAction {
	cursor: pointer;
	display: table-cell;
	text-align: center;
	width: 20px;
}

div.ObservationCounter {
	background-color: #38444d;
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 25px;
}

/**WBPutOnHold**/

div.ForwardLocContainer {
	cursor: pointer;
}

div.ForwardLocContainer,
div.ForwardLocObservationContainer {
	background-color: #d6d8d9;
	border: 1px solid #bdc0c2;
	color: #414d55;
	display: table;
	font-size: 17px;
	font-weight: bold;
	padding: 10px;
	width: 100%;
}

div.ForwardLocContainer > div,
div.ForwardLocObservationContainer > div {
	font-family: globeregular;
}

div.ObservationRoomCounters {
	background-color: rgba(214, 216, 217, 0.5);
	border: 1px solid rgba(214, 216, 217, 0.5);
	border-radius: 0 0 5px 5px;
	font-size: 1.16rem;
	padding: 10px 20px;
}

.ObservationRoomCounters .bed-icon {
	color: #b1b5b6;
}

div.ForwardLocContainer {
	border-radius: 5px;
}

div.ForwardLocObservationContainer {
	border-radius: 5px 5px 0 0;
}

div.ForwardLocAction {
	display: table-cell;
	width: 99%;
}

div.ForwardAction {
	cursor: pointer;
	display: table-cell;
	text-align: center;
	width: 20px;
}

.LocationSelectorAction {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.LocationSelectorAction a.ButtonForward {
	max-width: 215px;
	min-width: 215px;
	text-align: left;
}

.ForwardLocationsDiv {
	cursor: pointer;
	display: table;
	margin: 0;
	width: 100%;
}

.ForwardPadding {
	overflow-y: auto;
	padding: 20px 45px;
}

.ForwardSplitter {
	border: 1px solid #e9ebeb;
	height: 0;
	margin: 20px 0;
}

a.SpecialityButtonForward {
	text-align: left;
	width: 100%;
}

.CursorPointer {
	cursor: pointer;
}

.CursorPointer.rotate90 span.icon.icon-fw.icon-expandarrow:before {
	display: inline-block;
	text-align: center;
	transform: rotate(-90deg);
	vertical-align: middle;
}

.ListRecords.table-container {
	width: 100%;
}

.ListRecords.table-container > .SegmentedControlItem.table-cell {
	display: table-cell;
}

.flex-block {
	display: inline-flex;
}

.speciality-fwd {
	color: #5d6b74;
}

.ForwardOtherOption {
	border-top: 2px solid #c9cdce;
	display: table;
	margin-top: 20px;
	width: 100%;
}
