/* MARGINS AND PADDINGS AR AND FA*/


/** MultiMarginXXSmall **/

.MultiMarginXXSmall {
    margin: 3px;
}

.MultiMarginLeftXXSmall {
    margin-left: 3px;
}

.MultiMarginRightXXSmall {
    margin-right: 3px;
}

.MultiMarginTopXXSmall {
    margin-top: 3px;
}

.MultiMarginBottomXXSmall {
    margin-bottom: 3px;
}



/** MultiMarginXSmall **/

.MultiMarginXSmall {
    margin: 6px;
}

.MultiMarginLeftXSmall {
    margin-left: 6px;
}

.MultiMarginRightXSmall {
    margin-right: 6px;
}

.MultiMarginTopXSmall {
    margin-top: 6px;
}

.MultiMarginBottomXSmall {
    margin-bottom: 6px;
}


/** MultiMarginSmall **/

.MultiMarginSmall {
    margin: 10px;
}

.MultiMarginLeftSmall {
    margin-left: 10px;
}

.MultiMarginRightSmall {
    margin-right: 10px;
}

.MultiMarginTopSmall {
    margin-top: 10px;
}

.MultiMarginBottomSmall {
    margin-bottom: 10px;
}




.MultiMarginLarge {
    margin: 26px;
}

.MultiMarginLeftLarge {
    margin-left: 26px;
}

.MultiMarginRightLarge {
    margin-right: 26px;
}

.MultiMarginTopLarge {
    margin-top: 26px;
}

.MultiMarginBottomLarge {
    margin-bottom: 26px;
}




/** multimarginLargest **/

.MultiMarginLargest {
    margin: 42px;
}

.MultiMarginLeftLargest {
    margin-left: 42px;
}

.MultiMarginRightLargest {
    margin-right: 42px;
}

.MultiMarginTopLargest {
    margin-top: 42px;
}

.MultiMarginBottomLargest {
    margin-bottom: 42px;
}







/** MultiMarginMedium **/

.MultiMarginMedium {
    margin: 16px;
}

.MultiMarginLeftMedium {
    margin-left: 16px;
}

.MultiMarginRightMedium {
    margin-right: 16px;
}

.MultiMarginTopMedium {
    margin-top: 16px;
}

.MultiMarginBottomMedium {
    margin-bottom: 16px;
}



/** multimarginXSmall **/
.FA .MultiMarginLeftXSmall,
.AR .MultiMarginLeftXSmall {
    margin-left: auto;
    margin-right: 6px;
}

.FA .MultiMarginRightXSmall,
.AR .MultiMarginRightXSmall {
    margin-right: auto;
    margin-left: 6px;
}

/** multimarginSmall **/
.FA .MultiMarginLeftSmall,
.AR .MultiMarginLeftSmall {
    margin-left: auto;
    margin-right: 10px;
}

.FA .MultiMarginRightSmall,
.AR .MultiMarginRightSmall {
    margin-right: auto;
    margin-left: 10px;
}


/** multimarginMedium **/
.FA .MultiMarginLeftMedium,
.AR .MultiMarginLeftMedium {
    margin-left: auto;
    margin-right: 16px;
}

.FA .MultiMarginRightMedium,
.AR .MultiMarginRightMedium {
    margin-right: auto;
    margin-left: 16px;
}




/** multimarginLarge **/
.FA .MultiMarginLeftLarge,
.AR .MultiMarginLeftLarge {
    margin-left: auto;
    margin-right: 26px;
}

.FA .MultiMarginRightLarge,
.AR .MultiMarginRightLarge {
    margin-right: auto;
    margin-left: 26px;
}


/** multimarginLargest **/
.FA .MultiMarginLeftLargest,
.AR .MultiMarginLeftLargest {
    margin-left: auto;
    margin-right: 42px;
}

.FA .MultiMarginRightLargest,
.AR .MultiMarginRightLargest {
    margin-right: auto;
    margin-left: 42px;
}