div.SSD_ListLine {
	background-color: #fff;
	border-bottom: 1px solid #c9cdce;
	border-top: 0 solid #00bfa5;
	position: relative;
	-webkit-transition: border 200ms linear, margin 200ms linear;
	-moz-transition: border 200ms linear, margin 200ms linear;
	transition: border 200ms linear, margin 200ms linear;

	&.WithBorder {
		border: 1px solid #00bfa5;
		margin-top: -1px;

		&.First {
			margin-top: 0px;
		}
	}

	&.Active {
		border-top: 2px solid #00bfa5;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	&.WithBorder.First.Active {
		margin-top: 0px;
	}

	&.GreyedOut {
		background-color: transparent;
		border: 1px solid #ebebeb;
	}

	&.NoControls.GreyedOut.WithBorder {
		border: 1px solid #ebebeb;
	}

	&.Active.GreyedOut {
		background-color: #fff;
	}

	&.GreaterMarginBottom,
	&.Active.GreaterMarginBottom {
		margin-bottom: 30px;
	}

	&.GreyedOut > div.LineHeader {
		background-color: #f5f5f5;
	}

	&.Active.GreyedOut > div.LineHeader {
		background-color: transparent;
	}

	&.GreyedOut > div.LineHeader > div {
		&.OtherControl,
		&.OtherControlLeft {
			cursor: default;
			font-size: 1.1rem;
			padding: 12px;
		}
	}

	> div.LineHeader {
		display: table;
		width: 100%;

		/*height: 4.167rem;*/
	}

	&.SSD_ListLine-Iframe > div.LineHeader {
		position: relative;
		z-index: 1;
	}

	&.Active > div.LineHeader {
		background: linear-gradient(rgba(8, 166, 175, 0.1), transparent);
		pointer-events: none;
	}

	&.Disabled > div.LineHeader,
	&:not(.Active):hover > div.LineHeader {
		background-color: #ecf6f8;
	}
}

// div.SSD_ListLine:not(.Active):not(.NoControls):hover {
//   background-color: #E6F3F5;
// }

.KeyboardNav .SSD-List {
	span.SSD_ListRecords > span.focus div.LineHeader,
	.SSD_ListLine.ShowMore.focus > div.LineHeader {
		background-color: #ecf6f8;
	}
}

div.SSD_ListLine {
	&.Disabled > div.LineHeader > div {
		&.Label,
		&.OtherControl,
		&.OtherControlLeft {
			color: #7bb2bf;
		}

		&.OtherControl,
		&.OtherControlLeft {
			cursor: default;
			padding: 12px;
		}
	}

	> div.LineHeader > div {
		&.OtherControl,
		&.OtherControlLeft {
			cursor: default;
			padding: 12px;
		}

		display: table-cell;
		vertical-align: middle;
		width: 68%;

		&:nth-child(1) {
			width: 1%;
		}

		&:nth-child(2) {
			width: 55%;
		}

		&:nth-child(3) {
			width: 27%;
		}

		&:nth-child(4) {
			line-height: 32px;
			width: 10%;
		}

		&.Icon {
			display: table-cell;
			text-align: -webkit-center;
			transition: opacity 500ms linear;
			width: 6%;

			> a {
				display: block;
				display: table-cell;
				height: 4.16rem;
				text-align: center;
				vertical-align: middle;
				width: 100%;
			}
		}
	}

	&.Active > div.LineHeader > div.Icon {
		opacity: 0;
		pointer-events: none;
	}

	> div.LineHeader > div {
		&.Icon:empty {
			display: none;
		}

		&.Label {
			color: #0c1d22;
			font-size: 1.4rem;
			padding: 5px;

			span.Heading3 {
				display: inline;
			}
		}

		&.Icon:empty + div.Label {
			padding-left: 10px;
		}
	}
}

div.SSD_ListLine > div.LineHeader > div:empty {
	display: none;
}

@media (max-width: 1368px) {
	div.SSD_ListLine > div.LineHeader > div.Label {
		color: #0c1d22;
		font-size: 1.2rem;
		line-height: 18px;
		padding: 12px;
	}

	.label-text .CareList {
		max-width: 520px;
	}
}

.rtl div.SSD_ListLine > div.LineHeader > div.Icon:empty + div.Label {
	padding-left: 0;
	padding-right: 10px;
}

div.SSD_ListLine {
	> div.LineHeader > div.Label {
		span[description],
		div[description] {
			color: #7c7f7f;
		}
	}

	&.Active > div.LineHeader > div.Label {
		.label-text,
		.detail-text {
			pointer-events: all;
			vertical-align: middle;
		}
	}
}

.label-text .CareList {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 700px;
}

/*Wrap the text */

div.SSD_ListLine {
	&.Active {
		> div.LineHeader > div.Label {
			.label-text {
				white-space: normal;
			}

			.other-information {
				display: none;
			}
		}

		> div.LineHeader > div {
			&.ExpandControl,
			&.OtherControl,
			&.OtherControlLeft {
				min-width: 10rem;
				visibility: hidden;
			}
		}
	}

	> div.LineHeader > div {
		&.ExpandControl > a,
		&.ToggleActions > a {
			display: block;
			height: 4.167rem;
			padding: 0.8333rem;
		}
	}

	> div.ExpandableContent {
		display: none;
	}

	&.SSD_ListLine-Iframe > div.ExpandableContent {
		background-color: #fff;
		position: relative;
		z-index: 0;
	}

	&.Active > div.ExpandableContent {
		background-color: #fff;
		display: block;
		height: 100%;
		padding: 20px 10px;
	}
}

/*
  div.SSD_ListLine > div.LineHeader > div.OtherControlLeft,
  div.SSD_ListLine.BigOtherControl > div.LineHeader > div.OtherControl {
	width: auto;
  }*/

/* HELP CLASSES */

.SelectableList-ListRecords div.SSD_ListLine {
	&.Active {
		margin: 0;
	}

	&:last-child {
		border-bottom: 1px solid #08a6af;
	}
}

.SelectableList-EmptyMessage {
	border: 1px solid #c9cdce;
	color: #7c7f7f;
	display: block;
	font-size: 1.2rem;
	min-height: 4.417rem;
	padding: 1.25rem;
	text-align: center;

	&.NoBorder {
		border: none;
	}
}

div.SSD_ListLine {
	> div.ExpandableContent {
		.iframe-loading {
			margin-top: 4.167rem;
		}

		.InlineMenu-Wrapper {
			background-color: #fff;
			height: 100%;
			margin-bottom: -3.167rem;
			padding: 0 10px;
			position: relative;
			top: -2.167rem;
			width: 100%;
		}
	}

	.LineHeader .OtherControl .labelforStyle {
		padding-left: 5px;
	}
}

/* Fix 31/01/18*/

/* Fix 02/02/18*/

.SSD_ListLine .InlineMenu-Wrapper iframe {
	height: 100%;
	width: 100%;
}

.SectionTitles.Area tr td {
	width: 100%;
}

/*Templates Align*/

.template-item .FormVertical {
	display: table;

	display: initial;

	.VerticalInputLabel {
		display: table-cell;

		+ div {
			display: table-cell;
			padding-left: 5px;
		}
	}
}

.OtherControl {
	padding: 0;
}

div.SSD_ListLine {
	> div.LineHeader > div {
		&.ExpandControl > a {
			padding-right: 0;
		}

		&:nth-child(3) {
			/*   width: 27%;
		  float:right;
		  height: 100%;*/
			line-height: 32px;

			.IconVertical {
				line-height: 20px;
			}
		}

		&.Icon {
			&:empty {
				display: none;
			}

			> a {
				display: block;
				height: 4.16rem;
				text-align: center;
			}
		}
	}

	&.Active > div.LineHeader > div.Icon {
		opacity: 0;
		pointer-events: none;
	}

	> div.LineHeader > div {
		&.Label {
			color: #0c1d22;
			font-size: 1.4rem;
			padding: 5px;
			white-space: normal;
			width: 73%;

			span.Heading3 {
				display: inline;
			}
		}

		&.Icon:empty + div.Label {
			padding-left: 10px;
			width: 76%;
		}
	}
}

/**** added more to align****/

/*the code above doesnt work for icons, this will overwrite*/

/**********************SOMOE IMPROVEMENTS TO MAKE UPDATE***************************************************/

/*
		SSD_ListLine webblock
  */

@media (max-width: 1368px) {
	div.SSD_ListLine > div.LineHeader > div.Label {
		color: #0c1d22;
		font-size: 1.2rem;
		line-height: 18px;
		padding: 12px;
	}
}

.rtl div.SSD_ListLine > div.LineHeader > div.Icon:empty + div.Label {
	padding-left: 0;
	padding-right: 10px;
}

div.SSD_ListLine {
	> div.LineHeader > div.Label {
		span[description],
		div[description] {
			color: #7c7f7f;
		}
	}

	&.Active > div.LineHeader > div.Label {
		.label-text,
		.detail-text {
			pointer-events: all;
			vertical-align: middle;
		}

		.label-text {
			max-width: 75%;

			/*75%;*/
			white-space: normal;

			/*white-space: nowrap;
		  text-overflow: ellipsis;
		  overflow: hidden;*/
		}
	}
}

/*Wrap the text */
/*DE63990 talked with UI/UX*/

/*Inside HospitPlan*/

.HospitalizationPlan_Content__Cards
	.SSD_ListLine.Active
	> div.LineHeader
	> div.Label
	.label-text {
	max-width: 60%;
}

div.SSD_ListLine {
	&.Active > div.LineHeader > div.Label .other-information {
		display: none;
	}

	> div.LineHeader > div {
		&.ExpandControl > a,
		&.ToggleActions > a {
			display: block;
			height: 4.167rem;
			padding: 0.8333rem;
			text-align: right;
		}
	}
}

.FA div.SSD_ListLine > div.LineHeader > div.ExpandControl > a,
.AR div.SSD_ListLine > div.LineHeader > div.ExpandControl > a {
	text-align: left;
}

div.SSD_ListLine {
	&.Active > div.LineHeader > div {
		&.ExpandControl,
		&.OtherControl,
		&.OtherControlLeft {
			min-width: 10rem;
			visibility: hidden;
		}
	}

	> div.ExpandableContent {
		display: none;
	}

	&.SSD_ListLine-Iframe > div.ExpandableContent {
		background-color: #fff;
		position: relative;
		z-index: 0;
	}

	&.Active > div.ExpandableContent {
		background-color: #fff;
		display: block;
		height: 100%;
	}
}

/* HELP CLASSES */

.SelectableList-ListRecords div.SSD_ListLine {
	&.Active {
		margin: 0;
	}

	&:last-child {
		border-bottom: 1px solid #08a6af;
	}
}

.SelectableList-EmptyMessage {
	border: 1px solid #c9cdce;
	color: #7c7f7f;
	display: block;
	font-size: 1.2rem;
	min-height: 4.417rem;
	padding: 1.25rem;
	text-align: center;

	&.NoBorder {
		border: none;
	}
}

div.SSD_ListLine {
	> div.ExpandableContent .iframe-loading {
		margin-top: 4.167rem;
	}

	.LineHeader .OtherControl .labelforStyle {
		padding-left: 5px;
	}
}

/* Fix 31/01/18*/

/* Fix 02/02/18*/

.SSD_ListLine .InlineMenu-Wrapper iframe {
	/*    width: 100% !important;
	  /*height: 100vh !important;*/
	/*  height:100% !important;*/

	height: 100%;
	width: 100%;
}

.SectionTitles.Area tr td {
	&:first-child {
		/*  white-space:normal !important ;*/
	}

	width: 100%;
}

/*Templates Align*/

.template-item .FormVertical {
	display: table;

	display: initial;

	.VerticalInputLabel {
		display: table-cell;

		+ div {
			display: table-cell;
			padding-left: 5px;
		}
	}
}

div.SSD_ListLine > div.LineHeader > div.Icon > div:empty {
	width: 50px;
}

.SSD_ListLine .Label {
	&.Clickable .detail-text.MultiMarginLeft10.Text_Size14 {
		display: block;
		margin: 0;
		width: 100%;
	}

	.detail-text:empty {
		display: none;
	}
}

div.SSD_ListLine.Active > div.LineHeader > div {
	&.Icon {
		display: none;

		+ .Label {
			padding-left: 20px;
		}
	}

	&.Label .detail-text {
		display: block;
		margin: 0;
		max-width: 70% !important;
	}
}
