.PrescriptionCard {
	background-color: $regular-white;
	border-radius: $border-radius-medium;
	color: $sapphire-color-text-regular;
	display: table;
	padding: 16px;

	&.Critical {
		border: 1px solid $dark-red;
	}

	&.High {
		border: 1px solid $regular-red;
	}

	&.Moderate {
		border: 1px solid $dark-orange;
	}

	&.Low {
		border: 1px solid $regular-yellow;
	}

	&.Information {
		border: 1px solid $regular-blue;
	}

	&.Unknown {
		border: 1px solid $mid-dark-grey;
	}

	.PH:empty {
		display: none;
	}

	.ExpanDiv {
		display: block;
		height: 0px;
		overflow-y: hidden;

		&.IsOpen {
			height: auto;
			overflow-y: hidden;
		}
	}

	.PrescriptionIcons {
		color: $mid-dark-grey;
		padding-right: 20px;

		> div,
		> div > span {
			vertical-align: middle;
		}

		.PrescriptionIconRight {
			vertical-align: bottom;
		}
	}

	.PrescriptionIconsNoBorder {
		border: none;
	}

	.ActionsAndTextContent {
		> div {
			text-align: right;
		}

		a {
			text-decoration: underline !important;
		}

		.InteractionText {
			color: $regular-red;
			font-family: $font-family-latin-bold;
			text-align: right;
			text-transform: uppercase;
			width: 100%;
		}

		.SeeMore,
		.ActionsPlaceholder {
			color: $regular-beta;
			cursor: pointer;
			font-family: $font-family-latin-bold;
		}
	}

	.RiskPlaceholder {
		.DoubleText .FirstLine_Mutitext {
			font-family: $font-family-latin-bold;
			line-height: 20px;
		}

		.DoubleText .SecondLine_Multitext {
			line-height: 20px;
		}
	}

	.PrescriptionText {
		margin-left: 10px;
	}

	.InformationContent {
		display: block;
		margin-top: 10px;
	}

	.InformationText {
		font-size: 1em;
		line-height: 20px;

		&.Critical {
			color: $dark-red;
		}

		&.High {
			color: $regular-red;
		}

		&.Moderate {
			color: $dark-orange;
		}

		&.Low {
			color: $dark-yellow;
		}

		&.Information {
			color: $dark-blue;
		}

		&.Unknown {
			color: $regular-gray;
		}
	}

	.PrescriptionContent,
	.ActionsAndTextContent {
		display: table-cell;
	}

	.RiskPlaceholder,
	.InteracTypePlaceholder {
		margin-top: 0px;
	}

	.InteractionText,
	.PrescriptionText {
		font-family: $font-family-latin-bold;
		font-size: 1.143em;
	}

	.HideDiv {
		visibility: hidden;

		.PrescriptionIconRight {
			width: 1.3857142857142858em;
		}
	}

	&___Compare {
		font-size: 0.786em;
		margin: 0 10px;
		vertical-align: middle;
	}
}

.AR,
.FA {
	.PrescriptionIcons {
		border-right: 1px solid transparent;
		padding-left: 20px;
		padding-right: 0;
	}

	.PrescriptionCard .ActionsAndTextContent .InteractionText {
		text-align: left;
	}

	.MedicationInteractionContainer {
		text-align: right;
	}

	.ActionsAndTextContent > div {
		text-align: left;
	}

	.PrescriptionText {
		margin-right: 20px;
	}
}
