.PrescriptionCardList {
	border-radius: $border-radius-default;

	&.Critical {
		border: 1px solid $dark-red;

		.PrescriptionCard {
			background-color: #fffafb;
		}
	}

	&.High {
		border: 1px solid $regular-red;

		.PrescriptionCard {
			background-color: #fffafa;
		}
	}

	&.Moderate {
		border: 1px solid $dark-orange;

		.PrescriptionCard {
			background-color: #fffdfa;
		}
	}

	&.Low {
		border: 1px solid $dark-yellow;

		.PrescriptionCard {
			background-color: #fffefa;
		}
	}

	&.Information {
		border: 1px solid $dark-blue;

		.PrescriptionCard {
			background-color: #fafbff;
		}
	}

	&.Unknown {
		border: 1px solid $regular-grey;

		.PrescriptionCard {
			background-color: #fcfcfc;
		}
	}

	.PrescriptionCard {
		border-bottom: 0;
		border-left: 0;
		border-radius: 0;
		border-right: 0;

		&:first-of-type {
			border: 0;
			border-top-left-radius: $border-radius-default;
			border-top-right-radius: $border-radius-default;
		}

		&:last-of-type {
			border: 0;
			border-bottom-left-radius: $border-radius-default;
			border-bottom-right-radius: $border-radius-default;
		}

		&:not(:first-of-type) {
			border-top: 1px solid rgba(77, 92, 102, 0.2);
		}

		&_ShowMore {
			border-bottom-left-radius: $border-radius-default;
			border-bottom-right-radius: $border-radius-default;
			border-top: 1px solid rgba(77, 92, 102, 0.2);
			padding: 15px 0px;
			text-align: center;
			width: 100%;

			&.Critical {
				background-color: #fffafb;
			}

			&.High {
				background-color: #fffafa;
			}

			&.Moderate {
				background-color: #fffdfa;
			}

			&.Low {
				background-color: #fffefa;
			}

			&.Information {
				background-color: #fafbff;
			}

			&.Unknown {
				background-color: #fcfcfc;
			}

			&.hidden {
				display: none;
			}

			a {
				color: $regular-alpha;
				font-family: $font-family-latin-bold;
				font-size: 1em;
				line-height: 20px;
			}
		}

		.InformationText {
			color: $regular-red;
		}
	}
}
